[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_whatsnextprint
Name=What's Next print style
Name[da]=Hvad er det næste-udskriftsstil
Name[es]=Estilo de impresión de «Qué es lo siguiente»
Name[et]='Mis järgmiseks?' trükkimise stiil
Name[fr]=Impression de la suite du programme
Name[pt]=Estilo de impressão "o que se segue"
Name[pt_BR]=Estilo de impressão "o que se segue"
Name[ru]=Печать дайджеста "Что дальше?"
Name[sv]=Vad står på tur-utskriftsstil
Name[tr]=Sonrakini yazdırma biçemi
Name[uk]=Стиль друку "Що далі?"
Comment=This plugin allows you to print out a list of all upcoming events and to-dos.
Comment[bg]=Приставката служи за печат на бъдещи събития и задачи в списъчна форма.
Comment[da]=Dette plugin gør at du kan udskrive en liste med alle kommende begivenheder og opgaver.
Comment[es]=Esta extensión le permite imprimir una lista de todos los eventos y tareas pendientes futuros.
Comment[et]=See plugin võimaldab trükkida kõigi eelseisvate sündmuste ja ülesannete nimekirja.
Comment[fr]=Ce module vous permet d'imprimer la liste des prochaines évènements et des prochaines tâches.
Comment[nl]=Deze plugin maakt het mogelijk om een lijst van alle komende evenementen en taken uit te printen.
Comment[pt]=Este 'plugin' permite-lhe imprimir uma lista com todos os eventos e itens por-fazer próximos.
Comment[pt_BR]=Este 'plugin' permite-lhe imprimir uma lista com todos os eventos e itens por-fazer próximos.
Comment[ru]=Этот модуль позволяет печатать список будущих событий и задач.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut en lista med alla kommande händelser och uppgifter.
Comment[tr]=Bu eklenti bütün bekleyen olayları ve yapılacaklar listesini dışarıda yazmanıza izin verir.
Comment[uk]=Цей втулок дозволяє друкувати список всіх майбутніх подій та завдань.
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
