[Desktop Entry]
X-KDE-Library=korg_picoftheday
Name=Wikipedia Picture Of the Day Plugin for Calendars
Name[bg]=Приставка на календара за дати и смятане с дати
Name[ca]=Connector d'imatge del dia de la Viquipèdia per als calendaris
Name[cs]=Wikipedia modul 'Obrázek dne' pro kalendáře
Name[da]=Wikipedia dagens billede-plugin for kalendere
Name[de]=Bild des Tages aus Wikipedia für den Kalender
Name[el]=Πρόσθετο εικόνας της ημέρας της Wikipedia για Ημερολόγια
Name[es]=Complemento de imagen del día de la Wikipedia para calendarios
Name[et]=Wikipedia päevapildi plugin kalendritele
Name[fa]=عکس ویکی پدیا از وصلۀ روز برای تقویمها
Name[fi]=Wikipedian päivän kuva -liitännäinen
Name[fr]=Module externe « Image du jour » de Wikipédia
Name[gl]=Engadido para a Imaxe do Dí­a da Wikipedia nos Calendarios
Name[it]=Estensione "foto del giorno" di Wikipedia per i calendari
Name[ja]=Wikipedia 今日の写真プラグイン
Name[km]=រូបភាព​របស់ Wikipedia នៃ​​កម្មវិធី​ជំនួយ​ថ្ងៃ​សម្រាប់​ប្រតិទិន
Name[ko]=달력을 위한 위키백과 오늘의 그림 플러그인
Name[lt]=Wikipedijos dienos nuotraukų priedas kalendoriams
Name[lv]=Wikipedia dienas attēla kalendāru spraudnis
Name[nb]=Wikipedia Dagens Bilde programtillegg for Kalender
Name[nds]=Wikipedia-"Bild för Vundaag"-Moduul för Kalenners
Name[ne]=क्यालेन्डरका लागि दिनको प्लगइनको विकिपेडिया तस्वीर
Name[nl]=KOrganizer-plugin voor de Wikipedia Afbeelding van de Dag
Name[nn]=Kalender-programtillegg for dagens bilete frå Wikipedia
Name[pa]=ਕੈਲੰਡਰ ਲਈ ਦਿਨ ਦੀ ਵਿਕਿਪੀਡਿਆ ਤਸਵੀਰ ਪਲੱਗਇਨ
Name[pl]=Grafika na medal z Wikipedii dla kalendarzy
Name[pt]='Plugin' de Imagem do Dia do Wikipédia para Calendários
Name[pt_BR]=Plug-in de Imagem do Dia da Wikipedia para Calendários
Name[sl]=Vstavek za Wikipedijin »Slika dneva« za koledarje
Name[sv]=Insticksprogram för kalendrar med 'Dagens bild' från Wikipedia
Name[tr]=Takvimler için Wikipedia Günün Resmi Eklentisi
Name[uk]=Втулка дат для календарів (зображення дня з Wikipedia)
Name[x-test]=xxWikipedia Picture Of the Day Plugin for Calendarsxx
Name[zh_CN]=日历的每日 Wikipedia 贴图插件
Name[zh_TW]=行事曆維基「本日圖片」外掛程式
Type=Service
Comment=This plugin provides the Wikipedia Picture of the Day
Comment[ca]=Aquest connector proporciona la imatge del dia de la Viquipèdia
Comment[da]=Dette plugin viser Dagens billede fra Wikipedia
Comment[de]=Dieses Modul stellt das Bild des Tages aus Wikipedia zur Verfügung.
Comment[el]=Αυτό το πρόσθετο προσφέρει την εικόνα της ημέρας της Wikipedia.
Comment[es]=Este complemento provee la Imagen del Día de Wikipedia
Comment[et]=See plugin näitab Wikipedia päevapilti
Comment[fr]=Ce module externe fourni l'image du jour de Wikipédia
Comment[gl]=Este engadido fornece a Imaxe do Dí­a da Wikipedia
Comment[it]=Questa estensione fornisce la "foto del giorno" di Wikipedia
Comment[ja]=Wikipedia の「今日の写真」を提供します。
Comment[km]=កម្មវិធី​ជំនួយ​នេះ ផ្ដល់​នូវ​រូបភាព​ថ្ងៃនេះ​របស់ Wikipedia
Comment[ko]=위키백과 오늘의 그림을 표시합니다
Comment[lt]=Šis priedas pateikia Wikipedijos dienos nuotrauką
Comment[lv]=Šis spraudnis piegādā Vikipēdijas dienas attēlu
Comment[nb]=Dette programtillegget henter Wikipedias Dagens bilde
Comment[nds]=Dit Moduul stellt dat »Bild för Vundaag« vun Wikipedia praat
Comment[nl]=Deze plugin geeft de Wikipedia-afbeelding van de dag
Comment[nn]=Dette programtillegget viser dagens bilete frå Wikipedia.
Comment[pl]=Wtyczka dostarcza Obrazek Dnia Wikipedii
Comment[pt]=Este 'plugin' oferece a Imagem do Dia do Wikipédia
Comment[pt_BR]=Este plug-in oferece a Imagem do Dia da Wikipedia
Comment[sl]=Ta vstavek ponuja sliko dneva z Wikipedije
Comment[sv]=Insticksprogrammet tillhandahåller Wikipedias 'Dagens bild'
Comment[tr]=Bu eklenti Wikipedia'dan Günün Resmini getirir
Comment[uk]=Цей додаток працює з «Зображеннями дня» з Вікіпедії
Comment[x-test]=xxThis plugin provides the Wikipedia Picture of the Dayxx
Comment[zh_CN]=此插件提供对 Wikipedia 每日图片的支持
Comment[zh_TW]=此外掛程式提供連結到維基百科中的「本日圖片」。
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
