[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar
Comment=Shows dates and Jewish holidays in the Hebrew calendar system.
Type=Service
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
