[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar
Name[ar]=التّقويم اليهوديّ
Name[bg]=Еврейски календар
Name[ca]=Calendari jueu
Name[ca@valencia]=Calendari jueu
Name[cs]=Židovský kalendář
Name[es]=Calendario hebreo
Name[fr]=Calendrier juif
Name[he]=לוח השנה העברי
Name[ia]=Calendario judee
Name[it]=Calendario ebraico
Name[ka]=ებრაული კალენდარი
Name[nl]=Joodse kalender
Name[pt_BR]=Calendário judaico
Name[sk]=Židovský kalendár
Name[sl]=Židovski koledar
Name[sv]=Judisk kalender
Name[tr]=Mûsevî Takvimi
Name[uk]=Єврейський календар
Comment=Shows dates and Jewish holidays in the Hebrew calendar system.
Comment[ar]=يعرض التواريخ والأعياد اليهودية وفقًا لنظام التقويم العبري.
Comment[bg]=Показва дати и юдейски празници в системата на Еврейския календар.
Comment[ca]=Mostra les dates i els festius jueus en el sistema del calendari hebreu.
Comment[ca@valencia]=Mostra les dates i els festius jueus en el sistema del calendari hebreu.
Comment[cs]=Zobrazuje data a židovské svátky podle hebrejského kalendáře.
Comment[es]=Muestra las fechas y las festividades judías según el calendario hebreo.
Comment[fr]=Affiche toutes les dates et jours fériés judaïques selon le système de calendrier hébreux.
Comment[he]=הצגת תאריכים וחגים יהודיים במערכת לוח השנה העברית.
Comment[ia]=Monstra datas e festas judee in le systema de calendario Hebree.
Comment[it]=Mostra date e festività ebraiche nel sistema di calendario ebraico.
Comment[ka]=აჩვენებს თარიღებს და ებრაულ დღესასწაულებს ებრაული კალენდრის სისტემაში.
Comment[nl]=Toont datums en Joodse feestdagen in het Hebreeuwse kalendersysteem.
Comment[pt_BR]=Exibe datas e feriados judaicos no sistema do calendário hebraico.
Comment[sk]=Zobrazuje dátumy a židovské sviatky v hebrejskom kalendárnom systéme.
Comment[sl]=Pokaže datume in judovske praznike v hebrejskem koledarskem sistemu.
Comment[sv]=Visar datum och judiska högtider med det hebreiska kalendersystemet.
Comment[tr]=İbrânî takvim sistemindeki tüm tarihleri ve Mûsevî tatillerini gösterir
Comment[uk]=Показує дати і єврейські свята у єврейській системі календаря.
Type=Service
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
