[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar
Name[af]=Joodse kalender inprop module
Name[ar]=ملحق التّقويم اليهوديّ
Name[bg]=Приставка за юдейски календар
Name[br]=Lugent deiziadur yudev
Name[bs]=Dodatak za Jevrejski Kalendar
Name[ca]=Connector de calendari jueu
Name[ca@valencia]=Connector de calendari jueu
Name[cs]=Modul židovského kalendáře
Name[da]=Jødisk kalender-plugin
Name[de]=Modul für jüdischen Kalender
Name[el]=Πρόσθετο εβραϊκού ημερολογίου
Name[en_GB]=Jewish Calendar
Name[eo]=Kromprogramo por Juda Kalendaro
Name[es]=Complemento de calendario hebreo
Name[et]=Juudi kalendri plugin
Name[eu]=Egutegi juduaren plugina
Name[fa]=وصله تقویم یهودی
Name[fi]=Juutalaisen kalenterin laajennus
Name[fr]=Module de prise en charge du calendrier juif
Name[fy]=Joadske kalenderplugin
Name[ga]=Breiseán Féilire Giúdaí
Name[gl]=Complemento para o calendario xudeu
Name[he]=תוסף לוח שנה עברי
Name[hu]=Bővítőmodul a zsidó naptár kezeléséhez
Name[ia]=Plug-in pro calendario judee
Name[is]=Gyðinga dagatalsíforrit
Name[it]=Estensione calendario ebraico
Name[ka]=ებრაული კალენდრის დამატება
Name[kk]=Яһуди күнтізбесінің плагині
Name[km]=កម្មវិធី​ជំនួយ​ប្រតិទិន Jewish
Name[ko]=히브리 달력 플러그인
Name[lt]=Žydų kalendoriaus įskiepis
Name[lv]=Ebreju kalendāra spraudnis
Name[mk]=Приклучок за еврејски календар
Name[mr]=यहूदी दिनदर्शिका प्लगइन
Name[ms]=PLugin Kalender Yahudi
Name[nds]=Moduul för jöödschen Kalenner
Name[ne]=यहूदी क्यालेन्डर प्लगइन
Name[nl]=Joodse kalenderplug-in
Name[pl]=Wtyczka kalendarza żydowskiego
Name[pt_BR]=Plugin do calendário judaico
Name[ru]=Еврейский календарь
Name[sa]=यहूदी कैलेंडर प्लगइन
Name[sk]=Modul Židovského kalendára
Name[sl]=Vstavek za židovski koledar
Name[sv]=Insticksprogram för judisk kalender
Name[ta]=ஜூவிஷ் நாள்காட்டி சொருகுப்பொருள்
Name[tg]=Тақвимоти яҳудӣ
Name[tr]=Musevî Takvimi Eklentisi
Name[ug]=ئىبرانى يىلنامە قىستۇرمىسى
Name[uk]=Додаток єврейського календаря
Name[wa]=Tchôke-divins calindrî djwif
Name[zh_CN]=犹太历插件
Name[zh_TW]=猶太行事曆外掛程式
Comment=Shows dates and Jewish holidays in the Hebrew calendar system.
Comment[en_GB]=Shows dates and Jewish holidays in the Hebrew calendar system.
Type=Service
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
