[Desktop Entry]
Icon=favorites
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_sdsummary
X-KDE-FactoryName=sdsummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=500

Name=Upcoming Special Dates
Name[ar]=المواعيد الخاصة القادمة
Name[bg]=Special Dates
Name[bs]=Dolazeći posebni datumi
Name[ca]=Dates especials properes
Name[ca@valencia]=Dates especials properes
Name[cs]=Nadcházející speciální data
Name[da]=Kommende særlige datoer
Name[de]=Besondere anstehende Termine
Name[el]=Επόμενες σημαντικές ημερομηνίες
Name[en_GB]=Upcoming Special Dates
Name[es]=Fechas especiales próximas
Name[et]=Tulevased tähtpäevad
Name[fa]=تاریخهای ویژه آینده نزدیک
Name[fi]=Tulevat merkkipäivät
Name[fr]=Prochaines dates particulières
Name[ga]=Dátaí Speisialta Le Teacht
Name[gl]=Vindeiras datas especiais
Name[hu]=Fontos dátumok a közeljövőben
Name[ia]=Veniente datas special
Name[it]=Prossime date speciali
Name[ja]=近日中の特別な日
Name[kk]=Болашақ ерекше күндер
Name[km]=កាលបរិច្ឆេទ​ពិសេស​ដែលនឹង​កើត​ឡើង
Name[ko]=다가오는 기념일
Name[lt]=Artėjančios ypatingos datos
Name[lv]=Gaidāmie īpašie datumi
Name[mr]=पुढे येणारे विशिष्ठ दिनांक
Name[nb]=Kommende spesielle datoer
Name[nds]=Anstahn besünner Daag
Name[ne]=सम्भावित विशेष मिति
Name[nl]=Nabije speciale datums
Name[nn]=Kommande spesielle datoar
Name[pa]=ਆ ਰਹੀਆਂ ਖਾਸ ਮਿਤੀਆਂ
Name[pl]=Daty specjalne
Name[pt]=Próximas Datas Especiais
Name[pt_BR]=Próximas datas especiais
Name[ro]=Zile speciale apropiate
Name[ru]=Предстоящие особые даты
Name[sk]=Nadchádzajúce mimoriadne termíny
Name[sl]=Posebni prihodnji datumi
Name[sr]=Наступајући посебни датуми
Name[sr@ijekavian]=Наступајући посебни датуми
Name[sr@ijekavianlatin]=Nastupajući posebni datumi
Name[sr@latin]=Nastupajući posebni datumi
Name[sv]=Förestående speciella datum
Name[th]=วันพิเศษที่ใกล้จะถึง
Name[tr]=Yaklaşan Özel Tarihler
Name[uk]=Майбутні особливі дати
Name[wa]=Sipeciålès dates a vni
Name[x-test]=xxUpcoming Special Datesxx
Name[zh_CN]=近期特殊日期
Name[zh_TW]=將來臨的特殊日期
Comment=Upcoming Special Dates Summary Setup
Comment[ar]=إعداد ملخص المواعيد الخاصة القادمة
Comment[bg]=Настройки на специалните случаи
Comment[bs]=Postavke kratkog sadržaja dolazećih posebnih datuma
Comment[ca]=Configuració del resum per a les dates especials properes
Comment[ca@valencia]=Configuració del resum per a les dates especials properes
Comment[cs]=Nastavení souhrnu speciálních dat
Comment[da]=Opsætning af oversigt over kommende særlige datoer
Comment[de]=Einstellung der Übersicht über besondere anstehende Termine
Comment[el]=Ρύθμιση σύνοψης επόμενων σημαντικών ημερομηνιών
Comment[en_GB]=Upcoming Special Dates Summary Setup
Comment[es]=Configuración del resumen de fechas especiales próximas
Comment[et]=Tulevaste tähtpäevade kokkuvõtte seadistus
Comment[fa]=برپایی خلاصه تاریخهای ویژه آینده نزدیک
Comment[fi]=Tulevien merkkipäivien yhteenvedon asetukset
Comment[fr]=Configuration du résumé des dates particulières
Comment[ga]=Socrú Achoimre ar Dhátaí Speisialta Le Teacht
Comment[gl]=Configuración do resumo das vindeiras datas especiais
Comment[hu]=A közeli fontos dátumok áttekintőjének beállításai
Comment[ia]=Configuration de summario de veniente datas special
Comment[it]=Impostazioni per il sommario delle prossime date speciali
Comment[ja]=近日中の特別な日の要約設定
Comment[kk]=Болашақ ерекше күндер мазмұндамасын баптау
Comment[km]=ការ​រៀបចំ​សេចក្ដី​សង្ខេប​កាលបរិច្ឆេទ​ពិសេស​ដែល​នឹង​កើតឡើង
Comment[ko]=다가오는 기념일 요약 설정
Comment[lt]=Artėjančių ypatingų datų santraukos sąranka
Comment[lv]=Gaidāmo īpašo datumu kopsavilkuma iestatījumi
Comment[mr]=पुढे येणारे विशिष्ठ दिनांक सारांश संयोजना
Comment[nb]=Sammendragsoppsett for kommende spesielle datoer
Comment[nds]=De Översicht för anstahn besünner Daten instellen
Comment[ne]=सम्भावित विशेष मिति सारांश सेटअप
Comment[nl]=Overzichtsinstellingen nabije speciale datums
Comment[nn]=Oppsett av samandrag av spesielle datoar
Comment[pa]=ਆ ਰਹੀਆਂ ਖਾਸ ਮਿਤੀਆਂ ਸੰਖੇਪ ਸੈਟਅੱਪ
Comment[pl]=Ustawienia podsumowania dat specjalnych
Comment[pt]=Configuração do Resumo das Próximas Datas Especiais
Comment[pt_BR]=Configuração do resumo da próximas datas especiais
Comment[ro]=Configurare Sumar zile speciale apropiate
Comment[ru]=Настройка показа предстоящих особых дат
Comment[sk]=Súhrnný výber nadchádzajúcich mimoriadnych termínov
Comment[sl]=Nastavitve povzetka posebnih prihodnjih datumov
Comment[sr]=Подешавање сажетка наступајућих посебних датума
Comment[sr@ijekavian]=Подешавање сажетка наступајућих посебних датума
Comment[sr@ijekavianlatin]=Podešavanje sažetka nastupajućih posebnih datuma
Comment[sr@latin]=Podešavanje sažetka nastupajućih posebnih datuma
Comment[sv]=Inställning av översikt av förestående speciella datum
Comment[th]=ต้้งค่าส่วนสรุปวันพิเศษ
Comment[tr]=Yaklaşan Özel Tarih Özeti Yapılandırması
Comment[uk]=Зведення налаштування майбутніх особливих дат
Comment[wa]=Apontyî li t=racourti des speciålès dates a vni
Comment[x-test]=xxUpcoming Special Dates Summary Setupxx
Comment[zh_CN]=近期日期摘要设置
Comment[zh_TW]=將來臨的特殊日期摘要設定
X-KDE-Keywords=birthday, anniversary, holiday, configure, settings
X-KDE-Keywords[bs]=rođendan, godišnjica, odmor, konfigurirati, postavke
X-KDE-Keywords[ca]=naixement, aniversari, festiu, configura, arranjament
X-KDE-Keywords[ca@valencia]=naixement, aniversari, festiu, configura, arranjament
X-KDE-Keywords[da]=fødselsdag, årsdag, helligdag, indstil, indstillinger
X-KDE-Keywords[de]=Geburtstag,Jahrestag,Feiertag,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[el]=γενέθλια, επέτειος, διακοπές, διαμόρφωση, ρυθμίσεις
X-KDE-Keywords[en_GB]=birthday, anniversary, holiday, configure, settings
X-KDE-Keywords[es]=cumpleaños, aniversario, vacaciones, configurar, preferencias
X-KDE-Keywords[et]=sünnipäev, tähtpäev, pidupäev, seadistamine, seadistused
X-KDE-Keywords[fi]=birthday, syntymäpäivä, anniversary, vuosipäivä, holiday, loma, configure, settings, asetukset
X-KDE-Keywords[fr]=anniversaire,naissance,vacances,configuration,paramètres
X-KDE-Keywords[gl]=cumpreanos,aniversario,vacacións,configurar,opcións
X-KDE-Keywords[hu]=születésnap, évforduló, ünnepnap, beállítás, beállítások
X-KDE-Keywords[ia]=anniversario de nascite,anniversario,die feriate, configura, preferentias
X-KDE-Keywords[it]=compleanno, anniversario, vacanza, configurazione, impostazioni
X-KDE-Keywords[kk]=birthday, anniversary, holiday, configure, settings
X-KDE-Keywords[km]=ខួប​កំណើត ខួប ថ្ងៃ​ឈប់​សម្រាក កំណត់​រចនាសម្ព័ន្ធ កំណត់
X-KDE-Keywords[lt]=gimtadienis, jubiliejus, atostogos, konfigūruoti, nustatymai
X-KDE-Keywords[mr]=वाढदिवस, वार्षिक तिथी, रजेचा दिवस, संयोजना, संयोजना
X-KDE-Keywords[nb]=bursdag, jubileum, fridag, oppsett, innstillinger
X-KDE-Keywords[nds]=Geboortsdag,Johrdag,Fierdag,instellen,inrichten
X-KDE-Keywords[nl]=verjaardag, trouwdatum, vakantie, instellen, instellingen
X-KDE-Keywords[pl]=urodziny, rocznica, wakacje, święta, konfiguruj, ustawienia
X-KDE-Keywords[pt]=nascimento,aniversário,feriado,configurar,configuração
X-KDE-Keywords[pt_BR]=aniversário,feriado,configurar,configurações
X-KDE-Keywords[ro]=zi de naștere, aniversare, sărbătoare, configurare, setări, opțiuni
X-KDE-Keywords[ru]=birthday,anniversary,configure,settings,дни рождения,настройки,праздники,годовщины
X-KDE-Keywords[sk]=narodeniny, výročie, sviatok, nastaviť, nastavenia
X-KDE-Keywords[sl]=rojstni dan, obletnica, praznik, nastavi, nastavitve
X-KDE-Keywords[sr]=birthday,anniversary,holiday,configure,settings,рођендан,годишњица,празник,подесити,подешавање,поставке
X-KDE-Keywords[sr@ijekavian]=birthday,anniversary,holiday,configure,settings,рођендан,годишњица,празник,подесити,подешавање,поставке
X-KDE-Keywords[sr@ijekavianlatin]=birthday,anniversary,holiday,configure,settings,rođendan,godišnjica,praznik,podesiti,podešavanje,postavke
X-KDE-Keywords[sr@latin]=birthday,anniversary,holiday,configure,settings,rođendan,godišnjica,praznik,podesiti,podešavanje,postavke
X-KDE-Keywords[sv]=födelsedag,årsdag,semester,anpassa,inställningar
X-KDE-Keywords[tr]=doğum günü, yıl dönümü, takvim, yapılandır, ayarlar
X-KDE-Keywords[uk]=birthday,anniversary,holiday,configure,settings,день,народження,ювілей,свято,вихідний,налаштувати,налаштування,параметри,річниця
X-KDE-Keywords[wa]=aniviersaire, date di skepiaedje, condjî, apontyî, tchuzes,apontiaedje,apontiaedjes
X-KDE-Keywords[x-test]=xxbirthdayxx,xx anniversaryxx,xx holidayxx,xx configurexx,xx settingsxx
X-KDE-Keywords[zh_CN]=birthday, anniversary, holiday, configure, settings, 生日, 纪念日, 节日, 配置, 设置
X-KDE-Keywords[zh_TW]=birthday, anniversary, holiday, configure, settings
