[Desktop Entry]
Type=Service
Icon=favorites
X-KDE-ServiceTypes=Kontact/Plugin,KPluginInfo

X-KDE-Library=kontact_specialdatesplugin
X-KDE-KontactPluginVersion=10
X-KDE-KontactPluginHasPart=false
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Name=kontact_specialdatesplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Name=Special Dates
Name[af]=Spesiale datums
Name[ar]=المواعيد الخاصة
Name[bg]=Special Dates
Name[br]=Deiziadoù dibar
Name[bs]=Posebni datumi
Name[ca]=Dates especials
Name[ca@valencia]=Dates especials
Name[cs]=Speciální data
Name[da]=Særlige datoer
Name[de]=Besondere Termine
Name[el]=Σημαντικές ημερομηνίες
Name[en_GB]=Special Dates
Name[eo]=Specialaj Datoj
Name[es]=Fechas especiales
Name[et]=Tähtpäevad
Name[eu]=Data bereziak
Name[fa]=تاریخهای ویژه
Name[fi]=Merkkipäivät
Name[fr]=Dates particulières
Name[fy]=Spesjale datums
Name[ga]=Dátaí Speisialta
Name[gl]=Datas especiais
Name[he]=תאריכים מיוחדים
Name[hu]=Fontos dátumok
Name[ia]=Datas special
Name[is]=Sérstakir dagar
Name[it]=Date speciali
Name[ja]=特別な日
Name[ka]=განსაკუტრებული თარიღები
Name[kk]=Ерекше күндер
Name[km]=ថ្ងៃ​ពិសេស
Name[ko]=기념일
Name[lt]=Ypatingos datos
Name[lv]=Īpašie datumi
Name[mk]=Специјални датуми
Name[mr]=विशिष्ठ दिनांक
Name[ms]=Tarikh Khusus
Name[nb]=Spesielle datoer
Name[nds]=Besünner Daag
Name[ne]=विशेष मिति
Name[nl]=Speciale datums
Name[nn]=Spesielle datoar
Name[pa]=ਖਾਸ ਮਿਤੀ
Name[pl]=Daty specjalne
Name[pt]=Datas Especiais
Name[pt_BR]=Datas especiais
Name[ro]=Zile speciale
Name[ru]=Особые даты
Name[sk]=Špeciálne dátumy
Name[sl]=Posebni datumi
Name[sr]=Посебни датуми
Name[sr@ijekavian]=Посебни датуми
Name[sr@ijekavianlatin]=Posebni datumi
Name[sr@latin]=Posebni datumi
Name[sv]=Speciella datum
Name[ta]=விசேஷ தேதிகள்
Name[th]=วันพิเศษ
Name[tr]=Özel Tarihler
Name[ug]=ئالاھىدە كۈنلەر
Name[uk]=Особливі дати
Name[uz]=Maxsus kunlar
Name[uz@cyrillic]=Махсус кунлар
Name[wa]=Sipeciålès dates
Name[x-test]=xxSpecial Datesxx
Name[zh_CN]=特殊日期
Name[zh_TW]=特殊日期
Comment=Special Dates Plugin
Comment[af]=Spesiale datums inprop module
Comment[ar]=ملحق المواعيد الخاصة
Comment[bg]=Приставка за специални случаи
Comment[bs]=Dodaci za posebne datume
Comment[ca]=Connector de dates especials
Comment[ca@valencia]=Connector de dates especials
Comment[cs]=Modul speciálních dat
Comment[da]=Plugin for særlige datoer
Comment[de]=Modul für besondere Termine
Comment[el]=Πρόσθετο σημαντικών ημερομηνιών
Comment[en_GB]=Special Dates Plugin
Comment[eo]=Kromaĵo por specialaj datoj
Comment[es]=Complemento de fechas especiales
Comment[et]=Tähtpäevade plugin
Comment[eu]=Data berezien plugin-a
Comment[fa]=وصله تاریخهای ویژه
Comment[fi]=Merkkipäiväliitännäinen
Comment[fr]=Module de dates particulières
Comment[fy]=Plugin foar spesjale datums
Comment[ga]=Breiseán Dátaí Speisialta
Comment[gl]=Engadido de datas especiais
Comment[he]=תוסף תאריכים חשובים
Comment[hu]=Fontos dátumok bővítőmodul
Comment[ia]=Plug-in pro datas special
Comment[is]=Sérstakir dagar íforrit
Comment[it]=Estensione per le date speciali
Comment[ja]=特別な日プラグイン
Comment[ka]=განსაკუთრებულ თარიღთა მოდული
Comment[kk]=Ерекше күндер плагині
Comment[km]=កម្មវិធី​ជំនួយ​ថ្ងៃ​ពិសេស
Comment[ko]=기념일 플러그인
Comment[lt]=Ypatingų dienų įskiepis
Comment[lv]=Īpašo datumu spraudnis
Comment[mk]=Приклучок за специјални датуми
Comment[mr]=विशिष्ठ दिनांक प्लगइन
Comment[ms]=Plugin Tarikh Khusus
Comment[nb]=Programtillegg for spesielle datoer
Comment[nds]=Moduul för besünner Daag
Comment[ne]=विशेष मिति प्लगइन
Comment[nl]=Plug-in voor speciale datums
Comment[nn]=Programtillegg for spesielle datoar
Comment[pa]=ਖਾਸ ਮਿਤੀ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka specjalnych dat
Comment[pt]='Plugin' de Datas Especiais
Comment[pt_BR]=Plugin de Datas especiais
Comment[ro]=Modul pentru zile speciale
Comment[ru]=Особые даты
Comment[sk]=Modul špeciálnych dátumov
Comment[sl]=Vstavek za posebne datume
Comment[sr]=Прикључак за посебне датуме
Comment[sr@ijekavian]=Прикључак за посебне датуме
Comment[sr@ijekavianlatin]=Priključak za posebne datume
Comment[sr@latin]=Priključak za posebne datume
Comment[sv]=Insticksprogram för speciella datum
Comment[ta]=விசேஷ தேதிகள் சொருகுப்பொருள்
Comment[th]=โปรแกรมเสริมวันพิเศษ
Comment[tr]=Özel Tarihler Eklentisi
Comment[uk]=Додаток особливих дат
Comment[wa]=Module sipeciålès dates
Comment[x-test]=xxSpecial Dates Pluginxx
Comment[zh_CN]=特殊日期插件
Comment[zh_TW]=特殊日期外掛程式
