# KDE Config File 
[KDE Desktop Entry]
Name=alarmd
Name[eo]=Alarmilo
Name[fr]=Démon d'alarme
Name[pl]=Demon alarmowy
Exec=alarmd
Icon=alarmd
Type=Application
Comment=KOrganizer alarm daemon
Comment[az]=KOrganizer alarm vasitəsi
Comment[bg]=Будилник на KOrganizer
Comment[cs]=Monitor alarmů pro Organizér
Comment[da]=KOrganizer alarm dæmon
Comment[de]=Alarmdämon von KOrganizer
Comment[eo]=Alarmilo por Organizilo
Comment[es]=Demonio de alarma de KOrganizer
Comment[et]=KOrganizer alarmide deemon
Comment[fi]=KOrganizer hälytyspalvelin
Comment[fr]=Démon d'alarme de kOrganizer
Comment[he]=KOrganizer לש תורוכזתה תרש
Comment[hu]=A KOrganizer emlékeztető szolgáltatása
Comment[ja]=KOrganizer アラームデーモン
Comment[lt]=KOrganizer žadintuvo demonas
Comment[lv]=KOrganizer trauksmes dēmons
Comment[mt]=Daemon tal-allarmi KOrganizer
Comment[nl]=KOrganizer Alarm Daemon
Comment[no_NY]=Alarm-demon for KOrganizer
Comment[pl]=Demon alarmowy KOrganizera
Comment[pt_BR]=Servidor de alarmes do KOrganizer
Comment[pt]=Servidor de alarmes do KOrganizer
Comment[ru]=будильник KOrganizer
Comment[sk]=Démon poplachov KOrganizéra
Comment[sl]=Strežnik za bujenje za KOrganizer
Comment[sv]=Alarmdemon för Korganizer
Comment[uk]=Демон сигналізації KOrganizer
Terminal=0
X-KDE-autostart-after=panel
X-KDE-autostart-condition=korganizerrc:AlarmDaemon:Autostart:true
KDE-X-StartupNotify=true
