[Desktop Entry]
Encoding=UTF-8
Icon=personal
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfiggroupscheduling
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Group Scheduling
Name[ca]=Planificació de grups
Name[da]=Gruppeskemalægning
Name[es]=Planificación de grupo
Name[pt_BR]=Agendamento de Grupo
Name[ru]=Расписание групп
Name[sr]=Распоређивање група
Name[sv]=Gruppschemaläggning
Comment=KOrganizer Group Scheduling Configuration
Comment[ca]=Configuració de la planificació de grups a KOrganizer
Comment[da]=KOrganizer gruppeskemalægning indstilling
Comment[es]=Configuración de la planificación de grupos de KOrganizer
Comment[pt_BR]=Configuração de Agendamento de Grupo do KOrganizer
Comment[ru]=Настройка расписания групп органайзера KDE
Comment[sr]=Календарски и групни распоређивачки програм
Comment[sv]=Inställning av Korganizers gruppschemaläggning
Keywords=korganizer,group,scheduling
Keywords[ca]=korganizer,grup,planificació
Keywords[da]=korganizer,gruppe,skemalægning
Keywords[es]=korganizer,grupo,planificación
Keywords[pt_BR]=korganizer,grupo,agendamento
Keywords[ru]=korganizer,group,scheduling,расписание групп,органайзер
Keywords[sr]=korganizer,group,scheduling,планер,група,распоред,распоређивање
Keywords[sv]=korganizer,grupp,schemaläggning
