[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell korganizerconfigviews
Icon=viewmag
Type=Application
Terminal=0

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigviews
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer

Name=Views
Comment=KOrganizer View Configuration
Keywords=korganizer,view

Categories=Qt;KDE;PIM
