[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell korganizerconfiggreoupautomation
Icon=personal
Type=Application
Terminal=0

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfiggroupautomation
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer

Name=Group Automation
Comment=KOrganizer Group Automation Configuration
Keywords=korganizer,group,automation
