[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigmain
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Personal
Name[be]=Пэрсанальныя
Name[da]=Personlig
Name[pt_BR]=Pessoal
Name[ru]=Персональные настройки
Name[sr]=Лично
Name[sv]=Personlig inställning
Name[tr]=Kişisel
Comment=KOrganizer Main Configuration
Comment[ca]=Configuració principal a KOrganizer
Comment[da]=KOrganizer hovedindstilling
Comment[es]=Configuración principal de KOrganizer
Comment[pt_BR]=Configuração Principal do KOrganizer
Comment[ru]=Общие настройки органайзера KDE
Comment[sr]=KOrganizer-ова главна подешавања
Comment[sv]=Korganizers huvudinställning
Keywords=korganizer,main,personal
Keywords[ca]=korganizer,principal,personal
Keywords[da]=korganizer,hoved,personlig
Keywords[es]=korganizer,principal,personal
Keywords[pt_BR]=korganizer,principal,pessoal
Keywords[ru]=korganizer,main,personal,почта,персональные настройки,органайзер
Keywords[sr]=korganizer,main,personal,планер,главни,лични,лично
Keywords[sv]=korganizer,huvudinställning,personlig inställning
