[Desktop Entry]
Encoding=UTF-8
Icon=personal
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigfreebusy
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Free/Busy
Name[bg]=Свободно/Заето
Name[ca]=Lliure/ocupat
Name[cs]=Volný/Zaneprázdněn
Name[cy]=Rhydd/Prysur
Name[da]=Fri/Optaget
Name[de]=Frei/Beschäftigt
Name[es]=Libre/Ocupado
Name[et]=Vaba/hõivatud
Name[fi]=Vapaa/Varattu
Name[fr]=Disponibilité
Name[hi]=फ्री/बिज़ी
Name[hu]=Foglaltság
Name[it]=Libero/Occupato
Name[nb]=Ledig/Opptatt
Name[nl]=Vrij/bezet
Name[nn]=Ledig/opptatt
Name[pt]=Livre/Ocupado
Name[pt_BR]=Livre/Ocupado
Name[ru]=Свободно/занято
Name[sl]=Prost/zaseden
Name[sr]=Слободан/заузет
Name[sv]=Ledig/upptagen
Name[ta]=சுதந்திரமான/வேலையில் இருக்கும்
Name[tr]=Boş/Meşgul
Name[uk]=Вільний/зайнятий час
Name[uz]=Бўш/Банд
Name[xx]=xxFree/Busyxx
Name[zh_CN]=忙/闲
Comment=KOrganizer Free/Busy Configuration
Comment[bg]=Настройки на свободно/заето за KOrganizer
Comment[ca]=Configuració de Lliure/ocupat per a KOrganizer
Comment[cs]=Nastavení volný/zaneprázdněn pro KOrganizer
Comment[cy]=Ffurfweddiad Rhydd/Prysur KTrefnydd
Comment[da]=KOrganizer Fri/Optaget-indstilling
Comment[de]=Frei/Beschäftigt-Festlegung für KOrganizer
Comment[es]=Configuración de libre/ocupado de KOrganizer
Comment[et]=KOrganizeri vaba/hõivatuse seadistused
Comment[fi]=KOrganizer vapaa/varattu asetukset
Comment[fr]=Configuration de la disponibilité pour KOrganizer
Comment[hi]=के-आर्गेनाइज़र फ्री/बिज़ी कॉन्फिगरेशन
Comment[hu]=KOrganizer foglaltsági beállítások
Comment[it]=Configurazione Libero/Occupato di KOrganizer
Comment[nb]=KOrganizer oppsett for ledig/opptatt tid
Comment[nl]=KOrganizer vrij/bezet instellen
Comment[nn]=KOrganizer, ledig/opptatt-innstillingar
Comment[pt]=Configuração de Livre/Ocupado do KOrganizer
Comment[pt_BR]=Configuração Livre/Ocupado do KOrganizer
Comment[ru]=Настройка свободного времени органайзера KDE
Comment[sl]=Nastavitev prost/zaseden za KOrganizer
Comment[sr]=Подешавање слободног/заузетог у KOrganizer-у
Comment[sv]=Inställning av ledig/upptagen i Korganizer
Comment[ta]=Kஅமைப்பவர்,சுதந்திரமான/செயலிலுள்ள் உருவக்கம்
Comment[tr]=KOrganizer Boş/Meşgul Yapılandırması
Comment[uk]=Налаштування вільного/зайнятого часу в KOrganizer
Comment[xx]=xxKOrganizer Free/Busy Configurationxx
Comment[zh_CN]=KOrganizer 忙/闲配置
Keywords=korganizer,freebusy,scheduling
Keywords[bg]=организатор,свободно/заето,настройки,korganizer,freebusy,scheduling
Keywords[ca]=korganizer,lliure ocupat,planificació
Keywords[cs]=korganizer,volný,zaneprázdněn,plánování
Keywords[cy]=korganizer,ktrefnydd,rhydd,prysur,trefnlennu
Keywords[da]=korganizer,fri/optaget,skemalægning
Keywords[de]=KOrganizer,Frei/Beschäftigt,Ablaufplanung
Keywords[es]=korganizer,libreocupado,planificación
Keywords[et]=korganizer,vaba,hõivatud,ajakava
Keywords[fi]=korganizer,vapaa,varattu,ajastus
Keywords[fr]=korganizer,disponibilité, planification
Keywords[hi]=के-आर्गेनाइज़र,फ्री-बिज़ी,समय-सारणी
Keywords[hu]=korganizer,foglaltság,szervezés
Keywords[it]=korganizer,libero/occupato,pianificazione
Keywords[nb]=korganizer,ledigopptatt,planlegger
Keywords[nl]=korganizer,freebusy,scheduling,plannen,vrij,bezet,rooster
Keywords[nn]=korganizer,ledigopptatt,planlegging
Keywords[pt]=korganizer,livre,ocupado,escalonamento
Keywords[pt_BR]=korganizer,livreocupado,agendamento
Keywords[ru]=korganizer,freebusy,scheduling,органайзер,свободное время,расписание
Keywords[sl]=korganizer,freebusy,razporejanje
Keywords[sr]=korganizer,freebusy,scheduling,слободан,заузет,планирање
Keywords[sv]=korganizer,ledig/upptagen,schemaläggning
Keywords[ta]=Kஅமைபாளர்,சுதந்திரமான/செயலிலுள்ள் ,நேர அமைப்பு
Keywords[tr]=korganizer,boş/meşgul,zamanlama
Keywords[uk]=korganizer,вільно,зайнято,час,розклад
Keywords[xx]=xxkorganizer,freebusy,schedulingxx
