[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DBUS/Organizer
Comment=Organizer with a D-BUS interface
Comment[es]=Organizador con una interfaz D-BUS
Comment[kk]=D-BUS интерфейсті Ұйымдастырғыш
Comment[sv]=Filofax med DBus-gränssnitt
Comment[x-test]=xxOrganizer with a D-BUS interfacexx
Comment[zh_TW]=有 DBus 介面的 Organizer
