[Desktop Entry]
Name=DBUSCalendar
Name[el]=Ημερολόγιο DBUS
Name[ga]=Féilire DBUS
Name[pt]=Calendário DBUS
Name[pt_BR]=Calendário DBUS
Name[sv]=DBus-kalender
Name[x-test]=xxDBUSCalendarxx
Name[zh_TW]=DBUS行事曆
Type=ServiceType
X-KDE-ServiceType=DBUS/Organizer
Comment=Organizer with a D-BUS interface
Comment[bg]=Организатор с поддръжка на интерфейс DCOP
Comment[el]=Organizer με περιβάλλον χρήσης D-BUS
Comment[es]=Organizador con una interfaz D-BUS
Comment[fa]=سازمان‌دهنده با یک واسط D-BUS
Comment[it]=Organizer con un'interfaccia D-Bus
Comment[ja]=D-Bus インターフェースを持つカレンダー
Comment[kk]=D-BUS интерфейсті Ұйымдастырғыш
Comment[ko]=D-BUS 인터페이스를 사용하는 오거나이저
Comment[ne]=D-Bus इन्टरफेसको आयोजक
Comment[nl]=Organizer met een D-BUS-interface
Comment[pt]=Organizador com uma interface de D-BUS
Comment[pt_BR]=Organizador com uma interface de D-BUS
Comment[sv]=Filofax med DBus-gränssnitt
Comment[x-test]=xxOrganizer with a D-BUS interfacexx
Comment[zh_CN]=具有 D-BUS 接口的安排程序
Comment[zh_TW]=有 DBus 介面的 Organizer
