[Desktop Entry]
Name=DBUSCalendar
Name[ar]=التقويم DBUS
Name[bg]=DBUSCalendar
Name[bs]=DBUSKalendar
Name[ca]=DBUSCalendar
Name[ca@valencia]=DBUSCalendar
Name[cs]=DBUSCalendar
Name[da]=DBUSCalendar
Name[de]=D-Bus-Kalender
Name[el]=Ημερολόγιο DBUS
Name[en_GB]=DBUSCalendar
Name[es]=Calendario DBUS
Name[et]=DBUSCalendar
Name[fi]=DBUSCalendar
Name[fr]=DBUSCalendar
Name[ga]=Féilire DBUS
Name[gl]=Calendario DBUS
Name[hu]=D-Bus-naptár
Name[ia]=Calendario DBUS
Name[it]=DBUSCalendar
Name[ja]=D-Bus カレンダー
Name[kk]=DBUSCalendar
Name[km]=DBUSCalendar
Name[ko]=DBUSCalendar
Name[lt]=DBUSkalendorius
Name[lv]=DBUSCalendar
Name[mr]=DBUS दिनदर्शिका
Name[nb]=DBUSKalender
Name[nds]=D-Bus-Kalenner
Name[nl]=D-BusCalendar
Name[nn]=DBUSCalendar
Name[pa]=DBUSCalendar
Name[pl]=KalendarzDBUS
Name[pt]=Calendário DBUS
Name[pt_BR]=DBUSCalendar
Name[ro]=CalendarDBUS
Name[ru]=DBUSCalendar
Name[sk]=DBUS kalendár
Name[sl]=DBUSCalendar
Name[sr]=Д‑бус‑календар
Name[sr@ijekavian]=Д‑бус‑календар
Name[sr@ijekavianlatin]=DBUSCalendar
Name[sr@latin]=DBUSCalendar
Name[sv]=DBus-kalender
Name[tr]=DBUSCalendar
Name[uk]=DBUSCalendar
Name[wa]=DBUSCalendar
Name[x-test]=xxDBUSCalendarxx
Name[zh_CN]=DBUSCalendar
Name[zh_TW]=DBUS行事曆
Type=ServiceType
X-KDE-ServiceType=DBUS/Organizer
Comment=Organizer with a D-Bus interface
Comment[ar]=برنامج المنظم مع واجهة D-Bus
Comment[bs]=Organizator sa D-Bus Sučeljom
Comment[ca]=Organitzador amb una interfície D-Bus
Comment[ca@valencia]=Organitzador amb una interfície D-Bus
Comment[cs]=Organizátor s D-BUS rozhraním
Comment[da]=Planlægningskalender med en D-BUS-grænseflade
Comment[de]=Organizer mit D-Bus-Schnittstelle
Comment[el]=Οργανωτής με διασύνδεση D-Bus
Comment[en_GB]=Organiser with a D-Bus interface
Comment[es]=Organizador con una interfaz D-Bus
Comment[et]=Korraldaja D-Busi liidesega
Comment[fi]=D-Bus-rajapintainen ajanhallinta
Comment[fr]=Agenda avec une interface D-Bus
Comment[ga]=Eagraí a bhfuil comhéadan D-Bus aige
Comment[gl]=Organizador con interface D-Bus
Comment[hu]=Határidőnapló D-Bus-os felülettel
Comment[ia]=Organisator con un interfacie de D-Bus
Comment[it]=Agenda con un'interfaccia D-Bus
Comment[ja]=D-Bus インターフェースを持つカレンダー
Comment[kk]=D-BUS интерфейсті Ұйымдастырғыш
Comment[km]=កម្មវិធី​រៀបចំ​ជាមួយ​ចំណុច​ប្រទាក់ D-Bus
Comment[lt]=Tvarkyklė su D-Bus sąsaja
Comment[lv]=Organizators ar D-BUS saskarni
Comment[mr]=DBus संवादासहीतचा आयोजक
Comment[nb]=Organizer med D-Bus-grensesnitt
Comment[nds]=En Daagpleger mit en D-Bus-Koppelsteed
Comment[nl]=Organizer met een D-Bus-interface
Comment[nn]=Organiserar med eit D-Bus-grensesnitt
Comment[pa]=ਡੀ-ਬੱਗ ਇੰਟਰਫੇਸ ਨਾਲ ਪਰਬੰਧਕ
Comment[pl]=Organizator z interfejsem D-Bus
Comment[pt]=Organizador com uma interface de D-Bus
Comment[pt_BR]=Organizador com interface D-Bus
Comment[ro]=Organizator cu interfață D-Bus
Comment[ru]=Органайзер с интерфейсом D-Bus
Comment[sk]=Plánovač s D-Bus rozhraním
Comment[sl]=Organizator z vmesnikom D-Bus
Comment[sr]=Организатор са д‑бус сучељем
Comment[sr@ijekavian]=Организатор са д‑бус сучељем
Comment[sr@ijekavianlatin]=Organizator sa D‑Bus sučeljem
Comment[sr@latin]=Organizator sa D‑Bus sučeljem
Comment[sv]=Filofax med D-Bus gränssnitt
Comment[tr]=D-Bus arayüzü kullanan Düzenleyici
Comment[uk]=Тижневик з інтерфейсом D-Bus
Comment[wa]=Organizeu avou èn eterface D-Bus
Comment[x-test]=xxOrganizer with a D-Bus interfacexx
Comment[zh_CN]=D-BUS 接口的助理程序
Comment[zh_TW]=有 D-Bus 介面的 Organizer
