[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/Organizer
Comment=Organizer with a DCOP interface
Comment[be]=Арганізатар з DCOP інтэрфэйсам
Comment[bg]=Организатор с поддръжка на интерфейс DCOP
Comment[ca]=Organitzador amb una interfície DCOP
Comment[cs]=Organizátor s DCOP rozhraním
Comment[cy]=Trefnydd gyda rhyngwyneb DCOP
Comment[da]=Organisator med en DCOP-grænseflade
Comment[de]=Organizer mit DCOP-Schnittstelle
Comment[el]=Οργανωτής με ένα περιβάλλον χρήσης DCOP
Comment[en_GB]=Organiser with a DCOP interface
Comment[es]=Organizador con un interfaz DCOP
Comment[et]=KOrganizer DCOP liidesega
Comment[fi]=Kalenteri DCOP-rajapinnalla
Comment[fr]=Organiseur avec une interface DCOP
Comment[hu]=Határidőnapló DCOP-felülettel
Comment[it]=Organizer con un'interfaccia DCOP
Comment[nl]=Organizer met een DCOP-interface
Comment[nn]=Organisator med eit DCOP-grensesnitt
Comment[pt]=Organizador com uma interface de DCOP
Comment[pt_BR]=Organizador com uma interface DCOP
Comment[ru]=Органайзер с интерфейсом DCOP
Comment[sk]=Organizér s DCOP rozhraním
Comment[sr]=Организатор са DCOP интерфејсом
Comment[sv]=Filofax med DCOP-gränssnitt
Comment[tr]=DCOP arayüzü ile Organizer
Comment[uk]=Організатор з інтерфейсом DCOP
Comment[xx]=xxOrganizer with a DCOP interfacexx
Comment[zh_CN]=具有 DCOP 接口的 PDA
