[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/Organizer
Comment=Organizer with a DCOP interface
Comment[be]=Арганізатар з DCOP інтэрфэйсам
Comment[es]=Organizador con un interfaz DCOP
Comment[hu]=Határidőnapló DCOP-felülettel
Comment[sk]=Organizér s DCOP rozhraním
Comment[sv]=Filofax med DCOP-gränssnitt
Comment[zh_CN]=具有 DCOP 接口的记事本
