[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=DCOP/Organizer
Comment=Organizer with a DCOP interface
Comment[be]=Арганізатар з DCOP інтэрфэйсам
Comment[bg]=Организатор с поддръжка на интерфейс DCOP
Comment[br]=Deiziater gant un etrefas DCOP
Comment[bs]=Organizer sa DCOP interfejsom
Comment[ca]=Organitzador amb una interfície DCOP
Comment[cs]=Organizátor s DCOP rozhraním
Comment[cy]=Trefnydd gyda rhyngwyneb DCOP
Comment[da]=Organisator med en DCOP-grænseflade
Comment[de]=Organizer mit DCOP-Schnittstelle
Comment[el]=Οργανωτής με ένα περιβάλλον χρήσης DCOP
Comment[en_GB]=Organiser with a DCOP interface
Comment[es]=Organizador con un interfaz DCOP
Comment[et]=KOrganizer DCOP-liidesega
Comment[fi]=Kalenteri DCOP-rajapinnalla
Comment[fr]=Organiseur avec une interface DCOP
Comment[gl]=Organizador con interface DCOP
Comment[hi]=डीकॉप इंटरफेस सहित आर्गेनाइज़र
Comment[hu]=Határidőnapló DCOP-felülettel
Comment[is]=Skipuleggjari með DCOP tengingu
Comment[it]=Organizer con un'interfaccia DCOP
Comment[ja]=DCOP インターフェースを持つオーガナイザ
Comment[nb]=Organizer med DCOP-grensesnitt
Comment[nl]=Organizer met een DCOP-interface
Comment[nn]=Organisator med eit DCOP-grensesnitt
Comment[pl]=Organizator z interfejsem DCOP
Comment[pt]=Organizador com uma interface de DCOP
Comment[pt_BR]=Organizador com uma interface DCOP
Comment[ro]=Organizator cu interfaţă DCOP
Comment[ru]=Органайзер с интерфейсом DCOP
Comment[sk]=Organizér s DCOP rozhraním
Comment[sl]=Oragnizator z vmesnikom DCOP
Comment[sr]=Организатор са DCOP интерфејсом
Comment[sr@Latn]=Organizator sa DCOP interfejsom
Comment[sv]=Filofax med DCOP-gränssnitt
Comment[ta]=DCOP  முகப்பு அமைப்பாளர்
Comment[tg]=Органайзер бо интерфейси DCOP
Comment[tr]=DCOP arayüzü ile Organizer
Comment[uk]=Тижневик з інтерфейсом DCOP
Comment[xx]=xxOrganizer with a DCOP interfacexx
Comment[zh_CN]=具有 DCOP 接口的 PDA
