[Desktop Entry]
Icon=personal
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigfreebusy
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Free/Busy
Name[af]=Beskikbaar/Besig
Name[ar]=متوفّر/مشغول
Name[bg]=Свободен/зает
Name[bs]=Slobodan/Zauzet
Name[ca]=Lliure/ocupat
Name[cs]=Aktivita
Name[cy]=Rhydd/Prysur
Name[da]=Fri/Optaget
Name[de]=Frei/Beschäftigt
Name[eo]=Libera/Okupita
Name[es]=Libre/Ocupado
Name[et]=Vaba/hõivatud
Name[eu]=Libre/Lanpetuta
Name[fa]=آزاد/اشغال
Name[fi]=Vapaa/Varattu
Name[fr]=Disponibilité
Name[fy]=Frij/beset
Name[gl]=Ceibe/Ocupado
Name[hi]=फ्री/बिज़ी
Name[hu]=Foglaltság
Name[is]=Tímaráðstöfun
Name[it]=Libero/Occupato
Name[ja]=動静情報
Name[ka]=თავისუფალი/დაკავებული
Name[kk]=Бос/Істе
Name[km]=ទំនេរ/រវល់
Name[lt]=Užimtumas
Name[mk]=Слободен/зафатен
Name[ms]=Lapang/Sibuk
Name[nb]=Ledig/Opptatt
Name[nds]=Free/Bunnen
Name[ne]=स्वतन्त्र/व्यस्त
Name[nl]=Vrij/bezet
Name[nn]=Ledig/opptatt
Name[pl]=Wolny/zajęty
Name[pt]=Livre/Ocupado
Name[pt_BR]=Livre/Ocupado
Name[ru]=Занятое время
Name[sk]=Voľný čas
Name[sl]=Prost/zaseden
Name[sr]=Слободан/заузет
Name[sr@Latn]=Slobodan/zauzet
Name[sv]=Ledig/upptagen
Name[ta]=சுதந்திரமான/வேலையில் இருக்கும்
Name[tg]=Озод/машғул аст
Name[tr]=Boş/Meşgul
Name[uk]=Вільний/зайнятий час
Name[uz]=Boʻsh/Band
Name[uz@cyrillic]=Бўш/Банд
Name[zh_CN]=忙/闲
Name[zh_TW]=行程資訊
Comment=KOrganizer Free/Busy Configuration
Comment[af]=KOrganizer Beskikbaar/Besig opstelling
Comment[bg]=Настройки на свободно/заето за KOrganizer
Comment[bs]=KOrganizer podešavanje za Slobodan/Zauzet
Comment[ca]=Configuració de Lliure/ocupat per a KOrganizer
Comment[cs]=Nastavení aktivity pro KOrganizer
Comment[cy]=Ffurfweddiad Rhydd/Prysur KTrefnydd
Comment[da]=KOrganizer Fri/Optaget-indstilling
Comment[de]=Frei/Beschäftigt-Festlegung für KOrganizer
Comment[el]=Ρυθμίσεις KOrganizer Free/Busy
Comment[eo]=KOrganizilo Agordo pri libero/okupito
Comment[es]=Configuración de libre/ocupado de KOrganizer
Comment[et]=KOrganizeri vaba/hõivatuse seadistused
Comment[eu]=KOrganizer-en Libre/Lanpetuta konfigurazioa
Comment[fa]=پیکربندی آزاد/اشغال KOrganizer
Comment[fi]=KOrganizer vapaa/varattu asetukset
Comment[fr]=Configuration de la disponibilité pour KOrganizer
Comment[fy]=KOrganizer frij/beset ynstelle
Comment[gl]=Configuración de Dispoñibilidade de Korganizer
Comment[hi]=के-आर्गेनाइज़र फ्री/बिज़ी कॉन्फ़िगरेशन
Comment[hu]=KOrganizer foglaltsági beállítások
Comment[is]=KOrganizer stillingar fyrir tímaráðstöfun
Comment[it]=Configurazione Libero/Occupato di KOrganizer
Comment[ja]=KOrganizer 動静情報の設定
Comment[ka]=KOrganizer-ის თავისუფალი/დაკავებულობის კონფიგურაცია
Comment[kk]=KOrganizer--дің Бос/Істе мәлімет параметрлері
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ទំនេរ/រវល់ របស់ KOrganizer
Comment[lt]=KOrganizer užimtumo konfigūravimas
Comment[mk]=Конфигурација на слободни/зафатени термини
Comment[ms]=Konfigurasi Lapang/Sibuk KOrganizer 
Comment[nb]=KOrganizer oppsett for ledig/opptatt tid
Comment[nds]=Free/Bunnen-Instellen för KOrganizer
Comment[ne]=केडीई आयोजक स्वतन्त्र/व्यस्त कन्फिगरेसन
Comment[nl]=KOrganizer vrij/bezet instellen
Comment[nn]=KOrganizer, ledig/opptatt-innstillingar
Comment[pl]=Konfiguracja czasu wolnego/zajętego dla KOrganizera
Comment[pt]=Configuração de Livre/Ocupado do KOrganizer
Comment[pt_BR]=Configuração Livre/Ocupado do KOrganizer
Comment[ru]=Настройка свободного и занятого времени органайзера KDE
Comment[sk]=Nastavenie voľného času pre KOrganizer
Comment[sl]=Nastavitev prost/zaseden za KOrganizer
Comment[sr]=Подешавање слободног/заузетог у KOrganizer-у
Comment[sr@Latn]=Podešavanje slobodnog/zauzetog u KOrganizer-u
Comment[sv]=Inställning av ledig/upptagen i Korganizer
Comment[ta]=கேஅமைப்பாளர்,சுதந்திரமான/செயலிலுள்ள கட்டமைப்பு
Comment[tg]=Танзимоти вақти озоди органайзери KDE
Comment[tr]=KOrganizer Boş/Meşgul Yapılandırması
Comment[uk]=Налаштування вільного/зайнятого часу в KOrganizer
Comment[zh_CN]=KOrganizer 空闲/忙碌配置
Comment[zh_TW]=KOrganizer 行程資訊設定
Keywords=korganizer,freebusy,scheduling
Keywords[af]=korganizer, freebusy, scheduling
Keywords[bg]=организатор, свободно, заето, настройки, korganizer, freebusy, scheduling
Keywords[bs]=korganizer,freebusy,scheduling,raspored
Keywords[ca]=korganizer,lliure ocupat,planificació
Keywords[cs]=korganizer,volný,zaneprázdněn,plánování
Keywords[cy]=korganizer,ktrefnydd,rhydd,prysur,trefnlennu
Keywords[da]=korganizer,fri/optaget,skemalægning
Keywords[de]=KOrganizer,Frei/Beschäftigt,Ablaufplanung
Keywords[el]=korganizer,freebusy,προγραμματισμός
Keywords[es]=korganizer,libreocupado,planificación
Keywords[et]=korganizer,vaba,hõivatud,ajakava
Keywords[eu]=korganizer,libre, lanpetuta,antolaketa
Keywords[fa]=korganizer،آزاد اشغال، زمان‌بندی
Keywords[fi]=korganizer,vapaa,varattu,ajastus
Keywords[fr]=korganizer,disponibilité, planification
Keywords[fy]=korganizer,freebusy,scheduling,plannen,frij,beset,roaster
Keywords[gl]=korganizer,dispoñibilidade,axenda
Keywords[hi]=के-आर्गेनाइज़र,फ्री-बिज़ी,समय-सारणी
Keywords[hu]=korganizer,foglaltság,szervezés
Keywords[is]=korganizer,tímaráðstöfun,áætlun
Keywords[it]=korganizer,libero/occupato,pianificazione
Keywords[ja]=korganizer,動静,スケジューラ
Keywords[ka]=korganizer,თავისუფალიდაკავებული,დაგეგმვა
Keywords[km]=korganizer,ទំនេរ,រវល់,កាលវិភាគ
Keywords[mk]=korganizer,freebusy,scheduling,корганизатор,слободно,зафатено,закажување
Keywords[ms]=korganizer,lapang sibuk,penjadualan
Keywords[nb]=korganizer,ledigopptatt,planlegger
Keywords[nds]=KOrganizer,Free/Bunnen,Free,Bunnen,Planen,Plaan
Keywords[ne]=केडीई आयोजक, स्वतन्त्र व्यस्त, कार्यतालिका
Keywords[nl]=korganizer,freebusy,scheduling,plannen,vrij,bezet,rooster
Keywords[nn]=korganizer,ledigopptatt,planlegging
Keywords[pl]=korganizer,wolny/zajęty,planowanie
Keywords[pt]=korganizer,livre,ocupado,escalonamento
Keywords[pt_BR]=korganizer,livreocupado,agendamento
Keywords[ru]=korganizer,freebusy,scheduling,органайзер,занятое время,календарь
Keywords[sk]=korganizer,voľný čas,plánovanie
Keywords[sl]=korganizer,freebusy,razporejanje
Keywords[sr]=korganizer,freebusy,scheduling,слободан,заузет,планирање
Keywords[sr@Latn]=korganizer,freebusy,scheduling,slobodan,zauzet,planiranje
Keywords[sv]=korganizer,ledig/upptagen,schemaläggning
Keywords[ta]=கேஅமைப்பாளர்,சுதந்திரமான/திட்டம் அமைத்தல்
Keywords[tg]=korganizer,freebusy,scheduling,органайзер, вақти холӣ,ҷадвал
Keywords[tr]=korganizer,boş/meşgul,zamanlama
Keywords[uk]=korganizer,вільно,зайнято,час,розклад
Keywords[zh_CN]=korganizer,freebusy,scheduling,空闲,忙碌,日程安排
