[Desktop Entry]
Encoding=UTF-8
Icon=personal
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfiggroupautomation
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Group Automation
Name[fr]=Automatisation des groupes
Name[x-test]=xxGroup Automationxx
Comment=KOrganizer Group Automation Configuration
Comment[fr]=Configuration de l'automatisation des groupes de KOrganizer
Comment[x-test]=xxKOrganizer Group Automation Configurationxx
Keywords=korganizer,group,automation
Keywords[fr]=KOrganizer,groupes,automatisation
Keywords[x-test]=xxkorganizer,group,automationxx
