[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigplugins
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Plugins
Name[be]=Дапаўненьні
Name[bg]=Приставки
Name[br]=Lugantoù
Name[ca]=Endollables
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[es]=Extensiones
Name[et]=Pluginad
Name[fr]=Modules externes
Name[ga]=Breiseáin
Name[lt]=Priedai
Name[pt]='Plugins'
Name[ru]=Модули
Name[sr]=Прикључци
Name[sr@Latn]=Прикључци
Name[sv]=Insticksprogram
Name[tr]=Eklentiler
Name[uk]=Втулки
Name[xx]=xxPluginsxx
Comment=KOrganizer Plugin Configuration
Comment[be]=Канфігурацыя дапаўненьняў "K Арганізатара"
Comment[bg]=Настройки на приставките за KOrganizer
Comment[ca]=Configuració de l'endollable de KOrganizer
Comment[cs]=Nastavení modulů KOrganizeru
Comment[da]=KOrganizer plugin-indstilling
Comment[es]=Configuración de las extensiones de KOrganizer
Comment[et]=KOrganizeri pluginate seadistused
Comment[fr]=Configuration du module KOrganizer
Comment[it]=Configurazione plugin KOrganizer
Comment[nl]=KOrganizer plugininstellingen
Comment[pt]=Configuração de 'Plugins' do KOrganizer
Comment[pt_BR]=Configuração dos Plugins do KOrganizer
Comment[ru]=Настройки модулей органайзера KDE
Comment[sr]=Подешавање прикључака KOrganizer-а
Comment[sr@Latn]=Подешавање прикључака KOrganizer-а
Comment[sv]=Korganizers inställning av insticksprogram
Comment[tr]=KOrganizer Eklenti Yapılandırması
Comment[uk]=Втулок налаштування KOrganizer
Comment[xx]=xxKOrganizer Plugin Configurationxx
Keywords=korganizer,plugin,module
Keywords[be]=K Арганізатар,дапаўненьне,модуль,korganizer,plugin,module
Keywords[bg]=организатор, модул, приставка, korganizer, plugin, module
Keywords[ca]=korganizer,endollable,mòdul
Keywords[cs]=korganizer,modul
Keywords[da]=korganizer,plugin,modul
Keywords[es]=korganizer,extensión,plugin,módulo
Keywords[et]=korganizer,plugin,moodul
Keywords[fr]=KOrganizer,module
Keywords[it]=korganizer,plugin,modulo
Keywords[pt]=korganizer,'plugin',módulo
Keywords[pt_BR]=korganizer,plugin,módulo
Keywords[ru]=korganizer,plugin,module,органайзер,модуль
Keywords[sr]=korganizer,plugin,module,прикључак,модул
Keywords[sr@Latn]=korganizer,plugin,module,прикључак,модул
Keywords[sv]=korganizer,insticksprogram,modul
Keywords[tr]=korganizer,eklenti,modül
Keywords[uk]=korganizer,plugin,module,втулок,модуль
Keywords[xx]=xxkorganizer,plugin,modulexx
