[Desktop Entry]
Encoding=UTF-8
Icon=dlgedit
Type=Service
ServiceTypes=KCModule
DocPath=korganizer/preferences.html

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korgdesignerfields
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Custom Pages
Name[bg]=Потребителски полета
Name[bs]=Vlastite stranice
Name[ca]=Pàgines a mida
Name[cs]=Vlastní stránky
Name[da]=Brugervalgte sider
Name[de]=Benutzerdefinierte Seiten
Name[el]=Προσαρμοσμένες σελίδες
Name[es]=Páginas personalizadas
Name[et]=Omaloodud leheküljed
Name[fr]=Pages personnalisées
Name[gl]=Páxinas Personalizadas
Name[he]=דפים מותאמים אישית
Name[hu]=Egyéni lapok
Name[it]=Pagine personalizzate
Name[nb]=Tilpassede sider
Name[nl]=Aangepaste pagina's
Name[pl]=Własne strony
Name[pt]=Páginas Personalizadas
Name[pt_BR]=Páginas personalizadas
Name[ru]=Пользовательские вкладки
Name[sl]=Prilagojene strani
Name[sr]=Произвољне странице
Name[sr@Latn]=Произвољне странице
Name[sv]=Egna sidor
Name[ta]=தனிபயன் பக்கங்கள்
Name[tg]=Варақаҳои замимавии истифодашаванда
Name[xx]=xxCustom Pagesxx
Name[zh_CN]=定制页
Comment=Configure the Custom Pages
Comment[bg]=Настройки на потребителските полета
Comment[bs]=Podesite vlastite stranice
Comment[ca]=Configura les pàgines a mida
Comment[cs]=Nastavení vlastních stránek
Comment[da]=Indstil de selvvalgte sider
Comment[de]=Einstellungen für benutzerdefinierte Seiten
Comment[el]=Ρύθμιση των προσαρμοσμένων σελίδων
Comment[es]=Configura las páginas personalizadas
Comment[et]=Omaloodud lehekülgede seadistamine
Comment[fr]=Configurer les pages personnalisées
Comment[gl]=Configurar as Páxinas Personalizadas
Comment[hu]=Az egyéni lapok beállítása
Comment[it]=Configura le pagine personalizzate
Comment[nb]=Konfigurere de tilpassede sidene
Comment[nl]=Hier kunt u de aangepaste pagina's instellen
Comment[pl]=Konfiguracja własnych stron
Comment[pt]=Configurar as Páginas Personalizadas
Comment[pt_BR]=Configurar Páginas personalizadas
Comment[ru]=Настройка пользовательских вкладок
Comment[sl]=Nastavi prilagojene strani
Comment[sr]=Подешавање произвољних страница
Comment[sr@Latn]=Подешавање произвољних страница
Comment[sv]=Anpassa egna sidor
Comment[ta]=தனிபயன் பக்கங்களை கட்டமை
Comment[tg]=Танзимоти варақаҳои замимавии истифодашаванда
Comment[xx]=xxConfigure the Custom Pagesxx
Comment[zh_CN]=配置定制页
Keywords=korganizer, configure, settings, custom fields
