[Desktop Entry]
Encoding=UTF-8
Icon=colors
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigcolors
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Colors
Name[x-test]=xxColorsxx
Comment=KOrganizer Colors Configuration
Comment[x-test]=xxKOrganizer Colors Configurationxx
Keywords=korganizer,colors
Keywords[x-test]=xxkorganizer,colorsxx
