[Desktop Entry]
Encoding=UTF-8
Icon=dlgedit
Type=Service
ServiceTypes=KCModule
DocPath=korganizer/preferences.html

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korgdesignerfields
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Custom Pages
Name[x-test]=xxCustom Pagesxx
Comment=Configure the Custom Pages
Comment[x-test]=xxConfigure the Custom Pagesxx
Keywords=korganizer, configure, settings, custom fields
Keywords[x-test]=xxkorganizer, configure, settings, custom fieldsxx
