[Desktop Entry]
Icon=network-workgroup
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfiggroupscheduling
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=500

Name=Group Scheduling
Name[de]=Gruppenplanung
Comment=KOrganizer Group Scheduling Configuration
Comment[de]=Einrichtung von Gruppen-Planungen für KOrganizer
X-KDE-Keywords=korganizer,group,scheduling
X-KDE-Keywords[bg]=X-KDE-Keywords=организатор, разписание, настройки, korganizer, group, scheduling
X-KDE-Keywords[ca]=korganizer,grup,planificació
X-KDE-Keywords[cs]=korganizer,skupina,plánování
X-KDE-Keywords[cy]=korganizer,ktrefnydd,grŵp,trefnlenni
X-KDE-Keywords[da]=korganizer,gruppe,skemalægning
X-KDE-Keywords[de]=KOrganizer,Gruppe,Ablaufplanung
X-KDE-Keywords[el]=korganizer,ομάδα,προγραμματισμός
X-KDE-Keywords[es]=korganizer,grupo,planificación
X-KDE-Keywords[et]=korganizer,grupid,grupitöö,ajakavad
X-KDE-Keywords[eu]=korganizer,taldea,antolaketa
X-KDE-Keywords[fa]=korganizer،گروه، زمان‌بندی
X-KDE-Keywords[fi]=korganizer,ryhmä,ajastus
X-KDE-Keywords[fr]=KOrganizer,groupes,planification
X-KDE-Keywords[fy]=korganizer,group,scheduling,plannen,groep
X-KDE-Keywords[gl]=korganizer,grupo,programar
X-KDE-Keywords[hu]=korganizer,csoport,szervezés
X-KDE-Keywords[is]=korganizer,hóp,áætlun
X-KDE-Keywords[it]=korganizer,gruppo,programmazione
X-KDE-Keywords[ja]=korganizer,グループ,スケジューリング
X-KDE-Keywords[ka]=korganizer,გჯუფი,დაგეგმვა
X-KDE-Keywords[km]=korganizer,ក្រុម,កាលវិភាគ
X-KDE-Keywords[lt]=korganizer,group,scheduling,tvarkaraštis, grupė
X-KDE-Keywords[mk]=korganizer,group,scheduling,корганизатор,група,групи,закажување
X-KDE-Keywords[ms]=korganizer,kumpulan,penjadualan
X-KDE-Keywords[nb]=korganizer,gruppe,planlegging
X-KDE-Keywords[nds]=KOrganizer,Koppel,Plaan,planen
X-KDE-Keywords[ne]=केडीई आयोजक, समूह, कार्यतालिका
X-KDE-Keywords[nl]=korganizer,group,scheduling,plannen,groep
X-KDE-Keywords[pl]=korganizer,grupa,planowanie
X-KDE-Keywords[pt]=korganizer,grupo,escalonamento
X-KDE-Keywords[pt_BR]=korganizer,grupo,agendamento
X-KDE-Keywords[ro]=korganizer,grup,planificare
X-KDE-Keywords[ru]=korganizer,group,scheduling,календарь группы,органайзер
X-KDE-Keywords[sl]=korganizer,skupina,razporejanje
X-KDE-Keywords[sr]=korganizer,group,scheduling,планер,група,распоред,распоређивање
X-KDE-Keywords[sr@latin]=korganizer,group,scheduling,planer,grupa,raspored,raspoređivanje
X-KDE-Keywords[sv]=korganizer,grupp,schemaläggning
X-KDE-Keywords[ta]=கேஅமைப்பாளர்,குழு, திட்டம் அமைத்தல்
X-KDE-Keywords[tg]=korganizer,group,scheduling,ҷадвалигурӯҳҳо,органайзер
X-KDE-Keywords[tr]=korganizer,grup,zamanlama
X-KDE-Keywords[uk]=korganizer,груп,розклад
X-KDE-Keywords[x-test]=xxkorganizer,group,schedulingxx
