[Desktop Entry]
Encoding=UTF-8
Icon=fileprint
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigprinting
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Printing
Name[be]=Друк
Name[bg]=Печат
Name[br]=O voullañ
Name[bs]=Štampanje
Name[ca]=Impressió
Name[cs]=Tisk
Name[cy]=Argraffu
Name[da]=Udskrift
Name[de]=Drucken
Name[el]=Εκτύπωση
Name[es]=Impresión
Name[et]=Trükkimine
Name[fi]=Tulostaminen
Name[fr]=Impression
Name[gl]=Impresión
Name[he]=הדפסה
Name[hi]=छपाई
Name[hu]=Nyomtatás
Name[is]=Prentun
Name[it]=Stampa
Name[ja]=印刷
Name[nb]=Utskrift
Name[nl]=Afdrukken
Name[nn]=Utskrift
Name[pl]=Drukowanie
Name[pt]=Impressão
Name[pt_BR]=Impressão
Name[ro]=Tipărire
Name[ru]=Печать
Name[sk]=Tlač
Name[sl]=Tiskanje
Name[sr]=Штампање
Name[sr@Latn]=Štampanje
Name[sv]=Utskrift
Name[ta]=அச்சிடுதல்
Name[tg]=Чоп
Name[tr]=Yazdırma
Name[uk]=Друк
Name[uz]=Босиб чиқариш
Name[zh_CN]=打印
Comment=KOrganizer Printing Configuration
Comment[be]=Канфігурацыя друку "K Арганізатара"
Comment[bg]=Настройки на печат за KOrganizer
Comment[bs]=KOrganizer podešavanje štampe
Comment[ca]=Configuració de la impressió a KOrganizer
Comment[cs]=Nastavení tisku v KOrganizeru
Comment[cy]=Ffurfweddiad Argraffu KTrefnydd
Comment[da]=KOrganizer udskriftsindstilling
Comment[de]=Druck-Einrichtung für KOrganizer
Comment[el]=Ρύθμιση εκτύπωσης του KOrganizer
Comment[es]=Configuración de la impresión en KOrganizer
Comment[et]=KOrganizeri trükkimise seadistamine
Comment[fi]=KOrganizer tulostusasetukset
Comment[fr]=Configuration de l'impression de KOrganizer
Comment[gl]=Configuración de Impresión de KOrganizer
Comment[he]=תצורת הדפסה של הארגונית האישית
Comment[hi]=के-आर्गेनाइज़र छपाई कॉन्फ़िगरेशन
Comment[hu]=KOrganizer nyomtatási beállítások
Comment[is]=KSkipulag Prentstillingar
Comment[it]=KOrganizer configurazione stampa
Comment[ja]=KOrganizer 印刷設定
Comment[nb]=KOrganizer utskriftsoppsett
Comment[nl]=KOrganizer afdrukken instellen
Comment[nn]=KOrganizer, utskriftsinnstillingar
Comment[pl]=Konfiguracja drukowania dla KOrganizera
Comment[pt]=Configuração da Impressão no KOrganizer
Comment[pt_BR]=Configuração de Impressão do KOrganizer
Comment[ro]=Configurare tipărire KOrganizer
Comment[ru]=Настройка печати из органайзера KDE
Comment[sk]=Nastavenie tlače pre KOrganizer
Comment[sl]=Nastavitev tiskanja v KOrganizerju
Comment[sr]=Подешавање штампе у KOrganizer-у
Comment[sr@Latn]=Podešavanje štampe u KOrganizer-u
Comment[sv]=Inställning av Korganizers utskrifter
Comment[ta]=கேஅமைப்பாளர் அச்சிடும் கட்டமைப்பு
Comment[tg]=Танзимоти чоп аз органайзери KDE
Comment[tr]=KOrganizer Yazıcı Yapılandırması
Comment[uk]=Налаштування друку в KOrganizer
Comment[zh_CN]=KOrganizer 打印配置
Keywords=korganizer,printing
Keywords[be]=K Арганізатар,друк,korganizer,printing
Keywords[bg]=организатор, печат, настройки, korganizer, printing
Keywords[bs]=korganizer,printing,štampanje,štampa
Keywords[ca]=korganizer,impressió
Keywords[cs]=korganizer,tisk
Keywords[cy]=korganizer,ktrefnydd,argraffu
Keywords[da]=korganizer,udskrift
Keywords[de]=KOrganizer,Drucken
Keywords[el]=korganizer,εκτύπωση
Keywords[es]=korganizer,impresión
Keywords[et]=korganizer,trükkimine
Keywords[fi]=korganizer,tulostaminen
Keywords[fr]=korganizer,impression
Keywords[gl]=korganizer,impresión
Keywords[he]=korganizer,אירגונית,הדפסה
Keywords[hi]=के-आर्गेनाइज़र,छपाई
Keywords[hu]=korganizer,nyomtatás
Keywords[is]=prentun,prentari,kskipulag
Keywords[it]=korganizer,stampa
Keywords[ja]=korganizer,印刷
Keywords[nb]=korganizer,utskrift
Keywords[nl]=print,printer,afdrukbeheer,afdrukken,korganizer
Keywords[nn]=korganizer,utskrift
Keywords[pl]=korganizer,drukowanie
Keywords[pt]=korganizer,impressão
Keywords[pt_BR]=korganizer,impressão
Keywords[ro]=korganizer,tipărire
Keywords[ru]=korganizer,printing,органайзер,печать
Keywords[sk]=korganizer,tlač
Keywords[sl]=korganizer,tiskanje
Keywords[sr]=korganizer,printing,планер,штампање
Keywords[sr@Latn]=korganizer,printing,planer,štampanje
Keywords[sv]=korganizer,utskrift
Keywords[ta]=கேஅமைப்பாளர்,அச்சிடுதல்
Keywords[tg]=korganizer,printing,органайзер,чоп
Keywords[tr]=korganizer,yazdırma
Keywords[uk]=korganizer,друк
Keywords[uz]=korganizer,органайзер,босиб чиқариш
Keywords[zh_CN]=korganizer,printing,打印
