[Desktop Entry]
Encoding=UTF-8
Icon=dlgedit
Type=Service
ServiceTypes=KCModule
DocPath=korganizer/preferences.html

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korgdesignerfields
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Custom Pages
Name[bg]=Потребителски полета
Name[br]=Pajennoù dre ziouer
Name[bs]=Vlastite stranice
Name[ca]=Pàgines a mida
Name[cs]=Vlastní stránky
Name[da]=Brugervalgte sider
Name[de]=Benutzerdefinierte Seiten
Name[el]=Προσαρμοσμένες σελίδες
Name[es]=Páginas personalizadas
Name[et]=Omaloodud leheküljed
Name[fr]=Pages personnalisées
Name[gl]=Páxinas Personalizadas
Name[he]=דפים מותאמים אישית
Name[hu]=Egyéni lapok
Name[is]=Sérsniðnar síður
Name[it]=Pagine personalizzate
Name[ja]=カスタム ページ
Name[nb]=Tilpassede sider
Name[nl]=Aangepaste pagina's
Name[nn]=Tilpassa sider
Name[pl]=Własne strony
Name[pt]=Páginas Personalizadas
Name[pt_BR]=Páginas personalizadas
Name[ru]=Пользовательские вкладки
Name[se]=Iežat siiddut
Name[sk]=Vlastné stránky
Name[sl]=Prilagojene strani
Name[sr]=Посебне странице
Name[sr@Latn]=Посебне странице
Name[sv]=Egna sidor
Name[ta]=தனிபயன் பக்கங்கள்
Name[tg]=Варақаҳои замимавии истифодашаванда
Name[tr]=Özel Sayfa
Name[uk]=Нетипові сторінки
Name[xx]=xxCustom Pagesxx
Name[zh_CN]=定制页
Comment=Configure the Custom Pages
Comment[bg]=Настройки на потребителските полета
Comment[br]=Kefluniañ ar pajennoù diouzhoc'h
Comment[bs]=Podesite vlastite stranice
Comment[ca]=Configura les pàgines a mida
Comment[cs]=Nastavení vlastních stránek
Comment[da]=Indstil de selvvalgte sider
Comment[de]=Einstellungen für benutzerdefinierte Seiten
Comment[el]=Ρύθμιση των προσαρμοσμένων σελίδων
Comment[es]=Configura las páginas personalizadas
Comment[et]=Omaloodud lehekülgede seadistamine
Comment[fr]=Configurer les pages personnalisées
Comment[gl]=Configurar as Páxinas Personalizadas
Comment[hu]=Az egyéni lapok beállítása
Comment[is]=Stilla sérsniðnu síðurnar
Comment[it]=Configura le pagine personalizzate
Comment[ja]=カスタム ページの設定
Comment[lt]=Konfigūruoti darbastalių skaičių ir pavadinimus
Comment[nb]=Konfigurere de tilpassede sidene
Comment[nl]=Hier kunt u de aangepaste pagina's instellen
Comment[nn]=Set opp dei tilpassa sidene
Comment[pl]=Konfiguracja własnych stron
Comment[pt]=Configurar as Páginas Personalizadas
Comment[pt_BR]=Configurar Páginas personalizadas
Comment[ru]=Настройка пользовательских вкладок
Comment[se]=Heivet iežat siidduid
Comment[sk]=Nastavenie vlastných stránok
Comment[sl]=Nastavi prilagojene strani
Comment[sr]=Подешавање посебних страница
Comment[sr@Latn]=Подешавање посебних страница
Comment[sv]=Anpassa egna sidor
Comment[ta]=தனிபயன் பக்கங்களை கட்டமை
Comment[tg]=Танзимоти варақаҳои замимавии истифодашаванда
Comment[tr]=Özel Sayfaları Yapılandır
Comment[uk]=Налаштування нетипових сторінок
Comment[xx]=xxConfigure the Custom Pagesxx
Comment[zh_CN]=配置定制页
Keywords=korganizer, configure, settings, custom fields
Keywords[bg]=организатор, настройки, korganizer, configure, settings, custom fields
Keywords[ca]=korganizer, configura, opcions, camps a mida
Keywords[cs]=korganizer,nastavení,vlastní pole
Keywords[da]=korganizer, indstil, opsætning, brugervalgte felter
Keywords[de]=KOrganizer,konfigurieren,Einstellungen,benutzerdefinierte Felder
Keywords[es]=korganizer, configurar, opciones, campos personalizados
Keywords[et]=korganizer, seadistamine, seadistused, omaloodud väljad
Keywords[fr]=KOrganizer, configuration, configurer, champs personnalisés
Keywords[hu]=korganizer,beállítás,beállítások,egyéni mezők
Keywords[it]=korganizer, configura, impostazioni, campi personalizzati
Keywords[nl]=korganizer, configuratie, instellingen, aangepaste velden
Keywords[nn]=korganizer, oppsett, innstillingar, tilpassa felt
Keywords[pl]=korganizer,konfiguracja,ustawienia,własne pola
Keywords[pt]=korganizer, configurar, configuração, campos personalizados
Keywords[pt_BR]=korganizer,configurar,configurações, campos personalizados
Keywords[ru]=korganizer, configure, settings, custom fields, настройка, органайзер
Keywords[sl]=korganizer, nastavi, nastavitve, prilagojena polja
Keywords[sr]=korganizer, configure, settings, custom fields, подешавање, посебна поља
Keywords[sr@Latn]=korganizer, configure, settings, custom fields, подешавање, посебна поља
Keywords[sv]=korganizer,anpassa,inställningar,egna fält
Keywords[tr]=korganizer, yapılandır, yapılandırma, özel alanlar
Keywords[uk]=korganizer, configure, settings, custom fields, налаштування, параметри, нетипові поля
Keywords[xx]=xxkorganizer, configure, settings, custom fieldsxx
Keywords[zh_CN]=korganizer, configure, settings, custom fields, 配置, 设置, 定制项
