[Desktop Entry]
Encoding=UTF-8
MimeType=text/calendar;text/x-vcalendar;
Exec=korganizer --import %u
Icon=korganizer
Path=
DocPath=korganizer/index.html
Type=Application
Terminal=false
Name=Import Calendar
Name[be]=Імпартаваць каляндар
Name[br]=Enporzh an deiziadur
Name[cy]=Mewnforio Calendr
Name[da]=Importér kalender
Name[es]=Importar calendario
Name[sv]=Importera kalender
ServiceTypes=Browser/View,DCOP/Organizer
X-KDE-Library=libkorganizerpart
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
X-DCOP-ServiceName=korganizer
InitialPreference=5

