[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigfreebusy
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=600

Name=Free/Busy
Name[de]=Frei/Beschäftigt
Comment=KOrganizer Free/Busy Configuration
Comment[de]=Frei/Beschäftigt-Festlegung für KOrganizer
X-KDE-Keywords=korganizer,freebusy,scheduling
X-KDE-Keywords[af]=korganizer, freebusy, scheduling
X-KDE-Keywords[bg]=X-KDE-Keywords=организатор, свободно, заето, настройки, korganizer, freebusy, scheduling
X-KDE-Keywords[ca]=korganizer,lliure ocupat,planificació
X-KDE-Keywords[cs]=korganizer,volný,zaneprázdněn,plánování
X-KDE-Keywords[cy]=korganizer,ktrefnydd,rhydd,prysur,trefnlennu
X-KDE-Keywords[da]=korganizer,fri/optaget,skemalægning
X-KDE-Keywords[de]=KOrganizer,Frei/Beschäftigt,Ablaufplanung
X-KDE-Keywords[el]=korganizer,freebusy,προγραμματισμός
X-KDE-Keywords[es]=korganizer,libreocupado,planificación
X-KDE-Keywords[et]=korganizer,vaba,hõivatud,ajakava
X-KDE-Keywords[eu]=korganizer,libre, lanpetuta,antolaketa
X-KDE-Keywords[fa]=korganizer،آزاد اشغال، زمان‌بندی
X-KDE-Keywords[fi]=korganizer,vapaa,varattu,ajastus
X-KDE-Keywords[fr]=KOrganizer,disponibilité, planification
X-KDE-Keywords[fy]=korganizer,freebusy,scheduling,plannen,frij,beset,roaster
X-KDE-Keywords[gl]=korganizer,dispoñibilidade,axenda
X-KDE-Keywords[hu]=korganizer,foglaltság,szervezés
X-KDE-Keywords[is]=korganizer,tímaráðstöfun,áætlun
X-KDE-Keywords[it]=korganizer,libero/occupato,pianificazione
X-KDE-Keywords[ja]=korganizer,動静,スケジューラ
X-KDE-Keywords[ka]=korganizer,თავისუფალიდაკავებული,დაგეგმვა
X-KDE-Keywords[km]=korganizer,ទំនេរ,រវល់,កាលវិភាគ
X-KDE-Keywords[mk]=korganizer,freebusy,scheduling,корганизатор,слободно,зафатено,закажување
X-KDE-Keywords[ms]=korganizer,lapang sibuk,penjadualan
X-KDE-Keywords[nb]=korganizer,ledigopptatt,planlegger
X-KDE-Keywords[nds]=KOrganizer,Free/Bunnen,Free,Bunnen,Planen,Plaan
X-KDE-Keywords[ne]=केडीई आयोजक, स्वतन्त्र व्यस्त, कार्यतालिका
X-KDE-Keywords[nl]=korganizer,freebusy,scheduling,plannen,vrij,bezet,rooster
X-KDE-Keywords[pl]=korganizer,wolny/zajęty,planowanie
X-KDE-Keywords[pt]=korganizer,livre,ocupado,escalonamento
X-KDE-Keywords[pt_BR]=korganizer,livreocupado,agendamento
X-KDE-Keywords[ru]=korganizer,freebusy,scheduling,органайзер,занятое время,календарь
X-KDE-Keywords[sl]=korganizer,freebusy,razporejanje
X-KDE-Keywords[sr]=korganizer,freebusy,scheduling,слободан,заузет,планирање
X-KDE-Keywords[sr@latin]=korganizer,freebusy,scheduling,slobodan,zauzet,planiranje
X-KDE-Keywords[sv]=korganizer,ledig/upptagen,schemaläggning
X-KDE-Keywords[ta]=கேஅமைப்பாளர்,சுதந்திரமான/திட்டம் அமைத்தல்
X-KDE-Keywords[tg]=korganizer,freebusy,scheduling,органайзер, вақти холӣ,ҷадвал
X-KDE-Keywords[tr]=korganizer,boş/meşgul,zamanlama
X-KDE-Keywords[uk]=korganizer,вільно,зайнято,час,розклад
X-KDE-Keywords[x-test]=xxkorganizer,freebusy,schedulingxx
