[Desktop Entry]
NoDisplay=true
Comment=Calendar and Scheduling Program
Comment[de]=Ein Kalender und Zeitplaner
Exec=korganizer --import %U
Icon=korganizer
X-DocPath=korganizer/index.html
Type=Application
Terminal=false
Name=KOrganizer
GenericName=Personal Organizer
GenericName[de]=Persönliche Daten organisieren
X-KDE-ServiceTypes=Browser/View
X-KDE-Library=korganizerpart
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
