[Desktop Entry]
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigcolorsandfonts
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=400

Name=Colors and Fonts
Name[de]=Farben und Schriftarten
Comment=KOrganizer Colors and Fonts Configuration
Comment[de]=Farb- und Schriftdarstellung für KOrganizer
X-KDE-Keywords=korganizer,colors,fonts
X-KDE-Keywords[el]=korganizer,χρώματα,γραμματοσειρές
X-KDE-Keywords[fa]=korganizer،رنگها،قلمها
X-KDE-Keywords[ga]=korganizer,dathanna,clófhoirne
X-KDE-Keywords[ja]=korganizer,色,フォント
X-KDE-Keywords[nl]=korganizer,kleuren,lettertypen
X-KDE-Keywords[pt]=korganizer,cores,tipos de letra
X-KDE-Keywords[pt_BR]=korganizer,cores,tipos de letra
X-KDE-Keywords[sv]=korganizer,färger,teckensnitt
