<!DOCTYPE kpartgui>
<kpartgui name="korganizer">

  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="print_setup" append="print_merge"/>
      <Action name="import_ical"/>
      <Action name="merge_calendar"/>
      <Action name="file_archive"/>
      <Action name="export_web"/>
      <Separator/>
      <Action name="make_active"/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
      <Action name="view_list"/>
      <Action name="view_day"/>
      <Action name="view_workweek"/>
      <Action name="view_week"/>
      <Action name="view_month"/>
      <Action name="view_todo"/>
      <Separator/>
      <Action name="update"/>
    </Menu>
    <Menu name="go_document">
      <Action name="go_today"/>
    </Menu>
    <Menu name="actions"><text>&amp;Actions</text>
      <Action name="new_event"/>
      <Action name="new_todo"/>
      <Separator/>
      <Action name="show_appointment"/>
      <Action name="edit_appointment"/>
      <Action name="delete_appointment"/>
      <Action name="mail_appointment"/>
    </Menu>
    <Menu name="settings"><text>&amp;Settings</text>
      <Actionlist name="toolbartoggles" append="show_merge"/>
    </Menu>
  </MenuBar>

  <ToolBar name="mainToolBar"><text>Main</text>
    <Action name="go_today"/>
    <Action name="mail_appointment"/>
    <Action name="new_event"/>
  </ToolBar>

  <ToolBar name="korganizer_toolbar"><text>Views</text>
    <Action name="view_list"/>
    <Action name="view_day"/>
    <Action name="view_workweek"/>
    <Action name="view_week"/>
    <Action name="view_month"/>
    <Action name="view_todo"/>
  </ToolBar>

</kpartgui>
