[Desktop Entry]
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigplugins
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Plugins
Name[af]=Inprop modules
Name[ar]=القوابس
Name[be]=Дапаўненні
Name[bg]=Приставки
Name[br]=Lugantoù
Name[ca]=Endollables
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[de]=Module
Name[el]=Πρόσθετα
Name[eo]=Kromaĵoj
Name[es]=Extensiones
Name[et]=Pluginad
Name[eu]=Plugin-ak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[ga]=Breiseáin
Name[gl]=Extensións
Name[he]=תוספים
Name[hu]=Bővítőmodulok
Name[is]=Íforrit
Name[it]=Plugin
Name[ja]=プラグイン
Name[ka]=მოდულები
Name[kk]=Плагин модульдері
Name[km]=កម្មវិធី​ជំនួយ
Name[lt]=Priedai
Name[mk]=Приклучоци
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[nn]=Programtillegg
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[ru]=Модули
Name[rw]=Amacomeka
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@Latn]=Priključci
Name[sv]=Insticksprogram
Name[ta]=சொருகுப்பொருள்கள்
Name[tr]=Eklentiler
Name[uk]=Втулки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=KOrganizer Plugin Configuration
Comment[af]=Korganizer inprop module opstelling
Comment[be]=Канфігурацыя дапаўненняў "K Арганізатара"
Comment[bg]=Настройки на приставките за KOrganizer
Comment[br]=Kefluniadur al lugent KOrganizer
Comment[ca]=Configuració de l'endollable de KOrganizer
Comment[cs]=Nastavení modulů KOrganizeru
Comment[da]=KOrganizer plugin-indstilling
Comment[de]=Modul-Einrichtung für KOrganizer
Comment[el]=Ρύθμιση προσθέτων του KOrganizer
Comment[eo]=KOrganizilo-Kromaĵagordo
Comment[es]=Configuración de las extensiones de KOrganizer
Comment[et]=KOrganizeri pluginate seadistused
Comment[eu]=KOrganizer-en plugin konfigurazioa
Comment[fa]=پیکربندی وصلۀ KOrganizer
Comment[fi]=KOrganizerin liitännäisen asetukset
Comment[fr]=Configuration du module KOrganizer
Comment[fy]=KOrganizer pluginynstellings
Comment[gl]=Configuración de Extensións de KOrganizer
Comment[he]=הגדרות תוסף הארגונית
Comment[hu]=A KOrganizer bővítőmodul beállításai
Comment[is]=Stillingar KOrganizer íforrita
Comment[it]=Configurazione plugin KOrganizer
Comment[ja]=KOrganizer プラグイン設定
Comment[ka]=KOrganizer მოდულების კონფიგურაცია
Comment[kk]=KOrganizer-дің плагин модульдерінің параметрлері
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ KOrganizer
Comment[lt]=KOrganizer priedų konfigūravimas
Comment[mk]=Конфигурација на приклучоци
Comment[ms]=Konfigurasi Plugin KOrganizer 
Comment[nb]=KOrganizer oppsett for programtillegg
Comment[nds]=Modulen för KOrganizer instellen
Comment[ne]=केडीई आयोजक प्लगइन कन्फिगरेसन
Comment[nl]=KOrganizer plugininstellingen
Comment[nn]=Oppsett av KOrganizer-programtillegg
Comment[pl]=Konfiguracja wtyczek KOrganizera
Comment[pt]=Configuração de 'Plugins' do KOrganizer
Comment[pt_BR]=Configuração dos Plugins do KOrganizer
Comment[ru]=Настройки модуля KOrganizer
Comment[sk]=Nastavenie modulu KOrganizer
Comment[sl]=Nastavitve vstavka KOrganizerja
Comment[sr]=Подешавање прикључака KOrganizer-а
Comment[sr@Latn]=Podešavanje priključaka KOrganizer-a
Comment[sv]=Korganizers inställning av insticksprogram
Comment[ta]=கேஅமைப்பாளர் சொருகுப்பொருள் வடிவமைப்பு
Comment[tr]=KOrganizer Eklenti Yapılandırması
Comment[uk]=Втулок налаштування KOrganizer
Comment[zh_CN]=KOrganizer 插件配置
Comment[zh_TW]=KOrganizer外掛程式設定
Keywords=korganizer,plugin,module
Keywords[be]=K Арганізатар,дапаўненне,модуль,korganizer,plugin,module
Keywords[bg]=организатор, модул, приставка, korganizer, plugin, module
Keywords[ca]=korganizer,endollable,mòdul
Keywords[cs]=korganizer,modul
Keywords[da]=korganizer,plugin,modul
Keywords[de]=KOrganizer,Modul,Plugin
Keywords[el]=korganizer,πρόσθετο,άρθρωμα
Keywords[es]=korganizer,extensión,plugin,módulo
Keywords[et]=korganizer,plugin,moodul
Keywords[eu]=korganizer,plugin-a,modulua
Keywords[fa]=korganizer،وصله، پیمانه
Keywords[fi]=korganizer,liitännäinen,moduuli
Keywords[fr]=korganizer,module
Keywords[ga]=korganizer,breiseán,modúl
Keywords[gl]=korganizer,extensión,módulo
Keywords[he]=korganizer,plugin,module,מודול,תוסף,ארגונית
Keywords[hu]=korganizer,bővítőmodul,modul
Keywords[is]=korganizer,íforrit,eining
Keywords[it]=korganizer,plugin,modulo
Keywords[ja]=korganizer,プラグイン,モジュール
Keywords[ka]=korganizer,მოდული
Keywords[km]=korganizer,កម្មវិធី​ជំនួយ,ម៉ូឌុល
Keywords[lt]=korganizer,plugin,module,modulis,priedas
Keywords[mk]=korganizer,plugin,module,корганизатор,приклучок,приклучоци,модул.модули
Keywords[ms]=korganizer,plugin,modul
Keywords[nb]=korganizer,programtillegg,modul
Keywords[nds]=KOrganizer,Moduul,Modulen,Plugins
Keywords[ne]=केडीई आयोजक, प्लगइन, मोड्युल
Keywords[nn]=korganizer,programtillegg,modul
Keywords[pl]=korganizer,wtyczka,moduł
Keywords[pt]=korganizer,'plugin',módulo
Keywords[pt_BR]=korganizer,plugin,módulo
Keywords[ru]=korganizer,plugin,module,органайзер,модуль
Keywords[sl]=korganizer,vstavek,modul
Keywords[sr]=korganizer,plugin,module,прикључак,модул
Keywords[sr@Latn]=korganizer,plugin,module,priključak,modul
Keywords[sv]=korganizer,insticksprogram,modul
Keywords[ta]=கேஅமைப்பாளர்,சொருகுப்பொருள்,பகுதி
Keywords[tr]=korganizer,eklenti,modül
Keywords[uk]=korganizer,plugin,module,втулок,модуль
Keywords[zh_CN]=korganizer,plugin,module,插件,模块
