[Desktop Entry]
Encoding=UTF-8
Icon=fonts
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigfonts
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Fonts
Name[fr]=Polices
Name[x-test]=xxFontsxx
Comment=KOrganizer Fonts Configuration
Comment[fr]=Configuration des polices de KOrganizer
Comment[x-test]=xxKOrganizer Fonts Configurationxx
Keywords=korganizer,fonts
Keywords[fr]=KOrganizer,polices
Keywords[x-test]=xxkorganizer,fontsxx
