[Desktop Entry]
Encoding=UTF-8
Icon=viewmag
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigviews
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Views
Name[fr]=Vues
Name[x-test]=xxViewsxx
Comment=KOrganizer View Configuration
Comment[fr]=Configuration des vues de KOrganizer
Comment[x-test]=xxKOrganizer View Configurationxx
Keywords=korganizer,view
Keywords[fr]=KOrganizer,vues
Keywords[x-test]=xxkorganizer,viewxx
