[Desktop Entry]
Encoding=UTF-8
Icon=identity
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigmain
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Personal
Name[ar]=شخصي
Name[be]=Пэрсанальныя
Name[bg]=Персоналност
Name[bs]=Lično
Name[cs]=Osobní
Name[cy]=Personol
Name[da]=Personlig
Name[de]=Persönliches
Name[el]=Προσωπικό
Name[et]=Isiklik
Name[fi]=Henkilökohtainen
Name[fr]=Personnel
Name[ga]=Pearsanta
Name[gl]=Persoal
Name[hi]=निजी
Name[hu]=Alapbeállítások
Name[is]=Persónulegt
Name[it]=Personale
Name[ja]=個人設定
Name[lt]=Suasmeninimas
Name[nb]=Personlig
Name[nl]=Persoonlijk
Name[nn]=Personleg
Name[pl]=Osobiste
Name[pt]=Pessoal
Name[pt_BR]=Pessoal
Name[ru]=Персональные настройки
Name[se]=Peršuvnnalaš
Name[sk]=Osobné
Name[sl]=Osebno
Name[sr]=Лично
Name[sr@Latn]=Lično
Name[sv]=Personlig inställning
Name[ta]=அந்தரங்கமான
Name[tg]=Танзимотҳои шахсӣ
Name[tr]=Kişisel
Name[uk]=Особисті
Name[uz]=Шахсий
Name[xx]=xxPersonalxx
Name[zh_CN]=个人
Comment=KOrganizer Main Configuration
Comment[bg]=Главни настройки за KOrganizer
Comment[bs]=KOrganizer glavno podešavanje
Comment[ca]=Configuració principal a KOrganizer
Comment[cs]=Hlavní nastavení KOrganizeru
Comment[cy]=Prif Ffurfweddiad KTrefnydd
Comment[da]=KOrganizer hovedindstilling
Comment[de]=Grundeinrichtung für KOrganizer
Comment[el]=Κύρια ρύθμιση του KOrganizer
Comment[es]=Configuración principal de KOrganizer
Comment[et]=KOrganizeri põhiseadistused
Comment[fi]=KOrganizerin pääasetukset
Comment[fr]=Configuration principale de KOrganizer
Comment[gl]=Configuración Principal de KOrganizer
Comment[hi]=के-आर्गेनाइज़र मुख्य कॉन्फ़िगरेशन
Comment[hu]=A KOrganizer alapbeállításai
Comment[is]=KSkipulag Aðalstillingar
Comment[it]=Configurazione principale di KOrganizer
Comment[ja]=KOrganizer 主要設定
Comment[nb]=KOrganizer hovedoppsett
Comment[nl]=KOrganizer algemene instellingen
Comment[nn]=KOrganizer, hovudinnstillingar
Comment[pl]=Główna konfiguracja KOrganizera
Comment[pt]=Configuração Principal do KOrganizer
Comment[pt_BR]=Configuração Principal do KOrganizer
Comment[ru]=Общие настройки органайзера KDE
Comment[se]=Korganizer, váldoheivehusat
Comment[sk]=Hlavné nastavenie KOrganizer
Comment[sl]=Glavne nastavitve KOrganizerja
Comment[sr]=Главна подешавања у KOrganizer-у
Comment[sr@Latn]=Glavna podešavanja u KOrganizer-u
Comment[sv]=Korganizers huvudinställning
Comment[ta]=கேஅமைப்பாளர் முக்கிய கட்டமைப்பு
Comment[tg]=Танзимотҳои умумии органайзер-KDE
Comment[tr]=KOrganizer Temel Yapılandırması
Comment[uk]=Налаштування особистих даних у KOrganizer
Comment[xx]=xxKOrganizer Main Configurationxx
Comment[zh_CN]=KOrganizer 主要配置
Keywords=korganizer,main,personal
Keywords[bg]=организатор, главни, персонални, настройки, korganizer, main, personal
Keywords[bs]=korganizer,main,personal,lično
Keywords[ca]=korganizer,principal,personal
Keywords[cs]=korganizer,hlavní,osobní
Keywords[cy]=korganizer,ktrefnydd,prif,personol
Keywords[da]=korganizer,hoved,personlig
Keywords[de]=KOrganizer,Persönliches
Keywords[el]=korganizer,κύρια,προσωπικό
Keywords[es]=korganizer,principal,personal
Keywords[et]=korganizer,peamine,isiklik
Keywords[fi]=korganizer,pää,henkilökohtainen
Keywords[fr]=KOrganizer,principal,personnel
Keywords[gl]=korganizer,principal,persoal
Keywords[hi]=के-आर्गेनाइज़र,मुख्य,निजी
Keywords[hu]=korganizer,alapbeállítások,személyes
Keywords[is]=kskipulag,aðal,persónulegt
Keywords[it]=korganizer,principale,personale
Keywords[ja]=korganizer,メイン,個人
Keywords[nb]=korganizer,hoved,personlig
Keywords[nl]=korganizer,algemeen,persoonlijk
Keywords[nn]=korganizer,hovud,personleg
Keywords[pl]=korganizer,główny,główna,osobisty,osobista,osobiste
Keywords[pt]=korganizer,principal,pessoal
Keywords[pt_BR]=korganizer,principal,pessoal
Keywords[ro]=korganizer,principal,personal
Keywords[ru]=korganizer,main,personal,почта,персональные настройки,органайзер
Keywords[sk]=korganizer,hlavné,osobné
Keywords[sl]=korganizer,glavne,osebne
Keywords[sr]=korganizer,main,personal,планер,главни,лични,лично
Keywords[sr@Latn]=korganizer,main,personal,planer,glavni,lični,lično
Keywords[sv]=korganizer,huvudinställning,personlig inställning
Keywords[ta]=கேஅமைப்பாளர்,முக்கிய, தனிப்பட்ட
Keywords[tg]=korganizer,main,personal,почта,танзимотҳои шахсӣ,органайзер
Keywords[tr]=korganizer,temel,kişisel
Keywords[uk]=korganizer,особистий,Персональний
Keywords[uz]=korganizer,органайзер,асосий,шахсий
Keywords[xx]=xxkorganizer,main,personalxx
Keywords[zh_CN]=korganizer,main,personal,主要,个人
