[Desktop Entry]
Encoding=UTF-8
Icon=clock
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigtime
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Time & Date
Name[ar]=الوقت والتاريخ
Name[be]=Час і дата
Name[bg]=Дата и час
Name[br]=Deiziad hag eur
Name[bs]=Vrijeme i datum
Name[ca]=Hora i data
Name[cs]=Datum a čas
Name[cy]=Amser & Dyddiad
Name[da]=Tid & Dato
Name[de]=Zeit & Datum
Name[el]=Ώρα & Ημερομηνία
Name[es]=Fecha y hora
Name[et]=Aeg
Name[fi]=Aika ja päiväys
Name[fr]=Date et heure
Name[gl]=Hora e Data
Name[he]=שעה ותאריך
Name[hi]=तारीख़ व समय
Name[hu]=Dátum és idő
Name[is]=Tími og dagsetning
Name[it]=Data e ora
Name[ja]=時間及び日付
Name[nb]=Dato og tid
Name[nl]=Datum & tijd
Name[nn]=Tidsinnstillingar
Name[pl]=Czas i data
Name[pt]=Data e Hora
Name[pt_BR]=Data & Hora
Name[ro]=Timp şi dată
Name[ru]=Дата и время
Name[se]=Áigi ja beaivvit
Name[sk]=Dátum a čas
Name[sl]=Čas in datum
Name[sr]=Време и датум
Name[sr@Latn]=Vreme i datum
Name[sv]=Tid och datum
Name[ta]=நேரம் & தேதி
Name[tg]=Сана ва вақт
Name[tr]=Saat & Tarih
Name[uk]=Час та дата
Name[uz]=Сана ва вақт
Name[zh_CN]=时间和日期
Comment=KOrganizer Time Configuration
Comment[ar]=إعداد وقت KOrganizer
Comment[be]=Канфігурацыя часу "K Арганізатара"
Comment[bg]=Настройки на дата и час за KOrganizer
Comment[bs]=KOrganizer podešavanje vremena
Comment[ca]=Configuració del temps a KOrganizer
Comment[cs]=Nastavení času v KOrganizeru
Comment[cy]=Ffurfweddiad Amser KTrefnydd
Comment[da]=KOrganizer tidsindstilling
Comment[de]=Zeitliche Festlegungen für KOrganizer
Comment[el]=Ρύθμιση ώρας του KOrganizer
Comment[es]=Configuración de la hora de KOrganizer
Comment[et]=KOrganizeri ajaseadistused
Comment[fi]=KOrganizerin aika-asetukset
Comment[fr]=Configuration de l'heure de KOrganizer
Comment[gl]=Configuración de Hora de KOrganizer
Comment[he]=תצורת זמן של KOrganizer
Comment[hi]=के-आर्गेनाइज़र समय कॉन्फ़िगरेशन
Comment[hu]=KOrganizer dátum- és időbeállítások
Comment[is]=KSkipulag Tímastillignar
Comment[it]=Configurazione data di KOrganizer
Comment[ja]=KOrganizer 時間設定
Comment[nb]=KOrganizer tidsoppsett
Comment[nl]=KOrganizer datum en tijd instellen
Comment[nn]=KOrganizer, tidsinnstillingar
Comment[pl]=Konfiguracja czasu dla KOrganizera
Comment[pt]=Configuração da Hora no KOrganizer
Comment[pt_BR]=Configuração de Tempo do KOrganizer
Comment[ro]=Configurare timp KOrganizer
Comment[ru]=Настройка времени органайзера KDE
Comment[sk]=Nastavenie času pre KOrganizer
Comment[sl]=Nastavitev časa v KOrganizerju
Comment[sr]=Подешавање времена у KOrganizer-у
Comment[sr@Latn]=Podešavanje vremena u KOrganizer-u
Comment[sv]=Inställning av Korganizers tid
Comment[ta]=கேஅமைப்பாளர் நேர கட்டமைப்பு
Comment[tg]=Танзимоти вақти органайзери KDE
Comment[tr]=KOrganizer Zaman Yapılandırması
Comment[uk]=Налаштування часу та дати в KOrganizer
Comment[zh_CN]=KOrganizer 时间配置
Keywords=korganizer,time
Keywords[ar]=korganizer,الوقت
Keywords[be]=K Арганізатар,час,korganizer,time
Keywords[bg]=организатор, дата, час, настройки, korganizer, time
Keywords[br]=korganizer,amzer
Keywords[bs]=korganizer,time,vrijeme
Keywords[ca]=korganizer,temps
Keywords[cs]=korganizer,čas
Keywords[cy]=korganizer,ktrefnydd,amser
Keywords[da]=korganizer,tid
Keywords[de]=KOrganizer,Zeit
Keywords[el]=korganizer,ώρα
Keywords[es]=korganizer,hora
Keywords[et]=korganizer,aeg
Keywords[fi]=korganizer,aika
Keywords[fr]=korganizer,date
Keywords[gl]=korganizer,hora
Keywords[he]=korganizer,ארגונית,זמן
Keywords[hi]=के-आर्गेनाइज़र,समय
Keywords[hu]=korganizer,idő
Keywords[is]=dagssetning,klukka,tími,kskipulag
Keywords[it]=korganizer,data,ora
Keywords[ja]=korganizer,時間
Keywords[nb]=korganizer,tid
Keywords[nl]=datum,tijd,korganizer
Keywords[nn]=korganizer,tid
Keywords[pl]=korganizer,czas,data,daty
Keywords[pt]=korganizer,hora
Keywords[pt_BR]=korganizer,tempo
Keywords[ro]=korganizer,timp
Keywords[ru]=korganizer,time,органайзер,время
Keywords[sk]=korganizer,čas
Keywords[sl]=korganizer,čas
Keywords[sr]=korganizer,time,време,планер
Keywords[sr@Latn]=korganizer,time,vreme,planer
Keywords[sv]=korganizer,tid
Keywords[ta]=கேஅமைப்பாளர்,நேரம்
Keywords[tg]=korganizer,time,органайзер,вақт
Keywords[tr]=korganizer,zaman
Keywords[uk]=korganizer,час,дата
Keywords[uz]=korganizer,органайзер,сана,вақт
Keywords[zh_CN]=korganizer,time,时间
