[Desktop Entry]
Icon=korganizer
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigmain
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=100

Name=General
Name[de]=Allgemein
Comment=KOrganizer Main Configuration
Comment[de]=Grundeinrichtung für KOrganizer
X-KDE-Keywords=korganizer,main
X-KDE-Keywords[el]=korganizer,κύριο,βασικό
X-KDE-Keywords[fa]=korganizer،اصلی
X-KDE-Keywords[ga]=korganizer,príomh
X-KDE-Keywords[ja]=korganizer,主要,メイン
X-KDE-Keywords[nl]=korganizer,algemeen,hoofd
X-KDE-Keywords[pt]=korganizer,principal
X-KDE-Keywords[pt_BR]=korganizer,principal
X-KDE-Keywords[sv]=korganizer,huvud
