<!DOCTYPE kpartgui>
<kpartgui name="kedit">
  <MenuBar>
    <Menu name="file"><text>&amp;File</text>
      <Action name="import_ical"/>
      <Action name="merge_calendar"/>
      <Action name="file_archive"/>
      <Action name="export_web"/>
      <Action name="print_setup"/>
    </Menu>
    <Menu name="view"><text>&amp;View</text>
      <Action name="view_list"/>
      <Action name="view_day"/>
      <Action name="view_workweek"/>
      <Action name="view_week"/>
      <Action name="view_month"/>
      <Action name="view_todo"/>
      <Action name="update"/>
    </Menu>
    <Menu name="actions"><text>&amp;Actions</text>
      <Action name="new_appointment"/>
      <Action name="new_event"/>
      <Action name="new_todo"/>
      <Action name="edit_appointment"/>
      <Action name="delete_appointment"/>
      <Action name="mail_appointment"/>
      <Action name="go_today"/>
      <Action name="go_previous"/>
      <Action name="go_next"/>
    </Menu>
  </MenuBar>

  <ToolBar>
    <Action name="new_appointment"/>
    <Action name="delete_appointment"/>
    <Action name="new_todo"/>
    <Action name="mail_appointment"/>
    <Action name="go_today"/>
    <Action name="go_previous"/>
    <Action name="go_next"/>
    <Action name="view_list"/>
    <Action name="view_week"/>
    <Action name="view_month"/>
    <Action name="view_todo"/>
  </ToolBar>
    
</kpartgui>
