[Desktop Entry]
Encoding=UTF-8
BinaryPattern=korganizer;
MimeType=text/calendar;text/x-vcalendar;
Comment=Calendar and Scheduling Program
Comment[ar]=برنامج الجدولة والتقويم
Comment[bg]=Календар и Подготвителна Програма
Comment[bs]=Kalendar i rokovnik
Comment[cs]=Kalendářový a plánovací program
Comment[da]=Kalender- og planlægningsprogram
Comment[de]=Ein Kalender und Zeitplaner
Comment[el]=Πρόγραμμα Ημερολογίου και Προγραμματισμού
Comment[eo]=Kalendara kaj plana programo
Comment[es]=Calendario y organizador
Comment[eu]=Egutegi eta Agenda Programa
Comment[fi]=Kalenteri ja ajanhallintaohjelma
Comment[fr]=Un calendrier et agenda personnel
Comment[he]=תוכנית לוח שנה
Comment[hu]=határidőnapló + naptár
Comment[it]=Programma di calendario e di agenda
Comment[ja]=カレンダー、スケジュールプログラム
Comment[lt]=Kalendoriaus ir planavimo programa
Comment[lv]=Kalendāra un Plānošanas Programma
Comment[nl]=Kalender- en afsprakenprogramma
Comment[nn]=Kalender- og planleggjingsprogram
Comment[pt]=Calendário e Programa de Escalonamento
Comment[pt_BR]=Programa de Calendário e Agenda
Comment[ro]=Program de planificare şi calendar
Comment[ru]=Календарь и личное расписание
Comment[sk]=Kalendár a plánovací program
Comment[sl]=Koledarček obveznosti
Comment[sv]=Kalender- och schemaläggningsprogram
Comment[ta]=¾¢ÉôÀ¾¢×, ¾¢ð¼Á¢¼ø ¿¢Ãø
Comment[th]=โปรแกรมจัดการปฏิทินและตารางการนัดหมาย
Comment[tr]=Takvim ve Zamanlama Programı
Comment[uk]=Програма календаря та розкладу
Comment[ven]=Khalenda na mbekanyamushumo ya u shedula
Comment[vi]=Chương trình lịch và kế hoạch
Comment[xh]=Udweliso Lwenkqubo Yecalendar Nesicwangciso
Comment[xx]=xx
Comment[zh_CN]=日程安排程序
Comment[zu]=Ikhalenda kanye Neprogramu Yokugcina isikhathi
Exec=korganizer
Icon=korganizer
TerminalOptions=
Path=
DocPath=korganizer/index.html
Type=Application
Terminal=0
Name=KOrganizer
Name[ar]=منظم كيدي
Name[bg]=КОрганайзер
Name[eo]=Organizilo
Name[lv]=KOrganaizers
Name[pt_BR]=Organizador
Name[ru]=Органайзер
Name[sv]=Korganizer
Name[ven]=Mulugisi wa K
Name[xh]=Umququzeleli weK
Name[xx]=xx
ServiceTypes=Browser/View
X-KDE-Library=libkorganizer
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
