[Desktop Entry]
Encoding=UTF-8
Icon=viewmag
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer
X-KDE-FactoryName=korganizerconfigviews
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer

Name=Views
Name[ar]=عروض
Name[be]=Выгляды
Name[bg]=Изгледи
Name[bs]=Pogledi
Name[ca]=Vistes
Name[cs]=Pohledy
Name[cy]=Golygon
Name[da]=Visninger
Name[de]=Ansichten
Name[el]=Προβολές
Name[es]=Vistas
Name[et]=Vaated
Name[fi]=Näkymät
Name[fr]=Vues
Name[gl]=Vistas
Name[hi]=दृश्य
Name[hu]=Nézetek
Name[is]=Sýn
Name[it]=Viste
Name[ja]=ビューア
Name[nb]=Visninger
Name[nl]=Weergaven
Name[nn]=Visingar
Name[pl]=Widoki
Name[pt]=Janelas
Name[pt_BR]=Visões
Name[ro]=Vizualizări
Name[ru]=Виды
Name[sk]=Pohľady
Name[sl]=Prikazi
Name[sr]=Прикази
Name[sr@Latn]=Prikazi
Name[sv]=Vyer
Name[ta]=காட்சிகள்
Name[tg]=Намудҳо
Name[tr]=Görünümler
Name[uk]=Перегляди
Name[uz]=Кўринишлар
Name[xx]=xxViewsxx
Name[zh_CN]=视图
Comment=KOrganizer View Configuration
Comment[be]=Канфігурацыя выгляду "K Арганізатара"
Comment[bg]=Настройки на изгледи за KOrganizer
Comment[bs]=KOrganizer podešavanje pogleda
Comment[ca]=Configuració de la vista a KOrganizer
Comment[cs]=Nastavení pohledů KOrganizeru
Comment[cy]=Ffurfweddiad Golygon KTrefnydd
Comment[da]=KOrganizer visningsindstilling
Comment[de]=Ansichts-Einstellungen für KOrganizer
Comment[el]=Ρύθμιση προβολής του KOrganizer
Comment[es]=Configuración de la vista de KOrganizer
Comment[et]=KOrganizeri vaateseadistused
Comment[fi]=KOrganizerin näkymäasetukset
Comment[fr]=Configuration des vues de KOrganizer
Comment[gl]=Configuración de Vista de KOrganizer
Comment[hi]=के-आर्गेनाइज़र दृश्य कॉन्फ़िगरेशन
Comment[hu]=KOrganizer nézeti beállítások
Comment[is]=Stillinga birtingar fyrir KSkipulag
Comment[it]=Configurazione viste di KOrganizer
Comment[ja]=KOrganizer ビューア設定
Comment[nb]=KOrganizer visningsoppsett
Comment[nl]=KOrganizer weergave instellen
Comment[nn]=KOrganizer, visingsinnstillingar
Comment[pl]=Konfiguracja widoków KOrganizera
Comment[pt]=Configuração da Janela do KOrganizer
Comment[pt_BR]=Configuração de Visões do KOrganizer
Comment[ru]=Настройка видов органайзера KDE
Comment[sk]=Nastavenie pohľadov pre KOrganizer
Comment[sl]=Nastavitev prikaza KOrganizerja
Comment[sr]=Подешавање приказа у KOrganizer-у
Comment[sr@Latn]=Podešavanje prikaza u KOrganizer-u
Comment[sv]=Inställning av Korganizers vyer
Comment[ta]=கேஅமைப்பாளர் காட்சி கட்டமைப்பு
Comment[tg]=Танзимоти намудҳои органайзери KDE
Comment[tr]=KOrganizer Görünüm Yapılandırması
Comment[uk]=Налаштування переглядів у KOrganizer
Comment[xx]=xxKOrganizer View Configurationxx
Comment[zh_CN]=KOrganizer 视图配置
Keywords=korganizer,view
Keywords[be]=K Арганізатар,выгляд,korganizer,view
Keywords[bg]=организатор, изглед, изгледи, настройки, korganizer, view
Keywords[br]=korganizer,gwell
Keywords[bs]=korganizer,view,pogled
Keywords[ca]=korganizer,vista
Keywords[cs]=korganizer,pohled
Keywords[cy]=korganizer,ktrefnydd,golwg
Keywords[da]=korganizer,visning
Keywords[de]=KOrganizer,Ansicht
Keywords[el]=korganizer,προβολή
Keywords[es]=korganizer,vista
Keywords[et]=korganizer,vaade
Keywords[fi]=korganizer,näkymä
Keywords[fr]=KOrganizer,vues
Keywords[gl]=korganizer,vista
Keywords[hi]=के-आर्गेनाइज़र,दृश्य
Keywords[hu]=korganizer,nézet
Keywords[is]=kskipulag,sýn
Keywords[it]=korganizer,viste
Keywords[nb]=korganizer,visning
Keywords[nl]=korganizer,weergave
Keywords[nn]=korganizer,vising
Keywords[pl]=korganizer,widok
Keywords[pt]=korganizer,janela
Keywords[pt_BR]=korganizer,visão
Keywords[ro]=korganizer,vizualizare
Keywords[ru]=korganizer,view,органайзер,виды
Keywords[sk]=korganizer,pohľad,zobrazenie
Keywords[sl]=korganizer,prikaz
Keywords[sr]=korganizer,view,планер,приказ
Keywords[sr@Latn]=korganizer,view,planer,prikaz
Keywords[sv]=korganizer,vy
Keywords[ta]=கேஅமைப்பாளர்,காட்சி
Keywords[tg]=korganizer,view,органайзер,намудҳо
Keywords[tr]=korganizer,görünüm
Keywords[uk]=korganizer,перегляд
Keywords[uz]=korganizer,органайзер,кўриниш
Keywords[xx]=xxkorganizer,viewxx
Keywords[zh_CN]=korganizer,view,视图
