[Desktop Entry]
Icon=view-choose
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigviews
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=300

Name=Views
Name[de]=Ansichten
Comment=KOrganizer View Configuration
Comment[de]=Ansichts-Einstellungen für KOrganizer
X-KDE-Keywords=korganizer,view
X-KDE-Keywords[bg]=X-KDE-Keywords=организатор, изглед, изгледи, настройки, korganizer, view
X-KDE-Keywords[br]=korganizer,gwell
X-KDE-Keywords[ca]=korganizer,vista
X-KDE-Keywords[cs]=korganizer,pohled
X-KDE-Keywords[cy]=korganizer,ktrefnydd,golwg
X-KDE-Keywords[da]=korganizer,visning
X-KDE-Keywords[de]=KOrganizer,Ansicht
X-KDE-Keywords[el]=korganizer,προβολή
X-KDE-Keywords[es]=korganizer,vista
X-KDE-Keywords[et]=korganizer,vaade
X-KDE-Keywords[eu]=korganizer,ikuspegia
X-KDE-Keywords[fa]=korganizer،نما
X-KDE-Keywords[fi]=korganizer,näkymä
X-KDE-Keywords[fr]=KOrganizer,vues
X-KDE-Keywords[fy]=korganizer,weergave, werjefte
X-KDE-Keywords[ga]=korganizer,amharc
X-KDE-Keywords[gl]=korganizer,vista
X-KDE-Keywords[hu]=korganizer,nézet
X-KDE-Keywords[is]=korganizer,sýn
X-KDE-Keywords[it]=korganizer,viste
X-KDE-Keywords[ka]=korganizer,ხედი
X-KDE-Keywords[km]=korganizer,ទិដ្ឋភាព
X-KDE-Keywords[lt]=korganizer,view,žiūrikliai
X-KDE-Keywords[mk]=korganizer,view,корганизатор,приказ
X-KDE-Keywords[ms]=korganizer,paparan
X-KDE-Keywords[nb]=korganizer,visning
X-KDE-Keywords[nds]=KOrganizer,Ansichten
X-KDE-Keywords[ne]=केडीई आयोजक, दृश्य
X-KDE-Keywords[nl]=korganizer,weergave
X-KDE-Keywords[pl]=korganizer,widok
X-KDE-Keywords[pt]=korganizer,janela
X-KDE-Keywords[pt_BR]=korganizer,visão
X-KDE-Keywords[ro]=korganizer,vizualizare
X-KDE-Keywords[ru]=korganizer,view,органайзер,виды
X-KDE-Keywords[sl]=korganizer,prikaz
X-KDE-Keywords[sr]=korganizer,view,планер,приказ
X-KDE-Keywords[sr@latin]=korganizer,view,planer,prikaz
X-KDE-Keywords[sv]=korganizer,vy
X-KDE-Keywords[ta]=கேஅமைப்பாளர்,காட்சி
X-KDE-Keywords[tg]=korganizer,view,органайзер,намудҳо
X-KDE-Keywords[tr]=korganizer,görünüm
X-KDE-Keywords[uk]=korganizer,перегляд
X-KDE-Keywords[uz]=korganizer,органайзер,кўриниш
X-KDE-Keywords[x-test]=xxkorganizer,viewxx
