[Desktop Entry]
Icon=preferences-plugin
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigplugins
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=700

Name=Plugins
Name[de]=Module
Comment=KOrganizer Plugin Configuration
Comment[de]=Modul-Einrichtung für KOrganizer
X-KDE-Keywords=korganizer,plugin,module
X-KDE-Keywords[bg]=X-KDE-Keywords=организатор, модул, приставка, korganizer, plugin, module
X-KDE-Keywords[ca]=korganizer,endollable,mòdul
X-KDE-Keywords[cs]=korganizer,modul
X-KDE-Keywords[da]=korganizer,plugin,modul
X-KDE-Keywords[de]=KOrganizer,Modul,Modul
X-KDE-Keywords[el]=korganizer,πρόσθετο,άρθρωμα
X-KDE-Keywords[es]=korganizer,extensión,plugin,módulo
X-KDE-Keywords[et]=korganizer,plugin,moodul
X-KDE-Keywords[eu]=korganizer,plugin-a,modulua
X-KDE-Keywords[fa]=korganizer،وصله، پیمانه
X-KDE-Keywords[fi]=korganizer,liitännäinen,moduuli
X-KDE-Keywords[fr]=KOrganizer,module
X-KDE-Keywords[ga]=korganizer,breiseán,modúl
X-KDE-Keywords[gl]=korganizer,extensión,módulo
X-KDE-Keywords[he]=korganizer,plugin,module,מודול,תוסף,ארגונית
X-KDE-Keywords[hu]=korganizer,bővítőmodul,modul
X-KDE-Keywords[is]=korganizer,íforrit,eining
X-KDE-Keywords[it]=korganizer,plugin,modulo
X-KDE-Keywords[ja]=korganizer,プラグイン,モジュール
X-KDE-Keywords[ka]=korganizer,მოდული
X-KDE-Keywords[km]=korganizer,កម្មវិធី​ជំនួយ,ម៉ូឌុល
X-KDE-Keywords[lt]=korganizer,plugin,module,modulis,priedas
X-KDE-Keywords[mk]=korganizer,plugin,module,корганизатор,приклучок,приклучоци,модул.модули
X-KDE-Keywords[ms]=korganizer,plugin,modul
X-KDE-Keywords[nb]=korganizer,programtillegg,modul
X-KDE-Keywords[nds]=KOrganizer,Moduul,Modulen,Plugins
X-KDE-Keywords[ne]=केडीई आयोजक, प्लगइन, मोड्युल
X-KDE-Keywords[pl]=korganizer,wtyczka,moduł
X-KDE-Keywords[pt]=korganizer,'plugin',módulo
X-KDE-Keywords[pt_BR]=korganizer,plugin,módulo
X-KDE-Keywords[ru]=korganizer,plugin,module,органайзер,модуль
X-KDE-Keywords[sl]=korganizer,vstavek,modul
X-KDE-Keywords[sr]=korganizer,plugin,module,прикључак,модул
X-KDE-Keywords[sr@latin]=korganizer,plugin,module,priključak,modul
X-KDE-Keywords[sv]=korganizer,insticksprogram,modul
X-KDE-Keywords[ta]=கேஅமைப்பாளர்,சொருகுப்பொருள்,பகுதி
X-KDE-Keywords[tr]=korganizer,eklenti,modül
X-KDE-Keywords[uk]=korganizer,plugin,module,втулок,модуль
X-KDE-Keywords[x-test]=xxkorganizer,plugin,modulexx
