# KDE Config File
[Desktop Entry]
Comment=vCalendar Calendar/Event
Comment[cs]=vCalendar Kalendář/Událost
Comment[de]=vCalendar-Kalender/Ereignis
Comment[fi]=vKalenterin kalenteri/tapahtuma
Comment[hu]=vCalendar naptár/esemény
Comment[no]=vCalendar-kalender/hendelse
Comment[sl]=koledar/dogodek vCalendar
Icon=korganizer
Type=Service
MimeType=text/x-vCalendar
Patterns=*.vcs;*.VCS;
ServiceTypes=Browser/View
X-KDE-Library=libkorganizer

