[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar Plugin
Name[ar]=ملحقة التّقويم اليهوديّ
Name[az]=Yəhudi təqvimi əlavəsi
Name[bg]=Приставка за юдейски календар
Name[ca]=Connector de calendari jueu
Name[ca@valencia]=Connector de calendari jueu
Name[cs]=Modul židovského kalendáře
Name[da]=Jødisk kalender-plugin
Name[de]=Modul für jüdischen Kalender
Name[en_GB]=Jewish Calendar Plugin
Name[eo]=Judkalendara Kromprogramo
Name[es]=Complemento de calendario judío
Name[et]=Juudi kalendri plugin
Name[eu]=Egutegi judutarreko plugina
Name[fi]=Juutalaisen kalenterin laajennus
Name[fr]=Module de prise en charge du calendrier juif
Name[gl]=Complemento para o calendario xudeu
Name[ia]=Plug-in pro calendario judee
Name[it]=Estensione calendario ebraico
Name[ja]=ユダヤ歴プラグイン
Name[ka]=ებრაული კალენდრის დამატება
Name[ko]=히브리 달력 플러그인
Name[nb]=Programtillegg for jødisk kalender
Name[nl]=Joodse kalenderplug-in
Name[nn]=Kalender-programtillegg for jødisk kalender
Name[pl]=Wtyczka kalendarza żydowskiego
Name[pt]='Plugin' do Calendário Judaico
Name[pt_BR]=Plugin de calendário judaico
Name[ru]=Еврейский календарь
Name[sk]=Modul Židovského kalendára
Name[sl]=Vstavek za židovski koledar
Name[sr]=Прикључак јеврејског календара
Name[sr@ijekavian]=Прикључак јеврејског календара
Name[sr@ijekavianlatin]=Priključak jevrejskog kalendara
Name[sr@latin]=Priključak jevrejskog kalendara
Name[sv]=Insticksprogram för judisk kalender
Name[tr]=Musevi Takvimi Eklentisi
Name[uk]=Додаток єврейського календаря
Name[x-test]=xxJewish Calendar Pluginxx
Name[zh_CN]=犹太教日历插件
Name[zh_TW]=Jewish 行事曆附加元件
Comment=Shows all dates in KOrganizer also in the Jewish calendar system.
Comment[ar]=يعرض كلّ التّواريخ في «منظّمك» بنظام التّقويم اليهوديّ.
Comment[az]=Bütün tarixləri KOrganizer'də həmçinin Yəhudi təqvimi sistemində göstərir.
Comment[bg]=Показване на всички дати в KOrganizer също и във формат на юдейския календар.
Comment[ca]=Mostra totes les dates en el KOrganizer també en el sistema del calendari jueu.
Comment[ca@valencia]=Mostra totes les dates en KOrganizer també en el sistema del calendari jueu.
Comment[cs]=Zobrazení všech dat v KOrganizeru také v židovském kalendáři.
Comment[da]=Viser alle datoer i KOrganizer - også i det jødiske kalendersystem.
Comment[de]=Zeigt alle Daten in KOrganizer auch im jüdischen Kalendarium an.
Comment[en_GB]=Shows all dates in KOrganizer also in the Jewish calendar system.
Comment[eo]=Montras ĉiujn datojn en KOrganizer ankaŭ en la judkalendara sistemo.
Comment[es]=Muestra todas las fechas de KOrganizer también en el sistema de calendario judío.
Comment[et]=Näitab KOrganizeris kõiki kuupäevi ka juudi kalendri järgi.
Comment[eu]=Erakutsi data guztiak «KOrganizer»ren, baita egutegi sistema judutarrean ere.
Comment[fi]=Näyttää kaikki päivät KOrganizerissa myös juutalaisen kalenterin mukaan.
Comment[fr]=Affiche toutes les dates de KOrganizer selon le calendrier Juif.
Comment[gl]=Amosa todas as datas en KOrganizer tamén no sistema de calendario xudeu.
Comment[ia]=Monstra omne datas in KOrganizer anque in le systema calendari judee.
Comment[it]=Mostra tutte le date in KOrganizer anche secondo il calendario ebraico.
Comment[ja]=KOrganizer のすべての日付をユダヤ暦でも表示します。
Comment[ka]=KOrganizer-ში ყველა თარიღის ებრაულ კალენდარშიც ჩვენება.
Comment[ko]=KOrganizer의 모든 날짜를 히브리 달력의 날짜로도 표시합니다.
Comment[nb]=Viser alle datoer i KOrganizer også i det jødiske kalendersystemet.
Comment[nl]=Toont alle data in KOrganizer ook in het Joodse kalendersysteem.
Comment[nn]=Viser alle datoane i KOrganizer i den jødiske kalenderen.
Comment[pl]=Pokazuje wszystkie daty w KOrganizerze również w kalendarzu żydowskim.
Comment[pt]=Mostra todas as datas no KOrganizer também no sistema de calendário Judaico.
Comment[pt_BR]=Mostra todas as datas no KOrganizer também no sistema de calendário judaico.
Comment[ru]=Показывать все даты по еврейскому календарю.
Comment[sk]=Zobrazí všetky dátumy v KOorganizer tiež aj v židovskom kalendári.
Comment[sl]=Pokaže vse datume v KOrganizerju tudi v židovskem koledarskem sistemu.
Comment[sr]=Приказује све датуме у К‑организатору и по јеврејском календару.
Comment[sr@ijekavian]=Приказује све датуме у К‑организатору и по јеврејском календару.
Comment[sr@ijekavianlatin]=Prikazuje sve datume u K‑organizatoru i po jevrejskom kalendaru.
Comment[sr@latin]=Prikazuje sve datume u K‑organizatoru i po jevrejskom kalendaru.
Comment[sv]=Visar också alla datum i Korganizer enligt den judiska kalendern.
Comment[tr]=K Organizatör içindeki tüm tarihleri Musevi takvimine göre gösterir.
Comment[uk]=Показує всі дати в korganizer також і в системі єврейського календаря.
Comment[x-test]=xxShows all dates in KOrganizer also in the Jewish calendar system.xx
Comment[zh_CN]=在 KOrganizer 中显示犹太教日历系统的全部日期。
Comment[zh_TW]=在 KOrganizer 也在 Jewish 行事曆系統顯示所有日期。
Type=Service
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
