[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_hebrew
Name=Jewish Calendar Plugin
Name[x-test]=xxJewish Calendar Pluginxx
Comment=Shows all dates in korganizer also in the Jewish calendar system.
Comment[x-test]=xxShows all dates in korganizer also in the Jewish calendar system.xx
Type=Service
ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
