[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar Plugin
Name[de]=Modul für jüdischen Kalender
Comment=Shows all dates in KOrganizer also in the Jewish calendar system.
Comment[de]=Zeigt alle Daten in KOrganizer auch im jüdischen Kalendarium an.
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
