[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_exchange
Name=Microsoft Exchange 2000 Plugin for KOrganizer
Name[ca]=Connector Microsoft Exchange 2000 per a KOrganizer
Name[da]=Microsoft Exchange 2000-plugin for KOrganizer
Name[es]=Accesorio de Microsoft Exchange 2000 para KOrganizer
Name[et]=Microsoft Exchange 2000 plugin KOrganizeri jaoks
Name[xx]=xxMicrosoft Exchange 2000 Plugin for KOrganizerxx
Type=Service
ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=1
