[Desktop Entry]
X-KDE-Library=libkorg_exchange
Name=Microsoft Exchange 2000 Plugin for KOrganizer
Name[af]=Microsoft Exchange 2000 inprop module vir KOrganizer
Name[be]=Дапаўненне K Арганізатара "Microsoft Exchange 2000"
Name[bg]=Приставка на организатора за връзка с Microsoft Exchange 2000
Name[bs]=Microsoft Exchange 2000 dodatak za KOrganizer
Name[ca]=Endollable Microsoft Exchange 2000 per a KOrganizer
Name[cs]=Modul Microsoft Exchange 2000 pro KOrganizer
Name[da]=Microsoft Exchange 2000-plugin for KOrganizer
Name[de]=Microsoft Exchange 2000-Modul für KOrganizer
Name[el]=Πρόσθετο Microsoft Exchange 2000 του KOrganizer
Name[eo]=Microsoft Exchange 2000-kromaĵo por Organizilo
Name[es]=Accesorio de Microsoft Exchange 2000 para KOrganizer
Name[et]=Microsoft Exchange 2000 plugin KOrganizeri jaoks
Name[eu]=KOrganizer-en Microsoft Exchange 2000 plugin-a
Name[fa]=وصلۀ Microsoft Exchange ۲۰۰۰ برای KOrganizer
Name[fi]=KOrganizerin Microsoft Exchange 2000 -liitännäinen
Name[fr]=Module Microsoft Exchange 2000 pour KOrganizer
Name[fy]=Microsoft Exchange 2000 plugin foar KOrganizer
Name[ga]=Breiseán Microsoft Exchange 2000 le haghaidh KOrganizer
Name[gl]=Extensión de Microsoft Exchange 2000 para KOrganizer
Name[hu]=Microsoft Exchange 2000-bővítőmodul a KOrganizerhez
Name[is]=Microsoft Exchange 2000 íforrit fyrir KOrganizer
Name[it]=Plugin Microsoft Exchange 2000 per KOrganizer
Name[ja]=KOrganizer の Microsoft Exchange 2000 プラグイン
Name[ka]=Microsoft Exchange 2000-ის მოდული KOrganizer-სთვის
Name[kk]=KOrganizer-дің Microsoft Exchange 2000 модулі
Name[km]=កម្មវិធី​ជំនួយ​ម៉ៃក្រូសូហ្វ Exchange ២០០០ សម្រាប់ KOrganizer
Name[lt]=Microsoft Exchange 2000 priedas, skirtas KOrganizer
Name[mk]=Приклучок за КОрганизатор за Microsoft Exchange 2000
Name[ms]=PLugin Microsoft Exchange 2000  untuk KOrganizer
Name[nb]=Microsoft Exchange 2000 programtillegg for KOrganizer
Name[nds]=MSExchange2000-Moduul för KOrganizer
Name[ne]=केडीई आयोजकका लागि माइक्रोसफ्ट एक्सचेन्ज 2000
Name[nl]=Microsoft Exchange 2000 plugin voor KOrganizer
Name[nn]=Microsoft Exchange 2000 programtillegg for KOrganizer
Name[pl]=Wtyczka Microsoft Exchange 2000 dla Organizatora
Name[pt]='Plugin' do Microsoft Exchange 2000 para o KOrganizer
Name[pt_BR]=Plug-in do Microsoft Exchange 2000 para o KOrganizer
Name[ru]=Доступ к Microsoft Exchange 2000
Name[sk]=KOrganizer modul pre Microsoft Exchange 2000
Name[sl]=Vstavek za Microsoft Exchange 2000 za KOrganizer
Name[sr]=Прикључак KOrganizer-а за Microsoft Exchange 2000
Name[sr@Latn]=Priključak KOrganizer-a za Microsoft Exchange 2000
Name[sv]=Microsoft Exchange 2000-insticksprogram för Korganizer
Name[ta]=கேஅமைப்பாளருக்கான மைக்ரோசாஃப்ட் எக்ஸ்சேன்ஜ் 2000 சொருகுப்பொருள்
Name[tg]=Дастрасӣ ба Microsoft Exchange 2000
Name[tr]=KOrganizer için Microsoft Exchange 2000 Eklentisi
Name[uk]=Втулок Microsoft Exchange 2000 для KOrganizer
Name[zh_CN]=KOrganizer 的 Microsoft Exchange 2000 插件
Name[zh_TW]=KOrganizer 的 Microsoft Exchange 2000 外掛程式
Comment=This plugin allows korganizer users to work with Microsoft Exchange 2000 groupware servers.
Comment[af]=Hierdie inprop module maak dit vir korganizer gebruikers moontlik om met Microsoft Exchange 2000 bedieners te praat.
Comment[bg]=Приставката служи за връзка на Korganizer със сървъра Microsoft Exchange 2000 groupware.
Comment[ca]=Aquest endollable permet als usuaris de korganizer treballar amb servidors groupware Microsoft Exchange 2000.
Comment[cs]=tento modul umožňuje pracovat uživatelům korganizeru s Microsoft Exchange 2000 groupware servery.
Comment[da]=Dette plugin tillader brugere af korganizer at arbejde med Microsoft Exchange 2000 groupware servere.
Comment[de]=Mit diesem Modul kann KOrganizer mit Microsoft Exchange 2000 Groupware-Servern zusammenarbeiten.
Comment[el]=Αυτό το πρόσθετο επιτρέπει στους χρήστες του korganizer να δουλεύουν με εξυπηρετητές groupware του Microsoft Exchange 2000.
Comment[es]=Esta extensión permite que los usuarios de korganizer trabajen con servidores de groupware de Microsoft Exchange 2000.
Comment[et]=See plugin võimaldab KOrganizeri kasutajatel pruukida Microsoft Exchange 2000 grupitööservereid.
Comment[eu]=Plugin honek korganizer-en erabiltzaileei Microsoft Exchange 2000 groupware zerbitzariekin lan egiteko aukera ematen die.
Comment[fa]=این وصله به کاربران korganizer اجازه می‌دهد که با کارسازهای Microsoft Exchange 2000 groupware کار کند.
Comment[fi]=Tämä liitännäinen mahdollistaa KOrganizer-käyttäjien työskentelemisen Microsoft Exchange 2000 -ryhmätyöpalvelimien kanssa.
Comment[fr]=Ce module permet à KOrganizer de fonctionner avec Microsoft Exchange 2000
Comment[fy]=Dizze plugin makket it mooglik om Microsoft Exchange 2000 te brûken yn KOrganizer.
Comment[gl]=Este engadido permite que os usuarios de korganizer traballen con servidores de traballo en grupo Microsoft Exchange 2000
Comment[hu]=Ez a modul lehetővé teszi KOrganizer-felhasználóknak Microsoft Exchange 2000-kiszolgálón tárolt csoportmunka-adatok elérését.
Comment[is]=Þetta íforrit gerir KOrganizer kleyft að vinna með Microsoft Exchange 2000 hópvinnuþjónum.
Comment[it]=Questo plugin permette agli utenti di korganizer di lavorare con i server groupware Microsoft Exchange 2000.
Comment[ja]=このプラグインにより、korganizer のユーザが Microsoft Exchange 2000 グループウェアサーバと同期できるようになります。
Comment[ka]=ეს მოდული korganizer-ის მომხმარებლებს საშუალებას აძლევს იმუშაონ Microsoft Exchange 2000 ჯგუფურ სერვერებთან.
Comment[kk]=Бұл модуль korganizer-мен MS Exchange 2000 біріккен жұмыс сервермен істеуге мүмкіндік береді.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​អនុញ្ញាត​ឲ្យ​អ្នក​ប្រើ​របស់ korganizer ធ្វើការ​ជាមួយ​ម៉ាស៊ីន​បម្រើ​កម្មវិធី​ពហុ​អ្នកប្រើ​របស់​ម៉ៃក្រូសូហ្វ Exchange ២០០០ ។
Comment[lt]=Šis priedas leidžia korganizer dirbti su Microsoft Exchange 2000 groupware serveriais.
Comment[mk]=Овој приклучок им овозможува на корисниците на КОрганизатор да работат со groupware-серверите на Microsoft Exchange 2000.
Comment[ms]=Plugin ini membenarkan pengguna korganizer bekerja bersama pelayan groupware Microsoft Exchange 2000.
Comment[nb]=Med dette programtillegget kan korganizer-brukere arbeide med gruppevare-tjenere fra Microsoft Exchange 2000.i
Comment[nds]=Över dit Moduul köönt KOrganizer-Brukers mit Groupware-Servers för MSExchange-2000 arbeiden.
Comment[ne]=यो प्लगइनले माइक्रोसफ्ट एक्सचेन्ज 2000 ग्रुपवेयर सर्भरमा केडीई आयोजकलाई कार्य गर्न अनुमति दिन्छ ।
Comment[nl]=Deze plugin maakt het mogelijk om Microsoft Exchange 2000 te gebruiken in KOrganizer.
Comment[nn]=Dette programtillegget lèt KOrganizer-brukarar arbeida saman med Microsoft Exchange 2000-gruppevaretenarar.
Comment[pl]=Ta wtyczka pozwala KOrganizerowi współpracować z serwerami pracy grupowej Microsoft Exchange.
Comment[pt]=Este 'plugin' permite aos utilizadores do KOrganizer lidarem com servidores de 'groupware' do Microsoft Exchange 2000.
Comment[pt_BR]=Esse plugin permite que o KOrganizer conecte-se à servidores groupware Microsoft Exchance 2000
Comment[ru]=Этот модуль позволяет пользователям органайзера работать с серверами совместной работы Microsoft Exchange 2000.
Comment[sk]=Tento modul umožní, aby korganizer užívatelia pracovali s Microsoft Exchange 2000 groupware servermi.
Comment[sl]=Ta vstavke omogoča uporabnikom KOrganizerja delo s strežniki Microsoft Exchange 2000.
Comment[sr]=Овај прикључак омогућава корисницима KOrganizer-а да раде са Microsoft-овим Exchange 2000 groupware серверима.
Comment[sr@Latn]=Ovaj priključak omogućava korisnicima KOrganizer-a da rade sa Microsoft-ovim Exchange 2000 groupware serverima.
Comment[sv]=Insticksprogrammet gör det möjligt för användare av Korganizer att arbeta med Microsoft Exchange 2000 grupprogramservrar.
Comment[ta]=இந்த சொருகுப்பொருள் korganizer பயனர்களை மைக்ரோசாப்ட் எக்ஸ்சேஞ்ச் 2000 குழுவாரி சேவகன்களில் பணி செய்ய அனுமதிக்கிறது.
Comment[tr]=Bu eklenti KOrganizer kullanıcılarının Microsoft Exchange 2000 sunucuları ile çalışabilmelerini sağlar.
Comment[uk]=Цей втулок дозволяє користувачам korganizer працювати з серверами групової роботи Microsoft Exchange 2000.
Comment[zh_CN]=此插件允许 KOrganizer 用户与 Microsoft Exchange 2000 群件服务器协同工作。
Comment[zh_TW]=這個外掛程式允許 KOrganizer 使用者與 Microsoft Exchange 2000 群組伺服器一起工作。
Type=Service
ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
