# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KOrganizer Reminder Client
Name[bg]=Клиент за аларма на KOrganizer
Name[cs]=Klient upomínek KOrganizeru
Name[da]=KOrganizer-påmindelsesklient
Name[de]=KOrganizer Erinnerungsfunktion
Name[el]=Πελάτης υπενθύμισης του KOrganizer
Name[es]=Cliente de recordatorio para KOrganizer
Name[et]=KOrganizeri meeldetuletuse klientprogramm
Name[eu]=KOrganizer-en oroigarrien bezeroa
Name[fr]=Client d'alarme de KOrganizer
Name[is]=Áminningarforrit fyrir KOrganizer
Name[it]=Client degli avvisi di KOrganizer
Name[ja]=KOrganizer リマインダクライアント
Name[lt]=KOrganizer priminimų klientas
Name[nb]=KOrganizer klient for påminning
Name[nl]=KOrganizer herinneringsdaemon
Name[nn]=Alarmklient for KOrganizer
Name[pl]=Klient przypominania KOrganizera
Name[pt]=Cliente de Avisos do KOrganizer
Name[pt_BR]=Cliente do Alarme do KOrganizer
Name[ru]=Уведомления KOrganizer
Name[sr]=Клијент подсетника KOrganizer-а
Name[sr@Latn]=Klijent podsetnika KOrganizer-a
Name[uk]=Клієнт нагадувань KOrganizer
Name[zh_CN]=KOrganizer 定时器客户端程序
Exec=korgac --miniicon korganizer
Icon=korganizer
Type=Application
GenericName=KOrganizer Reminder Daemon Client
GenericName[bg]=Клиент за демон за аларма на KOrganizer
GenericName[cs]=Klient démona přípomínek KOrganizeru
GenericName[da]=KOrganizer-påmindelsesklient
GenericName[de]=Hintergrund-Erinnerungsfunktion für KOrganizer
GenericName[el]=Δαίμονας πελάτη υπενθύμισης του KOrganizer
GenericName[es]=Cliente del daemon de recordatorio para KOrganizer
GenericName[et]=KOrganizeri meeldetuletusdeemoni klientprogramm
GenericName[eu]=KOrganizer-en oroigarrien deabruaren bezeroa
GenericName[fr]=Client pour le démon d'alarme de KOrganizer
GenericName[is]=Áminningarpúki fyrir KOrganizer
GenericName[it]=Client del demone degli avvisi di KOrganizer
GenericName[ja]=KOrganizer リマインダデーモンクライアント
GenericName[lt]=KOrganizer priminimų tarnybos klientas
GenericName[nb]=KOrganizer klient for påminningstjenesten
GenericName[nl]=KOrganizer herinneringsdaemon
GenericName[nn]=Alarmnisseklient for KOrganizer
GenericName[pl]=Klient demona przypominania KOrganizera
GenericName[pt]=Cliente do Servidor de Avisos do KOrganizer
GenericName[pt_BR]=Cliente do Servidor de Alarme do KOrganizer
GenericName[ru]=Клиент службы уведомлений KOrganizer
GenericName[sr]=Клијент демона подсетника KOrganizer-а
GenericName[sr@Latn]=Klijent demona podsetnika KOrganizer-a
GenericName[uk]=Даемон клієнта нагадування для KOrganizer
GenericName[zh_CN]=KOrganizer 定时守护进程的客户端程序
Terminal=false
X-KDE-autostart-after=panel
X-KDE-autostart-condition=korgacrc:General:Autostart:true
NoDisplay=true
