[Desktop Entry]
Name=Reminder Daemon
Name[x-test]=xxReminder Daemonxx
Comment=Event and task reminder daemon
Comment[x-test]=xxEvent and task reminder daemonxx
Icon=korgac
Type=AkonadiAgent
Exec=korgac

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_korgac_agent
X-Akonadi-LaunchMethod=AgentServer
