[Desktop Entry]
Name=Reminder Daemon
Name[bs]=Demon za podsjećanje
Name[ca]=Dimoni de recordatoris
Name[ca@valencia]=Dimoni de recordatoris
Name[cs]=Démon upomínek
Name[da]=Påmindelsedæmon
Name[de]=Erinnerungsmodul
Name[el]=Δαίμονας υπενθύμισης του KOrganizer
Name[en_GB]=Reminder Dæmon
Name[es]=Demonio de recordatorio
Name[et]=Meeldetuletuste deemon
Name[fi]=Muistutuspalvelu
Name[fr]=Démon d'alarme
Name[ga]=Deamhan Meabhrúchán
Name[gl]=Daemon do servizo de lembranzas
Name[hr]=Podsjetnik
Name[hu]=Emlékeztető démon
Name[ia]=Demone de Memento
Name[it]=Demone degli avvisi
Name[ja]=リマインダデーモン
Name[kk]=Еске салу қызметі
Name[km]=ដេមិន​កម្មវិធី​រំលឹក
Name[lt]=Priminimų tarnyba
Name[mr]=आठवण देणारा डीमन
Name[nb]=Påminnelsesnisse
Name[nds]=Anstötendämoon
Name[nl]=Herinneringsdaemon
Name[pa]=ਰੀਮਾਈਡਰ ਡੈਮਨ
Name[pl]=Demon przypominania
Name[pt]=Servidor de Chamadas de Atenção
Name[pt_BR]=Servidor de Lembretes
Name[ru]=Служба напоминаний
Name[sk]=Démon pripomienok
Name[sl]=Pritajeni program za opomnike
Name[sr]=Демон подсетника
Name[sr@ijekavian]=Демон подсјетника
Name[sr@ijekavianlatin]=Demon podsjetnika
Name[sr@latin]=Demon podsetnika
Name[sv]=Påminnelsedemon
Name[tr]=Hatırlatma Servisi
Name[uk]=Фонова служба нагадування
Name[wa]=Démon do rimimbreu
Name[x-test]=xxReminder Daemonxx
Name[zh_CN]=提醒守护进程
Name[zh_TW]=提醒守護程式
Comment=Event and task reminder daemon
Comment[bs]=Demon za podsjećanje na događaje i zadatke
Comment[ca]=Dimoni de recordatoris de tasques i esdeveniments
Comment[ca@valencia]=Dimoni de recordatoris de tasques i esdeveniments
Comment[cs]=Démon upomínek na události a úkoly
Comment[da]=Påmindelsedæmon til begivenheder og opgaver
Comment[de]=Erinnerungsdienst für Ereignisse und Termine
Comment[el]=Δαίμονας υπενθύμισης γεγονότων και εργασιών
Comment[en_GB]=Event and task reminder dæmon
Comment[es]=Demonio de recordatorio de eventos y tareas
Comment[et]=Sündmuste ja ülesannete meeldetuletuste deemon
Comment[fi]=Tapahtuma- ja tehtävämuistutuspalvelu
Comment[fr]=Démon de rappel des tâches et évènements
Comment[gl]=Daemon que lembra de acontecementos e tarefas
Comment[hr]=Servis za događanja i podsjetnik na zadatke
Comment[hu]=Esemény- és feladatemlékeztető démon
Comment[ia]=Demone de memento pro carga e evento
Comment[it]=Demone degli avvisi di eventi e attività
Comment[kk]=Оқиға мен тапсырма туралы еске салу қызметі
Comment[km]=ដេមិន​កម្មវិធី​រំលឹក​​ភារកិច្ច និង​ព្រឹត្តិការណ៍
Comment[lt]=Įvykių ir užduočių priminimų tarnyba
Comment[mr]=घटना व कार्य आठवण देणारा डीमन
Comment[nb]=Nisse for påminnelser om hendelser og oppgaver
Comment[nds]=Anstötendämoon för Begeefnissen un Opgaven
Comment[nl]=Herinneringsdaemon voor evenementen en taken
Comment[pl]=Demon przypominania zdarzeń i zadań
Comment[pt]=Servidor de chamada de atenção dos eventos e tarefas
Comment[pt_BR]=Servidor de lembretes dos eventos e tarefas
Comment[ru]=Служба напоминаний о событиях и задачах
Comment[sk]=Démon pripomienok udalostí a úloh
Comment[sl]=Pritajeni program za opomnike glede dogodkov in opravil
Comment[sr]=Демон за подсећање на догађаје и задатке
Comment[sr@ijekavian]=Демон за подсјећање на догађаје и задатке
Comment[sr@ijekavianlatin]=Demon za podsjećanje na događaje i zadatke
Comment[sr@latin]=Demon za podsećanje na događaje i zadatke
Comment[sv]=Påminnelsedemon för händelser och uppgifter
Comment[tr]=Olay ve iş hatırlatma servisi
Comment[uk]=Фонова служба нагадування про події і завдання
Comment[wa]=Démon do rimimbreu des bouyes et evenmints
Comment[x-test]=xxEvent and task reminder daemonxx
Comment[zh_CN]=事件和任务提醒守护进程
Comment[zh_TW]=事件與工作提醒守護程式
Icon=korgac
Type=AkonadiAgent
Exec=korgac

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_korgac_agent
X-Akonadi-LaunchMethod=AgentServer
