# KDE Config File
[Desktop Entry]
Name=KOrganizer Reminder Client
Name[af]=KOrganizer herhinner kliënt
Name[ar]=زبون المنبه لِــ KOrganizer
Name[bg]=Аларма на KOrganizer
Name[ca]=Client de l'alarma de KOrganizer
Name[cs]=Klient upomínek KOrganizeru
Name[da]=KOrganizer-påmindelsesklient
Name[de]=KOrganizer Erinnerungsfunktion
Name[el]=Πελάτης υπενθύμισης του KOrganizer
Name[eo]=Alarmilo por Organizilo
Name[es]=Cliente de recordatorio para KOrganizer
Name[et]=KOrganizeri meeldetuletuse klientprogramm
Name[eu]=KOrganizer-en oroigarrien bezeroa
Name[fa]=کارخواه یادآوری‌کنندۀ KOrganizer
Name[fi]=KOrganizer-hälytysasiakas
Name[fr]=Client d'alarme de KOrganizer
Name[fy]=KOrganizer omtinkerdaemon
Name[gl]=Cliente de Lembranzas de KOrganizer
Name[hu]=KOrganizer-emlékeztető kliens
Name[is]=Áminningarforrit fyrir KOrganizer
Name[it]=Client degli avvisi di KOrganizer
Name[ja]=KOrganizer リマインダクライアント
Name[ka]=KOrganizer შემხსენებელის კლიენტი
Name[kk]=KOrganizer-дің еске салу клиенті
Name[km]=កម្មវិធី​រំលឹក​របស់ KOrganizer
Name[lt]=KOrganizer priminimų klientas
Name[mk]=Клиент за потсетување во КОрганизатор
Name[nb]=KOrganizer klient for påminning
Name[nds]=KOrganizer-Anstöötgever
Name[ne]=केडीई आयोजक रिमाइन्डर क्लाइन्ट
Name[nl]=KOrganizer herinneringsdaemon
Name[nn]=Alarmklient for KOrganizer
Name[pl]=Klient przypominania KOrganizera
Name[pt]=Cliente de Avisos do KOrganizer
Name[pt_BR]=Cliente do Alarme do KOrganizer
Name[ru]=Уведомления KOrganizer
Name[sk]=Klient pripomienok pre KOrganizer
Name[sl]=Odjemalec za opomnik KOrganizerja
Name[sr]=Клијент подсетника KOrganizer-а
Name[sr@Latn]=Klijent podsetnika KOrganizer-a
Name[sv]=Korganizer-påminnelseklient
Name[tr]=KOrganizer Hatırlatma İstemcisi
Name[uk]=Клієнт нагадувань KOrganizer
Name[zh_CN]=KOrganizer 定时器客户端程序
Name[zh_TW]=KOrganizer 提醒客戶端程式
Exec=korgac --miniicon korganizer
Icon=korganizer
Type=Application
GenericName=KOrganizer Reminder Daemon Client
GenericName[af]=Korganizer herhinner bediener kliënt
GenericName[bg]=Демон за алармата на KOrganizer
GenericName[ca]=Client del dimoni d'alarma de KOrganizer
GenericName[cs]=Klient démona přípomínek KOrganizeru
GenericName[da]=KOrganizer-påmindelsesklient
GenericName[de]=Hintergrund-Erinnerungsfunktion für KOrganizer
GenericName[el]=Δαίμονας πελάτη υπενθύμισης του KOrganizer
GenericName[eo]=Kliento por la alarmo-demono de Organizilo
GenericName[es]=Cliente del daemon de recordatorio para KOrganizer
GenericName[et]=KOrganizeri meeldetuletusdeemoni klientprogramm
GenericName[eu]=KOrganizer-en oroigarrien deabruaren bezeroa
GenericName[fa]=کارخواه شبح یادآوری KOrganizer
GenericName[fi]=KOrganizer hälytyspalvelimen asiakas
GenericName[fr]=Client pour le démon d'alarme de KOrganizer
GenericName[fy]=KOrganizer omtinkerdaemon
GenericName[gl]=Daemon do Cliente de Lembranzas de KOrganizer
GenericName[hu]=KOrganizer emlékeztető szolgáltatás kliense
GenericName[is]=Áminningarpúki fyrir KOrganizer
GenericName[it]=Client del demone degli avvisi di KOrganizer
GenericName[ja]=KOrganizer リマインダデーモンクライアント
GenericName[ka]=KOrganizer შემხსენებელის დემონის კლიენტი
GenericName[kk]=Organizer-дің еске салу қызметінің клиенті
GenericName[km]=កម្មវិធី​ដេមិន​អ្នក​រំលឹក​របស់ KOrganizer
GenericName[lt]=KOrganizer priminimų tarnybos klientas
GenericName[nb]=KOrganizer klient for påminningstjenesten
GenericName[nds]=Client för den Anstötendämoon vun KOrganizer
GenericName[ne]=केडीई आयोजक रिमाइन्डर डेइमन क्लाइन्ट
GenericName[nl]=KOrganizer herinneringsdaemon
GenericName[nn]=Alarmnisseklient for KOrganizer
GenericName[pl]=Klient demona przypominania KOrganizera
GenericName[pt]=Cliente do Servidor de Avisos do KOrganizer
GenericName[pt_BR]=Cliente do Servidor de Alarme do KOrganizer
GenericName[ru]=Клиент службы уведомлений KOrganizer
GenericName[sk]=Klient KOrganizer pre démona pripomienok
GenericName[sl]=Pritajeni odjemalec za opomnik KOrganizerja
GenericName[sr]=Клијент демона подсетника KOrganizer-а
GenericName[sr@Latn]=Klijent demona podsetnika KOrganizer-a
GenericName[sv]=Korganizer-alarmdemonklient
GenericName[tr]=KOrganizer Hatırlatma Servisi İstemcisi
GenericName[uk]=Демон клієнта нагадування для KOrganizer
GenericName[zh_CN]=KOrganizer 定时守护进程的客户端程序
GenericName[zh_TW]=KOrganizr 提醒守護程式客戶端
Terminal=false
X-KDE-autostart-after=panel
X-KDE-autostart-condition=korgacrc:General:Autostart:true
NoDisplay=true
OnlyShowIn=KDE;
