# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Name=KOrganizer Reminder Client
Name[cs]=Klient upomínek KOrganizeru
Name[da]=KOrganizer-påmindelsesklient
Name[es]=Cliente de recordatorio para KOrganizer
Name[fr]=Client d'alarme de KOrganizer
Name[it]=Client degli avvisi di KOrganizer
Name[lt]=KOrganizer priminimų klientas
Name[nl]=KOrganizer herinneringsdaemon
Name[ru]=Уведомления KOrganizer
Name[sv]=Korganizer-påminnelseklient
Name[uk]=Клієнт нагадувань KOrganizer
Name[xx]=xxKOrganizer Reminder Clientxx
Name[zh_CN]=KOrganizer 定时器客户端程序
Exec=korgac --miniicon korganizer
Icon=korganizer
Type=Application
GenericName=KOrganizer Reminder Daemon Client
GenericName[cs]=Klient démona přípomínek KOrganizeru
GenericName[da]=KOrganizer-påmindelsesklient
GenericName[es]=Cliente del daemon de recordatorio para KOrganizer
GenericName[fr]=Client pour le démon d'alarme de KOrganizer
GenericName[it]=Client del demone degli avvisi di KOrganizer
GenericName[lt]=KOrganizer priminimų tarnybos klientas
GenericName[nl]=KOrganizer herinneringsdaemon
GenericName[ru]=Клиент службы уведомлений KOrganizer
GenericName[sv]=Korganizer-påminnelsedemonklient
GenericName[uk]=Даемон клієнта нагадування для KOrganizer
GenericName[xx]=xxKOrganizer Reminder Daemon Clientxx
GenericName[zh_CN]=KOrganizer 定时守护进程的客户端程序
Terminal=false
X-KDE-autostart-after=panel
X-KDE-autostart-condition=korgacrc:General:Autostart:true
NoDisplay=true
