[Desktop Entry]
Name=KOrganizer Reminders
Name[az]=KOrganizer xatırladıcılar
Name[ca]=Recordatoris del KOrganizer
Name[ca@valencia]=Recordatoris del KOrganizer
Name[en_GB]=KOrganizer Reminders
Name[es]=Recordatorios de KOrganizer
Name[fi]=KOrganizer-muistutukset
Name[fr]=Rappels de KOrganizer
Name[ia]=Mementos de KOrganizer
Name[it]=Promemoria di KOrganizer
Name[ko]=KOrganizer 알림
Name[nl]=KOrganizer Herinneringen
Name[pl]=Przypomnienia Organizatora
Name[pt_BR]=Lembretes do KOrganizer
Name[ru]=Напоминания KOrganizer
Name[sl]=Opomniki KOrganizerja
Name[sv]=Korganizers påminnelser
Name[uk]=Нагадування KOrganizer
Name[x-test]=xxKOrganizer Remindersxx
Exec=korgac
Icon=korgac
Type=Application
GenericName=Calendar Reminders
GenericName[az]=Təqvim xatırladıcıları
GenericName[ca]=Recordatoris del calendari
GenericName[ca@valencia]=Recordatoris del calendari
GenericName[en_GB]=Calendar Reminders
GenericName[es]=Recordatorios de calendarios
GenericName[fi]=Kalenterimuistutukset
GenericName[fr]=Rappels d'agendas
GenericName[ia]=Mementos de calendario
GenericName[it]=Promemoria del calendario
GenericName[ko]=달력 알림
GenericName[nl]=Agenda  Herinneringen
GenericName[pl]=Przypomnienia kalendarza
GenericName[pt_BR]=Lembretes de calendário
GenericName[ru]=Напоминания календаря
GenericName[sl]=Opomniki Koledarja
GenericName[sv]=Kalenderpåminnelser
GenericName[uk]=Нагадування календаря
GenericName[x-test]=xxCalendar Remindersxx
NoDisplay=true
