[Desktop Entry]
Name=KOrganizer Reminders
Name[ca]=Recordatoris del KOrganizer
Name[ca@valencia]=Recordatoris del KOrganizer
Name[es]=Recordatorios de KOrganizer
Name[fr]=Rappels de KOrganizer
Name[ia]=Mementos de KOrganizer
Name[pl]=Przypomnienia Organizatora
Name[sl]=Opomniki KOrganizerja
Name[sv]=Korganizers påminnelser
Name[uk]=Нагадування KOrganizer
Name[x-test]=xxKOrganizer Remindersxx
Exec=korgac
Icon=korgac
Type=Application
GenericName=Calendar Reminders
GenericName[ca]=Recordatoris del calendari
GenericName[ca@valencia]=Recordatoris del calendari
GenericName[es]=Recordatorios de calendarios
GenericName[fr]=Rappels d'agendas
GenericName[ia]=Mementos de calendario
GenericName[pl]=Przypomnienia kalendarza
GenericName[sl]=Opomniki Koledarja
GenericName[sv]=Kalenderpåminnelser
GenericName[uk]=Нагадування календаря
GenericName[x-test]=xxCalendar Remindersxx
NoDisplay=true
