[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_birthdays
Name=Birthdays import plugin from KAddressBook for KOrganizer
Name[bs]=Dodatak za uvoz rođendana iz KAddressBook ili KOrganizer
Name[cs]=Modul pro import svátků z Knihy adres do KOrganizeru
Name[da]=KOrganizer-indstik til importering af fødselsdage fra KAddressBook
Name[el]=Πρόσθετο εισαγωγής γενεθλίων από το KAddressBook για το KOrganizer
Name[es]=Plugin de importación de cumpleaños desde la libreta de direcciones para KOrganizer
Name[fi]=Syntymäpäivien tuontisovelma KAddressBook:ta Korganizeriin
Name[fr]=Module d'importation des anniversaires depuis KAddressBook pour KOrganizer
Name[he]=תוסף ייבוא ימי הולדת מתוך KAddressBook אל KOrganizer
Name[hr]=Dodatak za uvoz rođendana iz adresara u KOrganizer
Name[hu]=Születésnapok importálása  a címjegyzékből a KOrganizerbe
Name[ja]=KOrganizer用のKAddressBookから誕生日をインポートするプラグイン
Name[pt_BR]=Plugin de importação de aniversários do Livro de Endereços para o KOrganizer
Name[sv]=Insticksprogram för import av födelsedagar från adressboken till Korganizer
Name[th]=ปลั๊กอินนำเข้าวันเกิดจากสมุดที่อยู่สำหรับ KOrganizer
Name[tr]=KOrganizer için KAddressBooktan doğumgünü alma eklentisi
Type=Service
ServiceTypes=KOrganizer/Part
