[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_birthdays
Name=Birthdays import plugin from KAddressBook for KOrganizer
Name[be]=Дапаўненьне K Арганізатара "Імпарт дзён нараджэньня з K Адраснай кнігі"
Name[bg]=Приставка за импорт на рождени дни от адресника в организатора
Name[bs]=Dodatak za uvoz rođendana iz KAddressBook ili KOrganizer
Name[ca]=Connector pel KOrganizer per a l'importació d'aniversaris des de la Llibreta d'adreces
Name[cs]=Modul pro import svátků z Knihy adres do KOrganizeru
Name[da]=KOrganizer-plugin til importering af fødselsdage fra KAddressBook
Name[de]=Import-Plugin für Geburtstage (vom Adressbuch zu KOrganizer)
Name[el]=Πρόσθετο εισαγωγής γενεθλίων από το KAddressBook του KOrganizer
Name[eo]=Naskiĝtago-import-kromaĵo de Adresaro al Organizilo
Name[es]=Plugin de importación de cumpleaños desde la libreta de direcciones para KOrganizer
Name[et]=Aadressiraamatust sünnipäevade Korganizerisse importimise plugin
Name[fi]=Syntymäpäivien tuontisovelma KAddressBook:sta Korganizeriin
Name[fr]=Module d'importation des anniversaires depuis KAddressBook pour KOrganizer
Name[he]=תוסף ייבוא ימי הולדת מתוך KAddressBook אל KOrganizer
Name[hr]=Dodatak za uvoz rođendana iz adresara u KOrganizer
Name[hu]=Születésnapok importálása  a címjegyzékből a KOrganizerbe
Name[it]=Importazione dei compleanni da KAddessbook per KOrganizer
Name[ja]=KOrganizer用のKAddressBookから誕生日をインポートするプラグイン
Name[lt]=Gimtadienių importo iš KAddressBook į KOrganizer priedas
Name[nb]=Bursdagsimport-programtillegg fra KAddressbook for KOrganizer
Name[nl]=Verjaardagen-importplugin van KAddressBook voor KOrganizer
Name[nn]=Programtillegg for import av fødselsdagar frå KDE-adresseboka til KOrganizer
Name[nso]=Matsatsi a matswalo a gwebelagae KMmeakanyi plugin gotswa go Buka ya KAterese
Name[pl]=Wtyczka do importu dat urodzin z książki adresowej do Organizatora
Name[pt]='Plugin' de importação de datas de aniversário do KAddressBook para o KOrganizer
Name[pt_BR]=Plugin de importação de aniversários do Livro de Endereços para o KOrganizer
Name[ru]=Модуль импорта дней рождения из адресной книги в органайзер
Name[sk]=Modul importu dátumov narodenia z KAddressBook pre KOrganizer
Name[sr]=Додатак KOrganizer-а за увоз рођендана из KAddressBook-а
Name[sv]=Insticksprogram för import av födelsedagar från adressboken till Korganizer
Name[th]=ปลั๊กอินนำเข้าวันเกิดจากสมุดที่อยู่สำหรับ KOrganizer
Name[tr]=KOrganizer için KAddressBooktan doğumgünü alma eklentisi
Name[uk]=Втулок імпорту днів народжень з KAddressBook для KOrganizer
Name[ven]=Plugin yau rumela nga ngomu ya maduvha a mabebo ubva kha bugu ya diresi ya K ya mudzudzanyi wa K
Name[xh]=Imihla yokuzalwa irhwebwa i plagin esuka ku KAddressBook ye KOrganizer 
Name[xx]=xxBirthdays import plugin from KAddressBook for KOrganizerxx
Name[zh_CN]=从 KAddressBook 将生日导出至 KOrganizer 的插件
Name[zh_TW]=KOrganizer 自 KaddressBook 匯入生日的外掛程式
Name[zu]=Izinsuku zokuzalwa zihwebela ngaphakathi i-plugin kusuka kwi-KAddressBook yenzela i-KOrganizer
Type=Service
ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=1
