[Desktop Entry]
X-KDE-Library=korg_thisdayinhistory
Name=Wikipedia 'This Day in History' Plugin
Name[ar]=ملحق 'هذا اليوم في التاريخ' في الويكيبيديا
Name[bs]=Wikipedia 'Ovaj Dan u Historiji' Dodatak
Name[ca]=Connector «Aquest dia en la història» de la Viquipèdia
Name[ca@valencia]=Connector «Este dia en la història» de la Viquipèdia
Name[cs]=Wikipedia modul 'Tento den v historii'
Name[da]=Wikipedias 'denne dag i historien'-plugin
Name[de]=Wikipedia-Modul „Dieser Tag in der Geschichte“
Name[el]=Πρόσθετο 'Αυτή η ημέρα στην Ιστορία' της Wikipedia
Name[en_GB]=Wikipedia 'This Day in History' Plugin
Name[es]=Complemento de «Este día en la historia» de la Wikipedia
Name[fi]=Wikipedian Tämä päivä historiassa -liitännäinen
Name[fr]=Module externe « Ce jour dans l'histoire » d'après Wikipédia
Name[gl]=Engadido «Este Día na Historia» da Wikipedia
Name[hu]=Wikipedia-bővítmény - „Történelmi események ezen a napon”
Name[ia]=Plug-in pro 'Iste die in le historia' de Wikipedia
Name[it]=Estensione "Questo giorno nella storia" di Wikipedia
Name[ja]=Wikipedia 今日は何の日プラグイン
Name[kk]=Wikipedia-дағы 'Бұл күн тарихта' плагині
Name[km]=កម្មវិធី 'ថ្ងៃនេះ​ក្នុង​ប្រវត្តិ' របស់វីគីភីឌៀ
Name[ko]=위키백과 '오늘의 역사' 플러그인
Name[lt]=Wikipedios „Ši diena istorijoje“ įskiepis
Name[lv]=Wikipedia 'Šī diena vēsturē' spraudnis
Name[mr]=विकिपेडिया 'इतिहासातील हा दिवस' प्लगइन
Name[nb]=Programtillegg for Wikipedias «Denne dag i historien»
Name[nds]=Wikipedia-"Disse Dag in de Historie"-Moduul
Name[ne]=विकिपेडिया 'इतिहासमा यो दिन' प्लगइन
Name[nl]=Plug-in voor Wikipedia 'Deze dag in het verleden'
Name[nn]=Programtillegg for «Dagen i dag» frå Wikipedia
Name[pa]=ਵਿਕਿਪੀਡਿਆ 'ਇਤਹਾਸ ਵਿੱਚ ਅੱਜ ਦਾ ਦਿਨ' ਪਲੱਗਇਨ
Name[pl]=Wtyczka Wikipedii 'Wybrane rocznice'
Name[pt]='Plugin' do Wikipédia para 'Aconteceu neste dia'
Name[pt_BR]=Plugin de 'Este Dia na História' da Wikipédia
Name[ro]=Modul Wikipedia „Această zi în istorie”
Name[ru]=Показ блока «В этот день» с Wikipedia
Name[sk]=Plugin Wikipédia 'Tento deň v histórii'
Name[sl]=Vstavek za Wikipedijin »Na današnji dan«
Name[sr]=Прикључак за Википедијино „догодило се на данашњи дан“
Name[sr@ijekavian]=Прикључак за Википедијино „догодило се на данашњи дан“
Name[sr@ijekavianlatin]=Priključak za Wikipedijino „dogodilo se na današnji dan“
Name[sr@latin]=Priključak za Wikipedijino „dogodilo se na današnji dan“
Name[sv]=Insticksprogram med 'Den här dagen i historien' från Wikipedia
Name[tr]=Wikipedia 'Tarihte Bugün' Eklentisi
Name[uk]=Додаток сторінки Вікіпедії «Цей день в історії»
Name[wa]=Tchôke-divins « Ci djoû ci e l' Istwere » del Wikipedia
Name[x-test]=xxWikipedia 'This Day in History' Pluginxx
Name[zh_CN]=Wikipedia “历史上的今天” 插件
Name[zh_TW]=維基百科「歷史上的今天」外掛程式
Comment=This plugin provides links to Wikipedia's 'This Day in History' pages
Comment[ar]=هذا الملحق يوفر وصلات لصفحات 'هذا اليوم في التاريخ' من الويكيبيديا
Comment[bs]=Ovaj dodatak omogucuje vezu sa Wikipedijinom 'Ovaj Dan u Historji' stranicom
Comment[ca]=Aquest connector proporciona els enllaços a les pàgines d'Efemèrides de la Viquipèdia
Comment[ca@valencia]=Este connector proporciona els enllaços a les pàgines d'Efemèrides de la Viquipèdia
Comment[da]=Dette plugin viser links til Wikipedias 'denne dag i historien'-sider
Comment[de]=Dieses Modul stellt eine Verknüpfung auf „Dieser Tag in der Geschichte“ in Wikipedia zur Verfügung.
Comment[el]=Αυτό το πρόσθετο προσφέρει δεσμούς στις σελίδες 'Αυτή η ημέρα στην Ιστορία' της Wikipedia
Comment[en_GB]=This plugin provides links to Wikipedia's 'This Day in History' pages
Comment[es]=Este complemento provee un enlace a la página «Este día en la historia» de la Wikipedia
Comment[fi]=Tämä liitännäinen tarjoaa linkin Wikipedian Tämä päivä historiassa -sivuille
Comment[fr]=Ce module externe fournit un lien vers la page « Ce jour dans l'histoire » de Wikipédia
Comment[gl]=Este engadido fornece ligazóns ás páxinas «Este Día na Historia» da Wikipedia
Comment[hu]=Ez a bővítmény hozzáférést biztosít a Wikipedia „Történelmi események ezen a napon” oldalához
Comment[ia]=Iste plug-in provide ligamines al paginas de Wikipedia super 'Iste die in le historia'
Comment[it]=Questa estensione fornisce la pagina "Questo giorno nella storia" di Wikipedia
Comment[ja]=Wikipedia の「今日は何の日」へのリンクを提供します。
Comment[kk]=Бұл плагині Wikipedia-дағы 'Бұл күн тарихта' мәліметіне  қол жеткізеді
Comment[km]=កម្មវិធី​នេះ ផ្ដល់​នូវ​តំណ​ទៅ​កាន់​ទំព័រ​នៃ​ប្រវត្តិ​ថ្ងៃ​នេះ​របស់ Wikipedia
Comment[ko]=이 플러그인은 위키백과의 '오늘의 역사' 페이지로 가는 링크를 제공합니다
Comment[lt]=Šis įskiepis suteikia nuorodas į Wikipedijos „Ši diena istorijoje“ puslapius
Comment[lv]=Šis spraudnis pievieno saites uz Vikipēdijas 'Šī diena vēsturē' lapām
Comment[mr]=हे प्लगइन विकिपेडिया 'इतिहासातील हा दिवस' पानाला लिंक करते
Comment[nb]=Dette programtillegget gir lenker til «This day in History» på engelsk Wikipedia.
Comment[nds]=Dit Moduul stellt Links na de »Disse Dag in de Historie«-Sieden op Wikipedia praat
Comment[nl]=Deze plug-in levert links tot de Wikipedia-pagina's over een bepaalde dag
Comment[nn]=Dette programtillegget gjev lenkjer til «Dagen i dag» i Wikipedia
Comment[pa]=ਇਹ ਪਲੱਗਇਨ ਵਿਕਿਪੀਡਿਆ 'ਇਤਹਾਸ ਵਿੱਚ ਅੱਜ ਦਾ ਦਿਨ' ਲਈ ਲਿੰਕ ਦਿੰਦੀ ਹੈ।
Comment[pl]=Wtyczka dostarcza linki do stron 'Ten dzień w historii' Wikipedii
Comment[pt]=Este 'plugin' oferece referências às páginas do Wikipédia sobre o que 'Aconteceu neste dia'
Comment[pt_BR]=Este plugin fornece links para as páginas do 'Este Dia na História' da Wikipédia
Comment[ru]=Показ блока «В этот день» с Wikipedia
Comment[sk]=Tento modul poskytuje odkazy na stránky Obrázok dňa Wikipédie
Comment[sl]=Ta vstavek ponuja povezave na Wikipedijino stran »Na današnji dan«
Comment[sr]=Овај прикључак добавља везе ка Википедијиним страницама „догодило се на данашњи дан“
Comment[sr@ijekavian]=Овај прикључак добавља везе ка Википедијиним страницама „догодило се на данашњи дан“
Comment[sr@ijekavianlatin]=Ovaj priključak dobavlja veze ka Wikipedijinim stranicama „dogodilo se na današnji dan“
Comment[sr@latin]=Ovaj priključak dobavlja veze ka Wikipedijinim stranicama „dogodilo se na današnji dan“
Comment[sv]=Insticksprogrammet tillhandahåller länkar till Wikipedias sida 'Den här dagen i historien'
Comment[tr]=Bu eklenti, Wikipedia 'Tarihte Bugün' sayfalarına bağlantı sağlar
Comment[uk]=Цей додаток працює з посиланнями на сторінки Вікіпедії «Цей день в історії»
Comment[wa]=Ci tchôke-divins dene des hårdêyes ås pådjes « Ci djoû ci dins l' Istwere » (366 djoûs) del Wikipedia
Comment[x-test]=xxThis plugin provides links to Wikipedia's 'This Day in History' pagesxx
Comment[zh_CN]=此插件提供了对 Wikipedia 上“历史上的今天”页面的链接
Comment[zh_TW]=這個外掛程式提供連結到維基百科中的「歷史上的今天」。
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
