[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_thisdayinhistory
Name=Wikipedia 'This Day in History' Plugin
Name[el]=Πρόσθετο 'Αυτή η ημέρα στην Ιστορία' της Wikipedia
Name[es]=Plugin de Wikipedia 'Este día en la historia'
Name[it]=Plugin "Questo giorno nella storia" da Wikipedia
Name[ja]=Wikipedia 今日は何の日プラグイン
Name[ne]=विकिपेडिया 'इतिहासमा यो दिन' प्लगइन
Name[nl]=Plugin voor Wikipedia 'Deze dag in het verleden'
Name[pa]=ਵਿਕਿਪੀਡਿਆ 'ਇਤਹਾਸ ਵਿੱਚ ਅੱਜ ਦਾ ਦਿਨ' ਪਲੱਗਇਨ
Name[pt]='Plugin' do Wikipédia para 'Aconteceu neste dia'
Name[pt_BR]='Plugin' do Wikipédia para 'Aconteceu neste dia'
Name[sv]=Insticksprogram med 'Den här dagen i historien' från Wikipedia
Name[zh_TW]=維基百科「歷史上的今天」外掛程式
Type=Service
ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
