[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_webexport
Name=Web Export Plugin for KOrganizer
Name[bg]=Приставка на организатора за експорт в уеб формат
Name[bs]=Eksportovanje na web, dodatak za KOrganizer
Name[ca]=Endollable d'exportació web per a KOrganizer
Name[cs]=Modul pro export kalendáře na web
Name[da]=Neteksport-plugin for KOrganizer
Name[de]=Web-Export Plugin für KOrganizer
Name[es]=Accesorio de exportación web para KOrganizer
Name[et]=KOrganizeri veebiekspordi plugin
Name[fi]=Web vientisovelma KOrganizeriin
Name[fr]=Module d'exportation Web pour KOrganizer
Name[gl]=Extensión para Exportaxe Web para KOrganizer
Name[he]=תוסף ייצוא לאינטרנט עבור KOrganizer
Name[hu]=Webes exportáló bővítőmodul a KOrganizerhez
Name[it]=Plugin di esportazione Web per KOrganizer
Name[ja]=KOrganizer 用ウェブエクスポートプラグイン
Name[nb]=Vev-eksport-programtillegg for KOrganizer
Name[nl]=Webexportplugin voor KOrganizer
Name[nn]=Programtillegg for vev-eksport for KOrganizer
Name[pl]=Wtyczka eksportu do sieci dla Organizatora
Name[pt]='Plugin' de Exportação para Web do KOrganizer
Name[pt_BR]=Plugin de Exportação Web para o KOrganizer
Name[ru]=Экспорт в виде веб-страницы
Name[sk]=Modul KOrganizer pre web export
Name[sl]=Vstavek za spletni izvoz za KOrganizer
Name[sr]=Прикључак KOrganizer-а за веб извоз
Name[sr@Latn]=Priključak KOrganizer-a za veb izvoz
Name[sv]=Webbexportinsticksprogram för Korganizer
Name[ta]=கேஅமைப்பாளருக்கான இணைய ஏற்றுமதி சொருகுப்பொருள்
Name[tg]=Содирот ба намуди саҳифаи веб
Name[uk]=Втулок експортування в вигляді веб-сторінки для KOrganizer
Name[zh_CN]=KOrganizer 的网页导出插件
Type=Service
ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=1
