[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_webexport
Name=Web Export Plugin for KOrganizer
Name[ca]=Connector per a exportar a web per a KOrganizer
Name[da]=Neteksport-plugin for KOrganizer
Name[es]=Accesorio de exportación web para KOrganizer
Name[et]=KOrganizeri veebiekspordi plugin
Name[xx]=xxWeb Export Plugin for KOrganizerxx
Type=Service
ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=1
