[Desktop Entry]
X-KDE-Library=korg_timespanview
Name=Timespan View Plugin for KOrganizer
Name[af]=Tydlyn aansig inprop module vir KOrganizer
Name[ca]=Connector de vista de període temporal per a KOrganizer
Name[cs]=Modul časového pohledu pro KOrganizer
Name[da]=Timespan-visning-plugin for KOrganizer
Name[de]=Zeitspannenansicht-Modul für KOrganizer
Name[el]=Πρόσθετο προβολής εργασιών του KOrganizer
Name[eo]=Tempgamrigardo-kromaĵo por Organizilo
Name[es]=Complemento de visor de periodo de tiempo para KOrganizer
Name[et]=KOrganizeri perioodivaate plugin
Name[eu]=KOrganizer-rako denbora-barruti ukuspegi plugin-a
Name[fa]=وصلۀ نمای گسترۀ زمان برای KOrganizer
Name[fi]=Aikavälin näyttöliitännäinen Korganizeriin
Name[fr]=Module d'affichage de planification pour KOrganizer
Name[fy]=Tiidspanneplugin foar KOrganizer
Name[gl]=Engadido de Vista en Unidades de Tempo para KOrganizer
Name[hu]=Időszakáttekintő bővítőmodul a KOrganizerhez
Name[is]=Tímabilsskoðunar íforrit fyrir KOrganizer
Name[it]=Estensione vista intervalli temporali per KOrganizer
Name[ja]=KOrganizer タイムスパンビュープラグイン
Name[ka]=დროის დიაგრამიანი ხედის მოდული KOrganizer-სთვის
Name[kk]=KOrganizer-дің уақыт аралығы көрініс модулі
Name[km]=កម្មវិធី​ជំនួយ​ទិដ្ឋភាព​រយៈពេល​សម្រាប់ KOrganizer
Name[lt]=Laiko tarpsnio vaizdo KOrganizer priedas
Name[lv]=KOrganizer laika intervāla skats
Name[ms]=Plugin Paparan Kitar Waktu untuk KOrganizer
Name[nb]=Programtillegg for periodevisning i KOrganizer
Name[nds]=Tietbruuk-Moduul för KOrganizer
Name[ne]=केडीई आयोजकका लागि समयावधि दृश्य प्लगइन
Name[nl]=Tijdspanneplugin voor KOrganizer
Name[nn]=Programtillegg for tidsromvising i KOrganizer
Name[pl]=Wtyczka widoku zakresu czasu dla KOrganizera
Name[pt]='Plugin' de Vista de Intervalo de Tempo para o KOrganizer
Name[pt_BR]=Plug-in de Visualização de período de tempo para o KOrganizer
Name[ru]=Диаграмма Ганта для KOrganizer
Name[sk]=KOrganizer modul pre projektový pohľad
Name[sl]=Vstavek za časovni prikaz za KOrganizer
Name[sv]=Tidsintervallvyinsticksprogram för Korganizer
Name[ta]=கேஅமைப்பாளருக்கான திட்டக் காட்சி சொருகுப்பொருள்
Name[tr]=KOrganizer için Zaman Dilimi Görünümü Eklentisi
Name[uk]=Втулок перегляду періоду часу для KOrganizer
Name[x-test]=xxTimespan View Plugin for KOrganizerxx
Name[zh_CN]=KOrganizer 的时间跨度查看插件
Name[zh_TW]=KOrganizer 時間檢視外掛程式
Comment=This plugin provides a timespan view for korganizer (like the to-do or month views). If you enable this plugin, you can switch to the timespan view and view your events like in a Gantt diagram.
Comment[af]=Hierdie inprop module verskaf 'n tydlyn aansig vir KOrganizer. Dit lyk baie soos die te-doen of maand aansig. As hierdie inprop module geaktiveer is, kan jy na die tydlyn aansig wissel en na jou te-doen lys in tydlyn formaat kyk.
Comment[bg]=Приставката служи за преглед на събитията и задачите в зададен период от време.
Comment[ca]=Aquest connector proporciona una vista d'un període temporal per a KOrganizer (com ara les vistes de pendents o mensual). Si habiliteu aquest connector, podeu canviar a la vista de període temporal i veure els esdeveniments com en un diagrama de Gantt.
Comment[cs]=Tento modul umožňuje časový pohled pro korganizer (podobně jako úkoly nebo měsíční pohled). Pokud ho povolíte, můžete se přepnout na časový pohled a prohlížet si události v Ganttově diagramu.
Comment[da]=Pluginnet sørger for en tidsintervalsvisning i Korganizer (som ligner gøremål eller månedsvisning). Hvis du aktiverer dette plugin kan du skifte til tidsintervalvisning og vise dine begivenheder som i et Gantt-diagram.
Comment[de]=Mit diesem Modul wird KOrganizer um eine Zeitspannenansicht (ähnlich der Aufgaben- und Monatsansicht) erweitert. Wenn Sie es einschalten, können Sie zur Zeitspannenansicht wechseln und sich Ihre Ereignisse wie in einem Gantt-Diagramm ansehen.
Comment[el]=Αυτό το πρόσθετο παρέχει μία προβολή 'ανοίγματος' χρόνου για το korganizer (όπως οι μηνιαίες προβολές των προς υλοποίηση εργασιών). Αν το ενεργοποιήσετε, μπορείτε να αλλάξετε σε προβολή 'ανοίγματος' χρόνου και να δείτε τα γεγονότα σας όπως ένα διάγραμμα του Gantt.
Comment[es]=Este complemento proporciona una vista de periodo de tiempo para KOrganizer (como la vista de tareas pendientes o la mensual). Si habilita este complemento, puede pasar a la vista de periodo de tiempo y ver sus eventos como un diagrama de Gantt.
Comment[et]=See plugin lisab KOrganizerile perioodivaate (nagu ülesannete või kuuvaade). Selle lubamisel saab lülituda perioodivaatele ning näha oma sündmusi Gantti diagrammina.
Comment[eu]=Plugin honek KOrganizer-entzat denbora barruti ikuspegi bat eskeintzen du. Plugin hau gaitzen baduzu denbora-barruti ikuspegira alda zaitezke gertaerak Gantt diagrama batean bezala ikusi.
Comment[fa]=این وصله، برای KOrganizer یک نمای گسترۀ زمان )مثل نماهای کارهای انجامی یا ماهانه( فراهم می‌‌کند. اگر این وصله را فعال کنید، می‌توانید به گسترۀ زمان سودهی کرده و مانند نمودار  Gantt، رویدادهای خود را مشاهده کنید.
Comment[fi]=Tämä liitännäinen mahdollistaa ajanjaksonäkymän KOrganizeriin (kuten tehtävälista- tai kuukausinäkymän). Jos otat tämän liitännäisen käyttöön.  voit vaihtaa aikavälin näyttöön ja tarkastella tapahtumia kuten Gantt-diagrammissa.
Comment[fr]=Ce module vous permet d'avoir une vue de KOrganizer qui affiche les évènements selon l'axe temporel. Si vous activez cette vue, vous verrez vos évènements comme un diagramme de Gantt.
Comment[gl]=Este engadido fornece unha vista en unidades de tempo (como as vistas mensuais e a vista de tarefas). Se activa este engadido, pode trocar a vista en unidades de tempo e ver os seus eventos como unha gráfica de Gantt.
Comment[hu]=Ezzel modullal egy időszakot lehet áttekinteni a KOrganizerben (például a feladatokat vagy a havi nézeteket). Ha aktiválja ezt a modult, átválthat időszakos nézetbe, hogy az események Gantt-diagramon legyenek megtekinthetők.
Comment[is]=Þetta íforrit veitir tímabilssýn fyrir KOrganizer (svipað og verkþátta eða mánaðarsýn). Ef þú virkjar þetta íforrit getur þú skipt yfir í tímabilssýn og skoðað atburðina þína eins og á Gantt skýringarmynd.
Comment[it]=Questa estensione fornisce una vista a intervalli temporali (come la vista delle cose da fare o quella mensile). Se abiliti questa estensione, potrai passare alla vista a intervalli temporali e vedere i tuoi eventi come in un diagramma di Gantt.
Comment[ja]=このプラグインは KOrganizer にタイムスパンビューを提供します (To-Do ビューや月ビューなど)。このプラグインを有効にすると、タイムスパンビューに切り替えて、ガントチャートのようにイベントを見ることができます。
Comment[ka]=ეს მოდული უზრუნველჰყოფს korganizer-ს დროის დიაგრამიანი ხედით (მაგ.:დავალებები ან თვიური მიმოხილვა). თუ ამ მოდულს გაააქტიურებთ,თქვენ შეგიძლიათ გადართოთ დროის დიაგრამიან ხედზე და იხილოთ მოვლენები განტის დიაგრამის სახით. 
Comment[kk]=Бұл KOrganizer-нің уақыт аралығы көрінісінің модулі. Модулін орнатсаңыз, осы көрініске ауысып оқиғаларыңызды Гант диаграмма түріне келтре аласыз.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​ផ្ដល់​នូវ​ទិដ្ឋភាព​រយៈពេល​សម្រាប់ korganizer (ដូចជា ទិដ្ឋភាព​ការងារ​ត្រូវ​ធ្វើ ឬ ទិដ្ឋភាព​ខែ​ជាដើម) ។ បើ​អ្នក​ធ្វើ​ឲ្យ​កម្មវិធី​ជំនួយ​នេះ​ប្រើ​បាន អ្នក​នឹង​អាច​ប្ដូរ​ទិដ្ឋភាព​រយៈពេល ហើយ​មើល​ព្រឹត្តិការណ៍​របស់​អ្នក​ដូចជា​នៅ​ក្នុងដ្យាក្រាម Gantt អញ្ចឹង​ដែរ ។
Comment[lt]=Šis priedas KOrganizer programoje sudaro galimybę apžvelgti laiko tarpą (pvz., darbų arba mėnesio peržiūra). Įgalinus šį priedą galėsite persijungti į laiko tarpo peržiūrą ir žiūrėti įvykius tarsi Gantt diagramoje.
Comment[lv]=Šis spraudnis nodrošina KOrganizer laika intervāla skatījumu (piemēram darāmie darbi vai mēneša skats). Ieslēdzot šo spraudni, jūs varat pārslēgties uz laika intervāla skatu un apskatīt notikumus Gantt diagrammas veidā.
Comment[ms]=Plugin ini menyediakan paparan kitar waktu  untuk korganizer (seperti tugasan atau paparan bulan). Jika plugin ini diaktifkan,anda boleh beralih ke paparan kitar masa dan paparkan peristiwa seperti dalam diagram Gantt. 
Comment[nb]=Dette programtillegget lager en periodevisning for korganizer (slik som gjøreliste og månedsvisning). Hvis du slår på dette programtillegget kan du bytte til periodevisning og se hendelser som i et Gantt-diagram.
Comment[nds]=Mit dit Moduul kannst Du in KOrganizer en Tietbruuk-Ansicht opropen (jüst as de Opgaven- oder Maandansichten). Wenn Du dit Moduul aktiveerst, kannst Du na de Tietbruukansicht wesseln un Dien Begeefnissen as Ganntt-Diagramm ankieken.
Comment[ne]=यो प्लगइनले केडीई आयोजकका लागि समयावधि उपलब्ध गराउछ (गर्नुपर्ने कार्य वा महिना दृश्य जस्तो) । तपाईँले यो प्लगइन सक्षम पारेमा, तपाईँले समयावधि दृश्यमा स्विच गर्न र गान्ट रेखाचित्र जस्तोमा घटना हेर्न सक्नुहुन्छ ।
Comment[nl]=Deze plugin biedt een weergave voor KOrganizer (zoals de takenlijst en de maandweergave). Wanneer u deze plugin inschakelt kunt u kiezen voor een weergave waarin u uw evenementen in een Gantt-diagram kunt bekijken.
Comment[nn]=Dette programtillegget gjev deg ei tidsromvising i KOrganizer (etter modell av oppgåve- og månadsvisingane). Viss du slår på dette tillegget, kan du byta til tidsromvisinga og sjå hendingane i eit Gantt-diagram.
Comment[pl]=Ta wtyczka tworzy widok zakresu czasu w KOrganizerze (tak jak widok zadań do zrobienia lub widok miesiąca). Po włączeniu tej wtyczki możliwe jest przełączenie się na widok zakresu czasu i przeglądanie zdarzeń jak na diagramie Gantta.
Comment[pt]=Este 'plugin' oferece uma vista de distribuição temporal para o KOrganizer (como as vistas de itens por-fazer ou mensais). Se activar este 'plugin', poderá mudar para a vista de distribuição temporal e ver os seus eventos como num diagrama de Gantt.
Comment[pt_BR]=Este plug-in fornece uma visão de período de tempo para o KOrganizer (como a visão de pendências e do mês). Se ativar este plug-in, você pode mudar para a visualização de período de tempo e ver seus eventos como num diagrama de Gantt.
Comment[ru]=Этот модуль показывает диаграмму Ганта для органайзера KDE. Если вы подключите этот модуль, вы можете посмотреть ваши события в виде диаграммы Ганта.
Comment[sk]=Tento modul poskytuje projektový pohľad pre korganizer (ako sú úlohy alebo mesačné pohľady). Ak povolíte tento modul, môžete prepínať projektový pohľad a pohľad na udalosti ako je Gantt diagram.
Comment[sl]=Ta vstavek ponuja časovni prikaz za KOrganizer (kot prikaz opravil ali mesečni prikaz). Če omogočite ta vstavek, lahko preklopite na časovni prikaz in si ogledate dogodke kot v Ganttovem diagramu.
Comment[sv]=Insticksprogrammet tillhandahåller en tidsintervallvy i Korganizer (som liknar uppgifts- eller månadsvyn). Om du aktiverar insticksprogrammet kan du byta till idsintervallvyn och visa dina händelser som i ett Gantt-diagram.
Comment[ta]=இந்த சொருகுப்பொருள் korganizerக்கான ஒரு குறுகிய நேரத்தை வழங்குகிறது. lசெய்யவேண்டியவை அல்ல்து மாதக் காட்சிகள் போன்ற). இந்த சொருகுப்பொருள் செயலில் இருந்தால், நீங்கள் குறுகிய நேரக் காட்சி மற்ரும் Gantt விளக்க வரைபடத்தில் உள்ளது போன்ற நிகழ்வுகளை பார்க்கலாம்.
Comment[tr]=Bu eklenti, KOrganizer için zaman dilimi görünümü sağlar (yapılacaklar listesi ya da aylık görünüm gibi). Eğer bu eklentiyi aktif hale getirirseniz, zaman dilimi görünümüne geçebilir ve olayları Gantt diyagramı şeklinde görüntüleyebilirsiniz.
Comment[uk]=Цей втулок показує вигляд діаграми Ґанта для korganizer (подібно до вигляду завдань та місячного). Якщо увімкнути цей втулок, то можна переглядати ваші події у вигляді діаграми Ґанта.
Comment[x-test]=xxThis plugin provides a timespan view for korganizer (like the to-do or month views). If you enable this plugin, you can switch to the timespan view and view your events like in a Gantt diagram.xx
Comment[zh_CN]=此插件为 KOrganizer 提供了时间跨度视图(类似于待办或月视图)。如果您启用了此插件，您可以像甘特图程序那样切换到时间跨度视图并查看您的事件。
Comment[zh_TW]=此外掛程式提供時間檢視模式。如果您開啟此外掛程式，您可以切換時間檢視，讓您使用類似甘特圖的圖形來檢視事件。
Type=Service
X-KDE-ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
