[Desktop Entry]
X-KDE-Library=korg_timespanview
Name=Timespan View Plugin for KOrganizer
Name[de]=Zeitspannenansicht-Modul für KOrganizer
Comment=This plugin provides a timespan view for korganizer (like the to-do or month views). If you enable this plugin, you can switch to the timespan view and view your events like in a Gantt diagram.
Comment[de]=Mit diesem Modul wird KOrganizer um eine Zeitspannenansicht (ähnlich der Aufgaben- und Monatsansicht) erweitert. Wenn Sie es einschalten, können Sie zur Zeitspannenansicht wechseln und sich Ihre Ereignisse wie in einem Gantt-Diagramm ansehen.
Type=Service
X-KDE-ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
