[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Calendar/Plugin
Comment=Calendar Plugin
Comment[af]=kalender inplak
Comment[ar]=ملحق التقويم
Comment[az]=Təqvim Əlavəsi
Comment[bs]=Dodatak za kalendar
Comment[cs]=Kalendářový modul
Comment[da]=Calendar-indstik
Comment[de]=Kalender-Plugin
Comment[el]=Πρόσθετο Ημερολογίου
Comment[eo]=Kalendaro-kromaĵo
Comment[es]=Plugin de Calendar
Comment[eu]=Egutegi Plugina
Comment[fi]=Kalenterisovelma
Comment[fr]=Module d'agenda
Comment[he]=תוסף לוח שנה
Comment[hu]=Naptárkezelő bővítőmodul
Comment[is]=Viðbót við dagatal (Calendar)
Comment[it]=Plugin calendario
Comment[ja]=カレンダープラグイン
Comment[ko]=달력 플러그인
Comment[lt]=iCalendar priedas
Comment[lv]=Kalendāra Iespraudnis
Comment[nl]=Kalenderplugin
Comment[nn]=Kalendermodul
Comment[pt]='Plugin' de Calendário
Comment[pt_BR]=Plugin de Calendário
Comment[ro]=Modul calendar
Comment[sk]=Modul Calendar
Comment[sl]=Vstavek za Koledar
Comment[sv]=Insticksprogram för kalender
Comment[th]=ปลั๊กอินปฏิทิน
Comment[tr]=Takvim Eklentisi
Comment[uk]=Додаток календаря
Comment[ven]=U pulaga ha khalenda
Comment[vi]=Plugin lịch
Comment[xh]=Iplagi efakliweyo ye Calendar
Comment[xx]=xx
Comment[zh_CN]=日历插件
Comment[zh_TW]=Calendar外掛程式
Comment[zu]=Iplagi Yekhalanda
