[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Calendar/Decoration
Comment=Calendar Decoration Plugin
Comment[af]=Kalender Versiering Inplak
Comment[ar]=ملحق تزيين التقويم
Comment[bg]=Приставка за декорация на календара
Comment[br]=Lugent kinkladur an deiziadur
Comment[bs]=Dodatak za ukrašavanje kalendara
Comment[ca]=Endollable de decoració del calendari
Comment[cs]=Modul dekorace kalendáře
Comment[cy]=Ategyn Addurniad Calendr
Comment[da]=Calendar-dekorations-plugin
Comment[de]=Dekoration für den Kalender
Comment[el]=Πρόσθετο διακόσμησης ημερολογίου
Comment[eo]=Kalendarornama kromaĵo
Comment[es]=Plugin de decoración de calendario
Comment[et]=Kalendri dekoratsiooni plugin
Comment[eu]=Egutegirako Dekorazio Plugina
Comment[fi]=Kalenteritekstin koristelusovelma
Comment[fr]=Module de décoration d'agenda
Comment[gl]=Extensión para a Decoración do Calendario
Comment[he]=תוסף קישוטי לוח שנה
Comment[hi]=कैलेन्डर सजावट प्लगइन
Comment[hr]=Dodatak za dekoraciju kalendara
Comment[hu]=Naptármegjelenési bővítőmodul
Comment[is]=Íforrit til að Skreyta texta dagatals
Comment[it]=Plugin di decorazione del calendario
Comment[ja]=カレンダー装飾プラグイン
Comment[lt]=vCalendar dekoracijų priedas
Comment[lv]=Kalendāra Dekorāciju Iespraudnis
Comment[mk]=Календар - додаток за изглед
Comment[mt]=Plagin ta' dekorazzjoni tal-kalendarju
Comment[nb]=Calendar dekorasjonsprogramtillegg
Comment[nl]=Agendadecoratieplugin
Comment[nn]=Tilleggsmodul for kalenderpynt
Comment[nso]=Plugin ya Kgabiso ya Tshupamabaka
Comment[pl]=Wtyczka do dekoracji kalendarza
Comment[pt]='Plugin' de Decoração do Calendário
Comment[pt_BR]=Plugin para Decoração do Calendário
Comment[ro]=Modul decorare calendar
Comment[ru]=Модуль для украшения календаря
Comment[se]=Kaleandarčiŋaid lassemoduvla
Comment[sk]=Modul pre skrášlenie kalendára
Comment[sl]=Vstavek besedilnega okrasa za Koledar
Comment[sr]=Прикључак за декорацију календара
Comment[sr@Latn]=Priključak za dekoraciju kalendara
Comment[sv]=Insticksprogram för kalenderdekoration
Comment[ta]=நாள்காட்டி அலங்கார சொருகுப்பொருள்
Comment[tg]=Модул барои ороиш додани тақвимот
Comment[th]=ปลั๊กอินการตกแต่งปฏิทิน
Comment[tr]=Takvim Dekorasyon Eklentisi
Comment[uk]=Втулок прикрас календаря
Comment[ven]=Pulagini yo khavhisiwaho ya khalenda
Comment[vi]=Plugin phối trí lịch 
Comment[xh]=Ikhalenda Yohombiso lwe Plugin
Comment[zh_CN]=日历装饰插件
Comment[zh_TW]=Calendar 文字裝飾外掛程式
Comment[zu]=Ikhalenda Yeplagi Yokuhlobisa
