[Desktop Entry]
Name=Calendar Decoration Interface
Name[de]=Dekoration für den Kalender
Type=ServiceType
X-KDE-ServiceType=Calendar/Decoration
Comment=Calendar Decoration Plugin
Comment[de]=Dekoration für den Kalender
