[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=Calendar/Plugin
Comment=Calendar Plugin

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool
