[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Calendar/Decoration
Comment=Calendar Decoration Plugin
Comment[af]=kalender teks versiering inplak
Comment[ar]=ملحق تزيين نص التقويم
Comment[az]=Təqvim Mətn Bəzəmə Əlavəsi
Comment[da]=Calendar Tekstdekoration-indstik
Comment[de]=Textdekorations-Plugin für Kalender
Comment[es]=Plugin de estilo de texto de Calendar
Comment[eu]=Calendar Text Decoration Plugina
Comment[fr]=Module de décoration du texte dans un agenda
Comment[he]=תוסף קישוטי טקסט ללוח שנה
Comment[hu]=Naptárkezelő bővítőmodul, kibővített szövegkezeléssel
Comment[is]=Viðbót til að skreyta texta dagatals
Comment[lv]=Kalendāra Teksta Dekorāciju Iespraudnis
Comment[nl]=kalender tekstdecoratieplugin
Comment[pt]='Plugin' de Decoração do Texto do Calendário
Comment[pt_BR]=Plugin para Decoração do Calendário
Comment[sk]=Modul pre skrášlenie textu kalendára
Comment[sl]=Vstavek besedilnega okrasa za Koledar
Comment[sv]=Insticksprogram för kalendertextdekoration
Comment[xh]=Calendar Iplagi efakiweyo yohombiso lokubhaliweyo
Comment[xx]=xx
Comment[zu]=Ikhalenda Yeplagi Yokuhlobisa Okubhaliweyo
