[Desktop Entry]
Name=KOrganizer Print Plugin Interface
Name[ar]=واجهة ملحق طباعة برنامج المنظم
Name[bs]=KOrganizatorovo sučelje dodatka za štampanje
Name[ca]=Interfície de connector d'impressió del KOrganizer
Name[ca@valencia]=Interfície de connector d'impressió del KOrganizer
Name[cs]=Tiskové rozhraní komponenty KOrganizeru
Name[da]=Grænseflade til KOrganizer print-plugin
Name[de]=KOrganizer-Druckschnittstelle
Name[el]=Διεπαφή προσθέτου εκτύπωσης KOrganizer
Name[en_GB]=KOrganizer Print Plugin Interface
Name[es]=Interfaz del complemento de impresión de KOrganizer
Name[et]=KOrganizeri trükkimisplugina liides
Name[fi]=KOrganizerin tulostusliitännäisliittymä
Name[fr]=Interface de module d'impression d'agenda
Name[ga]=Comhéadan Breiseáin Priontála KOrganizer
Name[gl]=Interface do Engadido de Impresión de KOrganizer
Name[hu]=A KOrganizer nyomtatási bővítmény felülete
Name[ia]=Interfacie de plug-in pro imprimer in KOrganizer
Name[it]=Interfaccia dell'estensione di stampa di KOrganizer
Name[ja]=KOrganizer 印刷プラグインインターフェース
Name[kk]=KOrganizer-дің басып шығару плагинінің интерфейсі
Name[km]=ចំណុច​ប្រទាក់​កម្មវិធី​ជំនួយ​​បោះពុម្ព KOrganizer
Name[ko]=KOrganizer 인쇄 플러그인 인터페이스
Name[lt]=KOrganizer spausdinimo priedo sąsaja
Name[lv]=KOrganizer drukāšanas spraudņa saskarne
Name[mr]=के-ऑर्गनायझर छपाई प्लगइन संवाद
Name[nb]=KOrganizer grensesnitt for utskrifts-programtillegg
Name[nds]=KOrganizer-Druckmoduul-Koppelsteed
Name[nl]=KOrganizer-printplug-inuiterlijk
Name[nn]=Grensesnitt til utskriftsprogramtillegg til KOrganizer
Name[pa]=ਕੇ-ਪਰਬੰਧਕ ਪਰਿੰਟ ਪਲੱਗਇਨ ਸੰਰਚਨਾ
Name[pl]=Interfejs wtyczki drukowania KOrganizera
Name[pt]=Interface do 'Plugin' de Impressão do KOrganizer
Name[pt_BR]=Interface do plugin de impressão do KOrganizer
Name[ru]=Печать календаря
Name[sk]=Rozhranie modulu tlače KOrganizer
Name[sl]=KOrganizerjev vmesnik za tiskalniške vstavke
Name[sr]=Сучеље К‑организаторовог прикључка за штампање
Name[sr@ijekavian]=Сучеље К‑организаторовог прикључка за штампање
Name[sr@ijekavianlatin]=Sučelje K‑organizatorovog priključka za štampanje
Name[sr@latin]=Sučelje K‑organizatorovog priključka za štampanje
Name[sv]=Insticksprogram för Korganizers utskriftsgränssnitt
Name[tr]=KOrganizer Yazdırma Eklentisi Arayüzü
Name[uk]=Інтерфейс додатка друку KOrganizer
Name[wa]=Eterface do tchôke-divins d' imprimaedje di KOrganizer
Name[x-test]=xxKOrganizer Print Plugin Interfacexx
Name[zh_CN]=KOrganizer 打印插件界面
Name[zh_TW]=KOrganizer 列印外掛程式介面
Type=ServiceType
X-KDE-ServiceType=KOrganizer/PrintPlugin
Comment=KOrganizer Part
Comment[af]=Korganizer Deel
Comment[ar]=جزء برنامج المنظم
Comment[bg]=Модул KOrganizer
Comment[br]=Perzh KOrganizer
Comment[bs]=Dio KOrganizatora
Comment[ca]=Part de KOrganizer
Comment[ca@valencia]=Part de KOrganizer
Comment[cs]=KOrganizer Part
Comment[cy]=KTrefnydd Part
Comment[da]=KOrganizer Part
Comment[de]=KOrganizer-Komponente
Comment[el]=KOrganizer Part
Comment[en_GB]=KOrganizer Part
Comment[eo]=Organizilo-parto
Comment[es]=Parte de KOrganizer
Comment[et]=KOrganizeri komponent
Comment[eu]=KOrganizer zatia
Comment[fa]=بخش KOrganizer
Comment[fi]=KOrganizer-osa
Comment[fr]=Composant KOrganizer
Comment[fy]=KOrganizer Part
Comment[ga]=Comhpháirt KOrganizer
Comment[gl]=Parte KOrganizer
Comment[he]=רכיב KOrganizer
Comment[hr]=KOrganizer komponenta
Comment[hu]=KOrganizer objektum
Comment[ia]=Parte pro KOrganizer
Comment[is]=KOrganizer hluti
Comment[it]=Componente di KOrganizer
Comment[ja]=KOrganizer コンポーネント
Comment[ka]=KOrganizer კომპონენტი
Comment[kk]=KOrganizer бөлшегі
Comment[km]=ផ្នែក​របស់ KOrganizer
Comment[ko]=KOrganizer 부분
Comment[lt]=KOrganizer dalis
Comment[lv]=KOrganizer daļa
Comment[mk]=Дел од КОрганизатор
Comment[mr]=के-ऑर्गनायझर पार्ट
Comment[ms]=Bahagian KOrganizer
Comment[nb]=KOrganizer Part
Comment[nds]=KOrganizer-Komponent
Comment[ne]=केडीई आयोजक भाग
Comment[nl]=KOrganizer-component
Comment[nn]=KOrganizer-del
Comment[pa]=ਕੇ-ਪਰਬੰਧਕ ਭਾਗ
Comment[pl]=Moduł KOrganizera
Comment[pt]=Componente do KOrganizer
Comment[pt_BR]=Componente do KOrganizer
Comment[ro]=Componentă KOrganizer
Comment[ru]=Компонент органайзера
Comment[se]=KOrganizer-oassi
Comment[sk]=Part KOrganizer
Comment[sl]=Del KOrganizerja
Comment[sr]=К‑организатор део
Comment[sr@ijekavian]=К‑организатор дио
Comment[sr@ijekavianlatin]=K‑organizator dio
Comment[sr@latin]=K‑organizator deo
Comment[sv]=Korganizer-del
Comment[ta]=கேஅமைப்பாளர் பகுதி
Comment[tg]=Қисмати органайзер
Comment[tr]=KOrganizer Parçası
Comment[uk]=Складова KOrganizer
Comment[vi]=KOrganizer Part
Comment[wa]=KOrganizer Part
Comment[xh]=Indawana yeKOrganizer
Comment[x-test]=xxKOrganizer Partxx
Comment[zh_CN]=KOrganizer 部件
Comment[zh_TW]=KOrganizer 組件

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
