[Desktop Entry]
Name=KOrganizer Part Interface
Name[de]=KOrganizer-Komponenten-Schnittstelle
Type=ServiceType
X-KDE-ServiceType=KOrganizer/Part
Comment=KOrganizer Part
Comment[de]=KOrganizer-Komponente

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
