[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KOrganizer/Part
Comment=KOrganizer Part
Comment[x-test]=xxKOrganizer Partxx

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
