[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KOrganizer/Part
Comment=KOrganizer Part
Comment[af]=Korganizer Deel
Comment[be]=Частка "K Арганізатар"
Comment[bg]=Модул KOrganizer
Comment[bs]=KOrganizer dio
Comment[ca]=Part de KOrganizer
Comment[cy]=KTrefnydd Part
Comment[da]=KOrganizer-del
Comment[de]=KOrganizer-Komponente (KPart)
Comment[eo]=Organizilo-parto
Comment[es]=Parte de KOrganizer
Comment[et]=KOrganizeri komponent
Comment[fi]=KOrganizer osa
Comment[fr]=Composant KOrganizer
Comment[he]=רכיב KOrganizer
Comment[hi]=के-आर्गेनाइज़र हिस्सा
Comment[hr]=KOrganizer komponenta
Comment[hu]=KOrganizer objektum
Comment[is]=KSkipulag íforrit
Comment[it]=Parte di KOrganizer
Comment[ja]=KOrganizer パート
Comment[lt]=KOrganizer dalis
Comment[lv]=KOrganizer Daļa
Comment[mt]=Parti ta' KOrganizer
Comment[nb]=KOrganizerdel
Comment[nn]=KOrganizer-del
Comment[nso]=Seripa sa KMokopanyi
Comment[pl]=Moduł KOrganizera
Comment[pt]=Componente do KOrganizer
Comment[pt_BR]=Componente do KOrganizer
Comment[ro]=Componentă KOrganizer
Comment[ru]=Компонент органайзера
Comment[se]=KOrganizer-oassi
Comment[sk]=Part KOrganizer
Comment[sl]=Del KOrganizerja
Comment[sr]=Део KOrganizer-а
Comment[sr@Latn]=Deo KOrganizer-a
Comment[sv]=Korganizer-del
Comment[ta]=கேஅமைப்பாளர் பகுதி
Comment[tg]=Қисмати органайзер
Comment[tr]=KOrganizer Parçası
Comment[uk]=Складова KOrganizer
Comment[ven]=Tshipida tsha mudzudzanyi wa K
Comment[xh]=Indawana yeKOrganizer
Comment[xx]=xxKOrganizer Partxx
Comment[zh_CN]=KOrganizer 部件
Comment[zh_TW]=KOrganizer 組件
Comment[zu]=KUmgqugquzeleli Wengxenye

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
