[Desktop Entry]
Name=KOrganizer Print Plugin Interface
Name[de]=KOrganizer-Druckschnittstelle
Type=ServiceType
X-KDE-ServiceType=KOrganizer/PrintPlugin
Comment=KOrganizer Part
Comment[de]=KOrganizer-Komponente

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
