[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_holidays
Name=Holiday Plugin for Calendars
Name[ca]=Connector de les vacances per als calendaris
Name[da]=Helligdage-plugin for kalendere
Name[es]=Accesorio de vacaciones para calendarios
Name[et]=Pühade plugin kalendritele
Name[xx]=xxHoliday Plugin for Calendarsxx
Type=Service
ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
