[Desktop Entry]
X-KDE-Library=libkorg_yearlyprint
Name=Yearly Print Style
Name[af]=Druk styl: Jaarliks
Name[bg]=Стил за отпечатване на годишно разписание
Name[ca]=Estil d'impressió anual
Name[cs]=Roční tiskový styl
Name[da]=Yearly udskriftsstil
Name[de]=Jahres-Druckstil
Name[el]=Στυλ ετήσιας εκτύπωσης
Name[eo]=Pojara Presostilo
Name[es]=Estilo de impresión del diario
Name[et]=Aastakalendri trükkimise stiil
Name[fa]=سبک چاپ نشریه
Name[fr]=Impression annuelle
Name[fy]=Printstyl foar jierkalinder
Name[gl]=Estilo de impresión anual
Name[hu]=Éves naptár nyomtatási stílus
Name[is]=Ársyfirlitsprentstíll
Name[it]=Stile di stampa annuale
Name[ja]=年毎印刷スタイル
Name[kk]=Жылдық басу стилі
Name[km]=រចនាប័ទ្ម​បោះពុម្ព​ប្រចាំ​ឆ្នាំ
Name[lt]=Metų spausdinimo stilius
Name[nb]=Utskriftsstil for kalender
Name[nds]=Johrkalenner-Druckstil
Name[ne]=वार्षिक मुद्रण शैली
Name[nl]=Printstijl voor jaarkalender
Name[pl]=Styl drukowania roku
Name[pt]=Estilo de Impressão em Anuário
Name[pt_BR]=Estilo de Impressão de Calendário Anual
Name[ru]=Календарь на год
Name[sk]=Štýl tlače pre rok
Name[sl]=Letni slog tiskanja
Name[sr]=Годишњи стил штампе
Name[sr@Latn]=Godišnji stil štampe
Name[sv]=Årlig utskriftsstil
Name[tr]=Yıllık Yazdırma Stili
Name[uk]=Стиль друку щорічником
Name[zh_CN]=按年打印样式
Name[zh_TW]=年度列印風格
Comment=This plugin allows you to print out a yearly calendar.
Comment[af]=Hierdie inprop module maak dit moontlik om 'n kalender vir 'n hele jaar te druk.
Comment[bg]=Приставката служи за печат на годишния календар.
Comment[ca]=Aquest endollable us permet imprimir un calendari anual.
Comment[cs]=Tento modul umožňuje tisk ročního kalendáře.
Comment[da]=Dette plugin gør at du kan udskrive en årlig kalender
Comment[de]=Mit diesem Modul können Jahresübersichten gedruckt werden.
Comment[el]=Αυτό το πρόσθετο σας επιτρέπει να εκτυπώσετε ένα ετήσιο ημερολόγιο.
Comment[es]=Este plugin le permite imprimir entradas del diario.
Comment[et]=See plugin võimaldab trükkida terve aasta kalendri.
Comment[fa]=این وصله، به شما اجازه می‌دهد که مدخلهای نشریه )مدخلهای روزانه( را چاپ کنید.
Comment[fr]=Ce module vous permet d'imprimer l'ensemble de l'année
Comment[fy]=Dizze plugin makket it mooglik om in jierkalinder út te printsjen.
Comment[gl]=Este engadido permítelle imprimir un calendario anual.
Comment[hu]=Ez a modul egy egész éves naptár kinyomtatását teszi lehetővé.
Comment[is]=Þetta íforrit gerir þér kleyft að prenta út dagbókarfærslur fyrir allt árið.
Comment[it]=Questo plugin ti permette di stampare un calendario annuale.
Comment[ja]=このプラグインにより、年毎のカレンダーを印刷できるようになります。
Comment[kk]=Бұл жылдық күнтізбені басып шығаратын модулі.
Comment[km]=កម្មវិធី​ជំនួយ​នេះ​អនុញ្ញាត​ឲ្យ​អ្នក​បោះពុម្ព​​ប្រតិទិន​ប្រចាំ​ឆ្នាំ ។
Comment[lt]=Šis priedas leidžia spausdinti metų kalendorių.
Comment[mk]=Овој приклучок Ви овозможува да испечатите годишен календар.
Comment[nb]=Med dette programtillegget kan du skrive ut en årskalender.
Comment[nds]=Mit dit Moduul kannst Du en Kalenner för't hele Johr utdrucken.
Comment[ne]=यो प्लगइनले तपाईँलाई वार्षिक पात्रो मुद्रण गर्न अनुमति दिन्छ ।
Comment[nl]=Deze plugin maakt het mogelijk om een jaarkalender af te drukken.
Comment[pl]=Ta wtyczka pozwala drukować roczny kalendarz.
Comment[pt]=Este 'plugin' permite-lhe imprimir um calendário anual.
Comment[pt_BR]=Este plugin permite imprimir um calendário anual.
Comment[ru]=Этот модуль позволяет печатать календарь на год.
Comment[sk]=Tento modul vám umožní vytlačiť kalendár na rok.
Comment[sl]=Ta vstavek vam omogoča natis letnega koledarja.
Comment[sr]=Овај прикључак вам омогућава да одштампате годишњи календар.
Comment[sr@Latn]=Ovaj priključak vam omogućava da odštampate godišnji kalendar.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut en årlig kalender.
Comment[tr]=Bu eklenti, yıllık takvimi yazıcıdan çıkartmanızı sağlar.
Comment[uk]=Цей журнал надає можливість друкувати щорічний календар.
Comment[zh_CN]=此插件允许您打印年历。
Comment[zh_TW]=此外掛程式讓您印出年曆。
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
