[Desktop Entry]
X-KDE-Library=korg_yearprint
Name=Yearly Print Style
Name[de]=Jahres-Druckstil
Comment=This plugin allows you to print out a yearly calendar.
Comment[de]=Mit diesem Modul können Jahresübersichten gedruckt werden.
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
