[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_yearlyprint
Name=Yearly Print Style
Comment=This plugin allows you to print out a yearly calendar.
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
