[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_datenums
Name=Date Numbers Plugin for Calendars
Name[ca]=Connector de nombres de data per als calendaris
Name[da]=Datonumre-plugin for kalendere
Name[es]=Accesorio de números de fecha para calendarios
Name[et]=Kuupäeva nummerdamise plugin kalendritele
Name[xx]=xxDate Numbers Plugin for Calendarsxx
Type=Service
ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
