[Desktop Entry]
Icon=korg-todo
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_todosummary
X-KDE-FactoryName=todosummary
X-KDE-ParentApp=kontact_summaryplugin
X-KDE-ParentComponents=kontact_summaryplugin
X-KDE-CfgDlgHierarchy=KontactSummary
X-KDE-Weight=450

Name=Pending To-dos
Name[ar]=المهام التي في الإنتظار
Name[bs]=Očekivanje zadataka
Name[ca]=Pendents inacabades
Name[ca@valencia]=Pendents inacabades
Name[cs]=Nevyřízené úkoly
Name[da]=Forestående gøremål
Name[de]=Zu erledigende Aufgaben
Name[el]=Εκκρεμείς εργασίες προς υλοποίηση
Name[en_GB]=Pending To-dos
Name[es]=Tareas pendientes
Name[et]=Ootel ülesanded
Name[fi]=Tekemättömät tehtävät
Name[fr]=Tâches en cours
Name[ga]=Tascanna Le Déanamh
Name[gl]=Tarefas pendentes
Name[hu]=Feladatok a közeljövőben
Name[ia]=Cargas a facer non-finite
Name[it]=Cose da fare in scadenza
Name[ja]=未決 To-Do
Name[kk]=Кейінге қалдырылған жоспарлар
Name[km]=ការងារ​ត្រូវធ្វើ​ដែល​មិនទាន់​សម្រេច
Name[ko]=남아 있는 할 일
Name[lt]=Neatlikti darbai
Name[lv]=Darāmie darbi
Name[mr]=बाकी असलेली कार्ये
Name[nb]=Ventende gjøremål
Name[nds]=Anstahn Opgaven
Name[ne]=विचारधीन काम
Name[nl]=Openstaande taken
Name[nn]=Ufullførte oppgåver
Name[pa]=ਬਾਕੀ ਟੂ-ਡੂ
Name[pl]=Podsumowanie zadań
Name[pt]=Itens Por-Fazer Pendentes
Name[pt_BR]=Tarefas pendentes
Name[ro]=Activități în așteptare
Name[ru]=Выполняемые задачи
Name[sk]=Čakajúce úlohy
Name[sl]=Čakajoča opravila
Name[sr]=Наступајуће обавезе
Name[sr@ijekavian]=Наступајуће обавезе
Name[sr@ijekavianlatin]=Nastupajuće obaveze
Name[sr@latin]=Nastupajuće obaveze
Name[sv]=Väntande uppgifter
Name[th]=สิ่งที่ยังทำไม่เสร็จ
Name[tr]=Bekleyen Yapılacak Ögeleri
Name[ug]=بىر تەرەپ قىلىنمىغان قىلىدىغان ئىشلار(To-dos)
Name[uk]=Призначені завдання
Name[wa]=Afés co a fé
Name[x-test]=xxPending To-dosxx
Name[zh_CN]=未决的待办事项
Name[zh_TW]=未決定的待辦事項
Comment=Pending To-dos Summary Setup
Comment[ar]=تهيئة ملخص المهام التي في الإنتظار
Comment[bg]=Приставка за обобщен преглед на срещите и задачите
Comment[bs]=Postavke sadržaja očekivanih zadataka
Comment[ca]=Configuració del resum per a les pendents inacabades
Comment[ca@valencia]=Configuració del resum per a les pendents inacabades
Comment[cs]=Nastavení souhrnu nevyřízených úkolů
Comment[da]=Indstilling af oversigt over forestående gøremål
Comment[de]=Einstellung der Übersicht über zu erledigende Aufgaben
Comment[el]=Ρύθμιση σύνοψης των εκκρεμών εργασιών προς υλοποίηση
Comment[en_GB]=Pending To-dos Summary Setup
Comment[es]=Configuración del resumen de tareas pendientes
Comment[et]=Ootel ülesannete kokkuvõtte seadistus
Comment[fa]=برپایی خلاصه کارهایی که باید انجام شوند
Comment[fi]=Tekemättömien tehtävien yhteenvedon asetukset
Comment[fr]=Configuration du résumé des tâches en cours
Comment[ga]=Socrú Achoimre ar Thascanna Le Déanamh
Comment[gl]=Configuración do resumo de tarefas pendentes
Comment[hu]=A közelgő feladatok áttekintőjének beállítása
Comment[ia]=Preferentias de summarisar cargas a facer non-finite
Comment[it]=Impostazioni sommario cose da fare in scadenza
Comment[ja]=未決 To-Do の要約設定
Comment[kk]=Кейінге қалдырылған істер мазмұндамасын баптау
Comment[km]=ការ​រៀបចំ​សេចក្ដីសង្ខេបការងារ​​ធ្វើ​ដែល​មិន​ទាន់សម្រេច
Comment[ko]=남아 있는 할 일 요약 설정
Comment[lt]=Neatliktų darbų santraukos nustatymai
Comment[lv]=Darbu kopsavilkuma iestatījumi
Comment[mr]=बाकी असलेली कार्ये सारांश संयोजना
Comment[nb]=Oppsett av sammendraget av ventende gjøremål
Comment[nds]=De Översicht för anstahn Opgaven instellen
Comment[ne]=विचारधीन काम सारांश सेटअप
Comment[nl]=Overzichtsinstellingen voor openstaande taken
Comment[nn]=Oppsett av oppgåvesamandrag
Comment[pl]=Ustawienia podsumowania zadań
Comment[pt]=Configuração do Resumo dos Itens Por-Fazer Pendentes
Comment[pt_BR]=Configuração do resumo de tarefas pendentes
Comment[ro]=Configurare Sumar activități în așteptare
Comment[ru]=Настройка дайджеста выполняемых задач
Comment[sk]=Súhrnné nastavenie čakajúcich úloh
Comment[sl]=Nastavitve povzetka čakajočih opravil
Comment[sr]=Подешавање сажетка наступајућих обавеза
Comment[sr@ijekavian]=Подешавање сажетка наступајућих обавеза
Comment[sr@ijekavianlatin]=Podešavanje sažetka nastupajućih obaveza
Comment[sr@latin]=Podešavanje sažetka nastupajućih obaveza
Comment[sv]=Inställning av översikt över väntande uppgifter
Comment[th]=ตั้งค่าส่วนสรุปสิ่งที่ยังทำไม่เสร็จ
Comment[tr]=Bekleyen Yapılacak Ögeleri Özet Yapılandırması
Comment[uk]=Зведення налаштування призначених завдань
Comment[wa]=Apontiaedje do racourti des afés co a fé
Comment[x-test]=xxPending To-dos Summary Setupxx
Comment[zh_CN]=未决待办事项摘要设置
Comment[zh_TW]=未決定的待辦事項摘要設定
X-KDE-Keywords=calendar, todos, configure, settings
X-KDE-Keywords[bs]=kalendar, zadaci , konfigurirati,  postavke
X-KDE-Keywords[ca]=calendari, pendents, configura, arranjament
X-KDE-Keywords[ca@valencia]=calendari, pendents, configura, arranjament
X-KDE-Keywords[da]=kalender, gøremål, indstil, indstillinger
X-KDE-Keywords[de]=Kalender,Aufgaben,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen
X-KDE-Keywords[el]=ημερολόγιο, εργασίες, διαμόρφωση, ρυθμίσεις
X-KDE-Keywords[en_GB]=calendar, todos, configure, settings
X-KDE-Keywords[es]=calendario, tareas pendientes, configurar, preferencias
X-KDE-Keywords[et]=kalender, ülesanded, seadistamine, seadistused
X-KDE-Keywords[fi]=calendar, kalenteri, todos, tehtävät, configure, settings, asetukset
X-KDE-Keywords[fr]=agenda,tâches,configuration,paramètres
X-KDE-Keywords[ga]=féilire, tascanna, cumraigh, socruithe
X-KDE-Keywords[gl]=calendario,tarefas,configurar,opcións
X-KDE-Keywords[hu]=naptár, feladatok, beállítás, beállítások
X-KDE-Keywords[ia]=calendario,cosas de facer, configura, preferentias
X-KDE-Keywords[it]=calendario, cose da fare, configurazione, impostazioni
X-KDE-Keywords[kk]=calendar, todos, configure, settings
X-KDE-Keywords[km]=ប្រតិទិន កិច្ចការ​ត្រូវ​ធ្វើ កំណត់​រចនាសម្ព័ន្ធ កំណត់
X-KDE-Keywords[lt]=kalendorius, darbai, konfigūruoti, nustatymai
X-KDE-Keywords[mr]=दिनदर्शिका, कार्ये, संयोजना, संयोजना
X-KDE-Keywords[nb]=kalender, gjøremål, oppsett. innstillinger
X-KDE-Keywords[nds]=Kalenner,Opgaven,instellen,inrichten
X-KDE-Keywords[nl]=agenda, taken, instellen, instellingen
X-KDE-Keywords[pl]=kalendarz, do zrobienia, konfiguruj, ustawienia
X-KDE-Keywords[pt]=calendário,por-fazer,configurar,configuração
X-KDE-Keywords[pt_BR]=calendário,a fazeres,configurar,configuração
X-KDE-Keywords[ru]=calendar,todos,configure,settings,настройка,календарь,задачи,настроить
X-KDE-Keywords[sk]=kalendár, úlohy, nastaviť, nastavenia
X-KDE-Keywords[sl]=koledar,za narediti,nastavi,nastavitve
X-KDE-Keywords[sr]=calendar,todos,configure,settings,календар,обавезе,подесити,подешавање,поставке
X-KDE-Keywords[sr@ijekavian]=calendar,todos,configure,settings,календар,обавезе,подесити,подешавање,поставке
X-KDE-Keywords[sr@ijekavianlatin]=calendar,todos,configure,settings,kalendar,obaveze,podesiti,podešavanje,postavke
X-KDE-Keywords[sr@latin]=calendar,todos,configure,settings,kalendar,obaveze,podesiti,podešavanje,postavke
X-KDE-Keywords[sv]=kalender, uppgifter, anpassa, inställningar
X-KDE-Keywords[tr]=takvim, yapılacaklar, yapılandır, ayarlar
X-KDE-Keywords[uk]=calendar,todos,configure,settings,календар,завдання,задача,задачі,налаштувати,налаштування,параметри
X-KDE-Keywords[wa]=calindrî, afés, apontyî, apontiaedje, tchuzes, apontiaedjes
X-KDE-Keywords[x-test]=xxcalendarxx,xx todosxx,xx configurexx,xx settingsxx
X-KDE-Keywords[zh_CN]=calendar, todos, configure, settings, 日历, 待办事宜, 配置, 设置
X-KDE-Keywords[zh_TW]=calendar, todos, configure, settings
