[Desktop Entry]
Type=Service
Icon=korg-todo
X-KDE-ServiceTypes=Kontact/Plugin

X-KDE-Library=kontact_todoplugin
X-KDE-KontactPluginVersion=10
X-KDE-KontactPartLibraryName=korganizerpart
X-KDE-KontactPartExecutableName=korganizer
X-KDE-KontactPluginHasSummary=true

X-KDE-PluginInfo-Website=http://korganizer.kde.org
X-KDE-PluginInfo-Name=kontact_todoplugin
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Comment=Kontact KOrganizer To-do List Plugin
Comment[af]=Kontact KOrganizer te-doen lys inprop module
Comment[ar]=ملحق قائمة مهام المنظم Kontact 
Comment[bg]=Приставка за списък със задачи и връзка с KOrganizer
Comment[bs]=Kontakt KOrganizer liste zadataka Dodatak
Comment[ca]=Connector de la llista de pendents del KOrganizer pel Kontact
Comment[ca@valencia]=Connector de la llista de pendents del KOrganizer pel Kontact
Comment[cs]=Modul úkolů KOrganizeru pro aplikaci Kontact
Comment[da]=Kontact KOrganizer gøremålsliste-plugin
Comment[de]=Kontact KOrganizer-Aufgabenlisten-Modul
Comment[el]=Πρόσθετο του Kontact για την λίστα προς υλοποίηση του KOrganizer
Comment[en_GB]=Kontact KOrganizer To-do List Plugin
Comment[eo]=Kontact-KOrganizilo-farendaĵlistkromaĵo
Comment[es]=Complemento de tareas pendientes de KOrganizer para Kontact
Comment[et]=Kontacti KOrganizeri ülesannete nimekirja plugin
Comment[eu]=Kontact-en KOrganizer-en egitekoen plugin-a
Comment[fa]=وصله فهرست کارهای انجامی Kontact KOrganizer
Comment[fi]=Tehtäväluetteloliitännäinen
Comment[fr]=Module de liste des tâches de KOrganizer pour Kontact
Comment[fy]=Kontact KOrganizer takenlijstplugin
Comment[ga]=Breiseán Tascliosta KOrganizer le haghaidh Kontact
Comment[gl]=Engadido de tarefas pendentes para o KOrganizer do Kontact
Comment[hu]=Kontact-bővítőmodul a KOrganizer feladatlistához
Comment[ia]=Plug-in del lista de cargas de Kontact KOrganizer
Comment[is]=Kontact KOrganizer verkþátta íforrit
Comment[it]=Estensione per Kontact della lista delle cose da fare di KOrganizer
Comment[ja]=Kontact KOrganizer To-Do リストプラグイン
Comment[ka]=Kontact KOrganizer დავალებათა მოდული
Comment[kk]=Kontact-тың KOrganizer істер тізімінің плагині
Comment[km]=កម្មវិធី​ជំនួយ​បញ្ជី​ការងារ​ត្រូវ​ធ្វើ​របស់ KOrganizer ក្នុង Kontact
Comment[ko]=Kontact KOrganizer 할 일 목록 플러그인
Comment[lt]=Kontact KOrganizer darbų sąrašo įskiepis
Comment[lv]=Kontact KOrganizer darbu saraksta spraudnis
Comment[mr]=कॉन्टेक्ट के-ऑर्गनायझर कार्य यादी प्लगइन
Comment[ms]=Plugin Senarai Tugasan KOrganizer Kontact 
Comment[nb]=Kontact programtillegg for KOrganizer gjøreliste
Comment[nds]=KOrganizer-Opgavenlistmoduul för Kontact
Comment[ne]=गर्नुपर्ने कार्यसूची प्लगइन गर्न केडीई आयोजकलाई सम्पर्क गर्नुहोस्
Comment[nl]=Kontact KOrganizer takenlijstplug-in
Comment[nn]=Kontakt-programtillegg for KOrganizer-hugselister
Comment[pl]=Wtyczka Kontact do współpracy z listą zadań KOrganizera
Comment[pt]='Plugin' de Itens Por-Fazer do KOrganizer para o Kontact
Comment[pt_BR]=Plugin de lista de tarefas do KOrganizer para o Kontact
Comment[ru]=Задачи
Comment[sk]=KOrganizer modul zoznamu úloh pre Kontact
Comment[sl]=Vstavek opravil KOrganizerja za Kontact
Comment[sr]=Прикључак Контакта за К‑организаторову списак обавеза
Comment[sr@ijekavian]=Прикључак Контакта за К‑организаторову списак обавеза
Comment[sr@ijekavianlatin]=Priključak Kontacta za K‑organizatorovu spisak obaveza
Comment[sr@latin]=Priključak Kontacta za K‑organizatorovu spisak obaveza
Comment[sv]=Kontact-insticksprogram för Korganizers uppgiftslista
Comment[ta]=கேஅமைப்பாளர் செய்யவேண்டிய பட்டியல் சொருகுப்பொருளை தொடர்புகொள்
Comment[tr]=Kontact KOrganizer Yapılacaklar Listesi Eklentisi
Comment[uk]=Додаток списку завдань KOrganizer для Kontact
Comment[wa]=Module Djivêye des afés KOrganizer di Kontact
Comment[x-test]=xxKontact KOrganizer To-do List Pluginxx
Comment[zh_CN]=Kontact KOrganizer 待办清单插件
Comment[zh_TW]=Kontact KOrganizer 待辦事項外掛程式
Name=To-do List
Name[af]=Te-doen lys
Name[ar]=قائمة المهام
Name[bg]=To-do List
Name[br]=Roll an traoù d'ober
Name[bs]=Lista zadataka
Name[ca]=Llista de pendents
Name[ca@valencia]=Llista de pendents
Name[cs]=Seznam úkolů
Name[cy]=Rhestr I'w-Wneud
Name[da]=Gøremålsliste
Name[de]=Aufgaben
Name[el]=Λίστα προς υλοποίηση
Name[en_GB]=To-do List
Name[eo]=Farendaĵlisto
Name[es]=Lista de tareas pendientes
Name[et]=Ülesanded
Name[eu]=Egitekoen zerrenda
Name[fa]=فهرست کارهای انجامی
Name[fi]=Tehtäväluettelo
Name[fr]=Tâches
Name[fy]=Takenlist
Name[ga]=Tascliosta
Name[gl]=Lista de tarefas pendentes
Name[he]=רשימת מטלות
Name[hu]=Feladatok
Name[ia]=Lista de cargas
Name[is]=Verkþættir
Name[it]=Lista cose da fare
Name[ja]=To-Do リスト
Name[ka]=დავალებანი
Name[kk]=Істер тізімі
Name[km]=បញ្ជី​ការងារ​ត្រូវ​ធ្វើ
Name[ko]=할 일 목록
Name[lt]=Darbai
Name[lv]=Darbu saraksts
Name[mr]=कार्य यादी
Name[ms]=Senarai Tugasan
Name[nb]=Gjøreliste
Name[nds]=Opgavenlist
Name[ne]=गर्नुपर्ने कार्य सूची
Name[nl]=Takenlijst
Name[nn]=Hugseliste
Name[pa]=ਟੂ-ਡੂ ਲਿਸਟ
Name[pl]=Lista zadań
Name[pt]=Lista de Itens Por-Fazer
Name[pt_BR]=Lista de tarefas
Name[ro]=Listă de activități
Name[ru]=Задачи
Name[sk]=Zoznam úloh
Name[sl]=Seznam opravil
Name[sr]=Списак обавеза
Name[sr@ijekavian]=Списак обавеза
Name[sr@ijekavianlatin]=Spisak obaveza
Name[sr@latin]=Spisak obaveza
Name[sv]=Uppgiftslista
Name[ta]=செய்யவேண்டிய பட்டியல்
Name[th]=รายการสิ่งที่จะทำ
Name[tr]=Yapılacaklar Listesi
Name[ug]=قىلىدىغان ئىش تىزىمى
Name[uk]=Список завдань
Name[uz]=Vazifalar
Name[uz@cyrillic]=Вазифалар
Name[wa]=Djivêye des afés
Name[x-test]=xxTo-do Listxx
Name[zh_CN]=待办清单
Name[zh_TW]=待辦事項清單
