[Desktop Entry]
Name=KOrganizer Part Interface
Name[ar]=واجهة جزء برنامج المنظم
Name[bs]=Dio Sučelja KOrganizatora
Name[ca]=Interfície de part del KOrganizer
Name[ca@valencia]=Interfície de part del KOrganizer
Name[cs]=Rozhraní komponenty KOrganizeru
Name[da]=Grænseflade til KOrganizer Part
Name[de]=KOrganizer-Komponenten-Schnittstelle
Name[el]=Διασύνδεση KOrganizer Part
Name[en_GB]=KOrganizer Part Interface
Name[es]=Interfaz de parte de KOrganizer
Name[et]=KOrganizeri komponendi liides
Name[fi]=KOrganizer-osaliittymä
Name[fr]=Interface de composant KOrganizer
Name[ga]=Comhéadan Comhpháirte KOrganizer
Name[gl]=Interface da Parte KOrganizer
Name[hu]=KOrganizer objektumfelület
Name[ia]=Interfacie pro parte de KOrganizer
Name[it]=Interfaccia del componente di KOrganizer
Name[ja]=KOrganizer コンポーネントのインターフェース
Name[kk]=KOrganizer бөлшегінің интерфейсі
Name[km]=ចំណុច​ប្រទាក់​ផ្នែក​របស់ KOrganizer
Name[ko]=KOrganizer 부분 인터페이스
Name[lt]=KOrganizer dalies sąsaja
Name[lv]=KOrganizer daļas saskarne
Name[mr]=के-ऑर्गनायझर पार्ट संवाद
Name[nb]=KOrganizer Part-grensesnitt
Name[nds]=KOrganizer-Komponent-Koppelsteed
Name[nl]=KOrganizer-componentuiterlijk
Name[nn]=Grensesnitt til KOrganizer-del
Name[pa]=ਕੇ-ਪਰਬੰਧਕ ਭਾਗ ਇੰਟਰਫੇਸ
Name[pl]=Moduł interfejsu KOrganizera
Name[pt]=Interface de Componente do KOrganizer
Name[pt_BR]=Interface do componente do KOrganizer
Name[ro]=Interfață Componentă KOrganizer
Name[ru]=Компонент органайзера
Name[sk]=Rozhranie KOrganizer Part
Name[sl]=KOrganizerjev vmesnik za Dele
Name[sr]=Сучеље К‑организатора дела
Name[sr@ijekavian]=Сучеље К‑организатора дијела
Name[sr@ijekavianlatin]=Sučelje K‑organizatora dijela
Name[sr@latin]=Sučelje K‑organizatora dela
Name[sv]=Korganizers delgränssnitt
Name[tr]=KOrganizer Part Arayüzü
Name[uk]=Інтерфейс складової KOrganizer
Name[wa]=Eterface di KOrganizer Part
Name[x-test]=xxKOrganizer Part Interfacexx
Name[zh_CN]=KOrganizer 部件界面
Name[zh_TW]=KOrganizer 組件介面
Type=ServiceType
X-KDE-ServiceType=KOrganizer/Part
Comment=KOrganizer Part
Comment[af]=Korganizer Deel
Comment[ar]=جزء برنامج المنظم
Comment[bg]=Модул KOrganizer
Comment[br]=Perzh KOrganizer
Comment[bs]=Dio KOrganizatora
Comment[ca]=Part de KOrganizer
Comment[ca@valencia]=Part de KOrganizer
Comment[cs]=KOrganizer Part
Comment[cy]=KTrefnydd Part
Comment[da]=KOrganizer Part
Comment[de]=KOrganizer-Komponente
Comment[el]=KOrganizer Part
Comment[en_GB]=KOrganizer Part
Comment[eo]=Organizilo-parto
Comment[es]=Parte de KOrganizer
Comment[et]=KOrganizeri komponent
Comment[eu]=KOrganizer zatia
Comment[fa]=بخش KOrganizer
Comment[fi]=KOrganizer-osa
Comment[fr]=Composant KOrganizer
Comment[fy]=KOrganizer Part
Comment[ga]=Comhpháirt KOrganizer
Comment[gl]=Parte KOrganizer
Comment[he]=רכיב KOrganizer
Comment[hr]=KOrganizer komponenta
Comment[hu]=KOrganizer objektum
Comment[ia]=Parte pro KOrganizer
Comment[is]=KOrganizer hluti
Comment[it]=Componente di KOrganizer
Comment[ja]=KOrganizer コンポーネント
Comment[ka]=KOrganizer კომპონენტი
Comment[kk]=KOrganizer бөлшегі
Comment[km]=ផ្នែក​របស់ KOrganizer
Comment[ko]=KOrganizer 부분
Comment[lt]=KOrganizer dalis
Comment[lv]=KOrganizer daļa
Comment[mk]=Дел од КОрганизатор
Comment[mr]=के-ऑर्गनायझर पार्ट
Comment[ms]=Bahagian KOrganizer
Comment[nb]=KOrganizer Part
Comment[nds]=KOrganizer-Komponent
Comment[ne]=केडीई आयोजक भाग
Comment[nl]=KOrganizer-component
Comment[nn]=KOrganizer-del
Comment[pa]=ਕੇ-ਪਰਬੰਧਕ ਭਾਗ
Comment[pl]=Moduł KOrganizera
Comment[pt]=Componente do KOrganizer
Comment[pt_BR]=Componente do KOrganizer
Comment[ro]=Componentă KOrganizer
Comment[ru]=Компонент органайзера
Comment[se]=KOrganizer-oassi
Comment[sk]=Part KOrganizer
Comment[sl]=Del KOrganizerja
Comment[sr]=К‑организатор део
Comment[sr@ijekavian]=К‑организатор дио
Comment[sr@ijekavianlatin]=K‑organizator dio
Comment[sr@latin]=K‑organizator deo
Comment[sv]=Korganizer-del
Comment[ta]=கேஅமைப்பாளர் பகுதி
Comment[tg]=Қисмати органайзер
Comment[tr]=KOrganizer Parçası
Comment[uk]=Складова KOrganizer
Comment[vi]=KOrganizer Part
Comment[wa]=KOrganizer Part
Comment[xh]=Indawana yeKOrganizer
Comment[x-test]=xxKOrganizer Partxx
Comment[zh_CN]=KOrganizer 部件
Comment[zh_TW]=KOrganizer 組件

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
