[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_journalprint
Name=Journal Print Style
Name[da]=Journal udskriftsstil
Name[de]=Journal Druckstil
Name[es]=Estilo de impresión del diario
Name[et]=Päeviku trükkimise stiil
Name[fr]=Impression en journal
Name[hu]=Naplónyomtatási stílus
Name[it]=Stile di stampa a diario
Name[nl]=Printstijl voor journaals
Name[nn]=Utskriftsstil for dagbok
Name[pl]=Styl drukowania dziennika
Name[pt]=Estilo de Impressão em Diário
Name[pt_BR]=Estilo de Impressão de Diário
Name[ru]=Стиль печати журнала
Name[sl]=Dnevniški slog tiskanja
Name[sv]=Journal-utskriftsstil
Name[uk]=Стиль друку журналом
Name[zh_CN]=日记打印样式
Comment=This plugin allows you to print out journal entries (diary entries).
Comment[bg]=Приставката служи за печат на дневника.
Comment[da]=Dette plugin gør at du kan udskrive journalindgange (dagbogsindgange).
Comment[de]=Mit diesem Plugin können Journaleinträge (Tagebucheinträge) gedruckt werden.
Comment[es]=Esta extensión le permite imprimir entradas del diario.
Comment[et]=See plugin võimaldab trükkida päeviku sissekandeid.
Comment[fr]=Ce module vous permet d'imprimer l'ensemble de vos journaux personnels
Comment[hu]=Ez a modul naplóbejegyzések kinyomtatását teszi lehetővé.
Comment[it]=Questo plugin ti permette di stampare le registrazioni del diario.
Comment[nl]=Deze plugin maakt het mogelijk om journalen uit te printen (dagboekitems).
Comment[nn]=Dette programtillegget lèt deg skriva ut dagboksoppføringar.
Comment[pl]=Ta wtyczka pozwala drukować wpisy dziennika.
Comment[pt]=Este diário permite-lhe imprimir os itens de diário.
Comment[pt_BR]=Esse estilo lhe permite imprimir entradas de diário
Comment[ru]=Этот модуль позволяет печатать журнал в виде дневника.
Comment[sl]=Ta vstavek vam omogoča natis vnosov v dnevnik.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut journalanteckningar (dagboksanteckningar).
Comment[uk]=Цей журнал надає можливість друкувати записи журналу (записи щоденника).
Comment[zh_CN]=此插件允许您打印日记项目。
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
