[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_journalprint
Name=Journal Print Style
Name[x-test]=xxJournal Print Stylexx
Comment=This plugin allows you to print out journal entries (diary entries).
Comment[x-test]=xxThis plugin allows you to print out journal entries (diary entries).xx
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
