[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_journalprint
Name=Journal print style
Name[da]=Journal udskriftsstil
Name[es]=Estilo de impresión del diario
Name[et]=Žurnaali trükkimise stiil
Name[fr]=Impression en journal
Name[pt]=Estilo de impressão em diário
Name[pt_BR]=Estilo de impressão em diário
Name[ru]=Печать журнала
Name[sv]=Journal-utskriftsstil
Name[tr]=Günlük yazdırma biçemi
Name[uk]=Стиль друку журналу
Comment=This journal allows you to print out journal entries (diary entries).
Comment[bg]=Приставката служи за печат на дневника.
Comment[da]=Dette plugin gør at du kan udskrive journalindgange (dagbogsindgange).
Comment[es]=Puede imprimir entradas del diario.
Comment[et]=See plugin võimaldab trükkida žurnaali kirjeid.
Comment[fr]=Ce journal vous permet d'imprimer l'ensemble de vos journaux personnels
Comment[nl]=Dit journaal maakt het mogelijk om journalen uit te printen (dagboekitems).
Comment[pt]=Este diário permite-lhe imprimir os itens de diário.
Comment[pt_BR]=Este diário permite-lhe imprimir os itens de diário.
Comment[ru]=Этот модуль позволяет печатать записи журнала в виде дневников.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut journalanteckningar (dagboksanteckningar).
Comment[tr]=Dışarıda günlük girişlerini yazmak için bu günlük size izin verir (hatıra defteri girişleri)
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
