[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=korganizer/preferences.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korgdesignerfields
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=800

Name=Custom Pages
Name[af]=Pasmaak Blaaie
Name[bg]=Потребителски полета
Name[br]=Pajennoù dre ziouer
Name[ca]=Pàgines a mida
Name[cs]=Vlastní stránky
Name[da]=Brugervalgte sider
Name[de]=Benutzerdefinierte Seiten
Name[el]=Προσαρμοσμένες σελίδες
Name[eo]=Propraj Paĝoj
Name[es]=Páginas personalizadas
Name[et]=Omaloodud leheküljed
Name[eu]=Orri pertsonalizatuak
Name[fa]=صفحات سفارشی
Name[fi]=Omat sivut
Name[fr]=Pages personnalisées
Name[fy]=Oanpaste siden
Name[ga]=Leathanaigh Shaincheaptha
Name[gl]=Páxinas Personalizadas
Name[he]=דפים מותאמים אישית
Name[hu]=Egyéni lapok
Name[is]=Sérsniðnar síður
Name[it]=Pagine personalizzate
Name[ja]=カスタムページ
Name[ka]=სამომხმარებლო გვერდები
Name[kk]=Қосымша парақтар
Name[km]=ទំព័រ​ផ្ទាល់​ខ្លួន
Name[ko]=사용자 정의 페이지
Name[lt]=Pasirinkti puslapiai
Name[lv]=Pielāgotas lapas
Name[mk]=Сопствени страници
Name[ms]=Halaman Kebiasaan 
Name[nb]=Tilpassede sider
Name[nds]=Egen Sieden
Name[ne]=अनुकूल पृष्ठ
Name[nl]=Aangepaste pagina's
Name[nn]=Tilpassa sider
Name[pa]=ਕਸਟਮ ਪੇਜ਼
Name[pl]=Własne strony
Name[pt]=Páginas Personalizadas
Name[pt_BR]=Páginas personalizadas
Name[ro]=Pagini personalizate
Name[ru]=Дополнительные поля
Name[se]=Iežat siiddut
Name[sk]=Vlastné stránky
Name[sl]=Prilagojene strani
Name[sv]=Egna sidor
Name[ta]=தனிபயன் பக்கங்கள்
Name[tg]=Варақаҳои замимавии истифодашаванда
Name[th]=หน้ากำหนดเอง
Name[tr]=Özel Sayfa
Name[uk]=Нетипові сторінки
Name[x-test]=xxCustom Pagesxx
Name[zh_CN]=定制页
Comment=Configure the Custom Pages
Comment[af]=Stel die pasmaak blaaie op
Comment[bg]=Настройки на потребителските полета
Comment[br]=Kefluniañ ar pajennoù diouzhoc'h
Comment[ca]=Configura les pàgines a mida
Comment[cs]=Nastavení vlastních stránek
Comment[da]=Indstil de selvvalgte sider
Comment[de]=Einstellungen für benutzerdefinierte Seiten
Comment[el]=Ρύθμιση των προσαρμοσμένων σελίδων
Comment[eo]=Agordi la proprajn paĝojn
Comment[es]=Configurar las páginas personalizadas
Comment[et]=Omaloodud lehekülgede seadistamine
Comment[eu]=Konfiguratu orri pertsonalizatuak
Comment[fa]=پیکربندی صفحات سفارشی
Comment[fi]=Muokkaa omia sivuja
Comment[fr]=Configurer les pages personnalisées
Comment[fy]=Hjir kinne jo de oanpaste siden ynstelle
Comment[ga]=Cumraigh na Leathanaigh Shaincheaptha
Comment[gl]=Configurar as Páxinas Personalizadas
Comment[he]=הגדר את הדפים המותאמים אישית
Comment[hu]=Az egyéni lapok beállítása
Comment[is]=Stilla sérsniðnu síðurnar
Comment[it]=Configura le pagine personalizzate
Comment[ja]=カスタムページの設定
Comment[ka]=სამომხმარებლო გვერდების კონფიგურაცია
Comment[kk]=Қосымша парақтарды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ទំព័រ​ផ្ទាល់​ខ្លួន
Comment[ko]=사용자 정의 페이지 설정
Comment[lt]=Konfigūruoti darbastalių skaičių ir pavadinimus
Comment[lv]=Konfigurēt pielāgotās lapas
Comment[mk]=Конфигурирајте ги сопствените страници
Comment[ms]=Konfigurkan Halaman Langganan 
Comment[nb]=Stille inn de tilpassede sidene
Comment[nds]=Egen Sieden instellen
Comment[ne]=अनुकूल पृष्ठ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de aangepaste pagina's instellen
Comment[nn]=Set opp dei tilpassa sidene
Comment[pa]=ਕਸਟਮ ਪੇਜ਼ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja własnych stron
Comment[pt]=Configurar as Páginas Personalizadas
Comment[pt_BR]=Configurar páginas personalizadas
Comment[ro]=Configurează paginile personalizate
Comment[ru]=Настройка пользовательских вкладок
Comment[se]=Heivet iežat siidduid
Comment[sk]=Nastavenie vlastných stránok
Comment[sl]=Nastavi prilagojene strani
Comment[sv]=Anpassa egna sidor
Comment[ta]=தனிபயன் பக்கங்களை கட்டமை
Comment[tg]=Танзимоти варақаҳои замимавии истифодашаванда
Comment[th]=ปรับแต่งหน้ากำหนดเอง
Comment[tr]=Özel Sayfaları Yapılandır
Comment[uk]=Налаштування нетипових сторінок
Comment[x-test]=xxConfigure the Custom Pagesxx
Comment[zh_CN]=配置定制页
Comment[zh_TW]=設定 Custom Pages
X-KDE-Keywords=korganizer, configure, settings, custom fields
X-KDE-Keywords[bg]=X-KDE-Keywords=организатор, настройки, korganizer, configure, settings, custom fields
X-KDE-Keywords[ca]=korganizer, configura, opcions, camps a mida
X-KDE-Keywords[cs]=korganizer,nastavení,vlastní pole
X-KDE-Keywords[da]=korganizer, indstil, opsætning, brugervalgte felter
X-KDE-Keywords[de]=KOrganizer,konfigurieren,Einstellungen,benutzerdefinierte Felder
X-KDE-Keywords[el]=korganizer, ρύθμιση, ρυθμίσεις, προσαρμοσμένα πεδία
X-KDE-Keywords[es]=korganizer, configurar, opciones, campos personalizados
X-KDE-Keywords[et]=korganizer, seadistamine, seadistused, omaloodud väljad
X-KDE-Keywords[eu]=korganizer, konfiguratu, ezarpenak, eremu pertsonalizatuak
X-KDE-Keywords[fa]=korganizer، پیکربندی، تنظیمات، حوزه‌های سفارشی
X-KDE-Keywords[fi]=kaddressbook, aseta, asetukset,omat kentät
X-KDE-Keywords[fr]=KOrganizer, configuration, configurer, champs personnalisés
X-KDE-Keywords[fy]=X-KDE-Keywords=korganizer, configuratie, instellingen, ynstellings, oanpaste fjilden, aangepaste velden
X-KDE-Keywords[ga]=korganizer, cumraigh, socruithe, réimsí saincheaptha
X-KDE-Keywords[gl]=korganizer, configurar, opcións, campos personalizados
X-KDE-Keywords[he]=korganizer, configure, settings, custom fields, הגדרות, תצורה, שדות, מותאמים אישית
X-KDE-Keywords[hu]=korganizer,beállítás,beállítások,egyéni mezők
X-KDE-Keywords[is]=korganizer, stillingar, stilla, sérsniðnir reitir
X-KDE-Keywords[it]=korganizer, configura, impostazioni, campi personalizzati
X-KDE-Keywords[ja]=korganizer、設定、設定,カスタムフィールド
X-KDE-Keywords[ka]=korganizer, კონფიგურაცია,პარამეტრები,სამომხმარებლო ველები
X-KDE-Keywords[km]=korganizer,កំណត់​រចនាសម្ព័ន្ធ,ការ​កំណត់,វាល​ផ្ទាល់​ខ្លួន
X-KDE-Keywords[lt]=korganizer, configure, settings, custom fields, konfigūruoti, nustatymai, pasirinkti laukai
X-KDE-Keywords[mk]=korganizer, configure, settings, custom fields, корганизатор, конфигурација, конфигурирање, поставувања, сопствени полиња
X-KDE-Keywords[ms]=korganizer, konfigur, seting, medan kebiasaan
X-KDE-Keywords[nb]=kaddressbook, sette opp, innstillinger, tilpassede felter
X-KDE-Keywords[nds]=KOrganizer,Instellen,egen Feller
X-KDE-Keywords[ne]=केडीई आयोजक, कन्फिगर, सेटिङ, अनुकूल फाँट
X-KDE-Keywords[nl]=korganizer, configuratie, instellingen, aangepaste velden
X-KDE-Keywords[pl]=korganizer,konfiguracja,ustawienia,własne pola
X-KDE-Keywords[pt]=korganizer, configurar, configuração, campos personalizados
X-KDE-Keywords[pt_BR]=korganizer,configurar,configurações, campos personalizados
X-KDE-Keywords[ru]=korganizer, configure, settings, custom fields, настройка, органайзер
X-KDE-Keywords[sl]=korganizer, nastavi, nastavitve, prilagojena polja
X-KDE-Keywords[sr]=korganizer, configure, settings, custom fields, подешавање, посебна поља
X-KDE-Keywords[sr@latin]=korganizer, configure, settings, custom fields, podešavanje, posebna polja
X-KDE-Keywords[sv]=korganizer,anpassa,inställningar,egna fält
X-KDE-Keywords[ta]=கேஅமைப்பாளர், வடிவமைப்பு,  அமைப்புகள், தனிபயன் புலங்கள்
X-KDE-Keywords[tr]=korganizer, yapılandır, yapılandırma, özel alanlar
X-KDE-Keywords[uk]=korganizer, configure, settings, custom fields, налаштування, параметри, нетипові поля
X-KDE-Keywords[x-test]=xxkorganizer, configure, settings, custom fieldsxx
