[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=korganizer/preferences.html

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korgdesignerfields
X-KDE-ParentApp=kcontactmanager
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=800
X-DocPath=korganizer/index.html#config

Name=Custom Pages
Name[af]=Pasmaak Blaaie
Name[ar]=صفحات مخصصة
Name[bg]=Потребителски полета
Name[br]=Pajennoù dre ziouer
Name[bs]=Korisničke stranice
Name[ca]=Pàgines a mida
Name[ca@valencia]=Pàgines a mida
Name[cs]=Vlastní stránky
Name[da]=Brugervalgte sider
Name[de]=Benutzerdefinierte Seiten
Name[el]=Προσαρμοσμένες σελίδες
Name[en_GB]=Custom Pages
Name[eo]=Propraj Paĝoj
Name[es]=Páginas personalizadas
Name[eu]=Orri pertsonalizatuak
Name[fa]=صفحات سفارشی
Name[fi]=Omat sivut
Name[fr]=Pages personnalisées
Name[fy]=Oanpaste siden
Name[ga]=Leathanaigh Shaincheaptha
Name[gl]=Páxinas personalizadas
Name[he]=דפים מותאמים אישית
Name[hu]=Egyéni lapok
Name[ia]=Paginas personalisate
Name[is]=Sérsniðnar síður
Name[it]=Pagine personalizzate
Name[ja]=カスタムページ
Name[ka]=სამომხმარებლო გვერდები
Name[kk]=Өзгеше парақтар
Name[km]=ទំព័រ​ផ្ទាល់​ខ្លួន
Name[ko]=사용자 정의 페이지
Name[lt]=Pasirinkti puslapiai
Name[lv]=Pielāgotas lapas
Name[mk]=Сопствени страници
Name[mr]=ऐच्छिक पाने
Name[ms]=Halaman Kebiasaan 
Name[nb]=Tilpassede sider
Name[nds]=Egen Sieden
Name[ne]=अनुकूल पृष्ठ
Name[nl]=Aangepaste pagina's
Name[nn]=Tilpassa sider
Name[pa]=ਕਸਟਮ ਪੇਜ਼
Name[pl]=Własne strony
Name[pt]=Páginas Personalizadas
Name[pt_BR]=Páginas personalizadas
Name[ro]=Pagini personalizate
Name[ru]=Дополнительные поля
Name[se]=Iežat siiddut
Name[sk]=Vlastné stránky
Name[sl]=Prilagojene strani
Name[sr]=Посебне странице
Name[sr@ijekavian]=Посебне странице
Name[sr@ijekavianlatin]=Posebne stranice
Name[sr@latin]=Posebne stranice
Name[sv]=Egna sidor
Name[ta]=தனிபயன் பக்கங்கள்
Name[tg]=Варақаҳои замимавии истифодашаванда
Name[th]=หน้ากำหนดเอง
Name[tr]=Özel Sayfa
Name[uk]=Нетипові сторінки
Name[wa]=Pådjes da vosse
Name[x-test]=xxCustom Pagesxx
Name[zh_CN]=定制页
Name[zh_TW]=Custom Pages
Comment=Configure the Custom Pages
Comment[af]=Stel die pasmaak blaaie op
Comment[ar]=اضبط مخصص الصفحات
Comment[bg]=Настройки на потребителските полета
Comment[br]=Kefluniañ ar pajennoù diouzhoc'h
Comment[bs]=Podešavanje korisničkih stranica
Comment[ca]=Configura les pàgines a mida
Comment[ca@valencia]=Configura les pàgines a mida
Comment[cs]=Nastavení vlastních stránek
Comment[da]=Indstil de selvvalgte sider
Comment[de]=Einstellungen für benutzerdefinierte Seiten
Comment[el]=Διαμόρφωση των προσαρμοσμένων σελίδων
Comment[en_GB]=Configure the Custom Pages
Comment[eo]=Agordi la proprajn paĝojn
Comment[es]=Configurar las páginas personalizadas
Comment[eu]=Konfiguratu orri pertsonalizatuak
Comment[fa]=پیکربندی صفحات سفارشی
Comment[fi]=Muokkaa omia sivuja
Comment[fr]=Configurer les pages personnalisées
Comment[fy]=Hjir kinne jo de oanpaste siden ynstelle
Comment[ga]=Cumraigh na Leathanaigh Shaincheaptha
Comment[gl]=Configurar as páxinas personalizadas
Comment[he]=הגדר את הדפים המותאמים אישית
Comment[hu]=Az egyéni lapok beállítása
Comment[ia]=Configura le paginas personalisate
Comment[is]=Stilla sérsniðnu síðurnar
Comment[it]=Configura le pagine personalizzate
Comment[ja]=カスタムページの設定
Comment[ka]=სამომხმარებლო გვერდების კონფიგურაცია
Comment[kk]=Өзгеше парақтарын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ទំព័រ​ផ្ទាល់​ខ្លួន
Comment[ko]=사용자 정의 페이지 설정
Comment[lt]=Konfigūruoti darbastalių skaičių ir pavadinimus
Comment[lv]=Konfigurēt pielāgotās lapas
Comment[mk]=Конфигурирајте ги сопствените страници
Comment[mr]=ऐच्छिक पाने संयोजीत करा
Comment[ms]=Konfigurkan Halaman Langganan 
Comment[nb]=Sett opp de tilpassede sidene
Comment[nds]=Egen Sieden instellen
Comment[ne]=अनुकूल पृष्ठ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de aangepaste pagina's instellen
Comment[nn]=Set opp dei tilpassa sidene
Comment[pa]=ਕਸਟਮ ਪੇਜ਼ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia własnych stron
Comment[pt]=Configurar as Páginas Personalizadas
Comment[pt_BR]=Configurar páginas personalizadas
Comment[ro]=Configurează paginile personalizate
Comment[ru]=Настройка дополнительных полей
Comment[se]=Heivet iežat siidduid
Comment[sk]=Nastavenie vlastných stránok
Comment[sl]=Nastavi prilagojene strani
Comment[sr]=Подешавање посебних страница
Comment[sr@ijekavian]=Подешавање посебних страница
Comment[sr@ijekavianlatin]=Podešavanje posebnih stranica
Comment[sr@latin]=Podešavanje posebnih stranica
Comment[sv]=Anpassa egna sidor
Comment[ta]=தனிபயன் பக்கங்களை கட்டமை
Comment[tg]=Танзимоти варақаҳои замимавии истифодашаванда
Comment[th]=ปรับแต่งหน้ากำหนดเอง
Comment[tr]=Özel Sayfaları Yapılandır
Comment[uk]=Налаштування нетипових сторінок
Comment[wa]=Apontyî les pådjes da vosse
Comment[x-test]=xxConfigure the Custom Pagesxx
Comment[zh_CN]=配置定制页
Comment[zh_TW]=設定 Custom Pages
X-KDE-Keywords=korganizer, configure, settings, custom fields
X-KDE-Keywords[bs]=KOrganizator, konfigurirati, postavke, korisnička polja
X-KDE-Keywords[ca]=korganizer, configura, arranjament, camps personalitzats
X-KDE-Keywords[ca@valencia]=korganizer, configura, arranjament, camps personalitzats
X-KDE-Keywords[da]=korganizer, indstil, indstillinger, brugertilpassede felter
X-KDE-Keywords[de]=KOrganizer,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,benutzerdefinierte Felder
X-KDE-Keywords[el]=korganizer, διαμόρφωση, ρυθμίσεις, προσαρμοσμένα πεδία
X-KDE-Keywords[en_GB]=korganizer, configure, settings, custom fields
X-KDE-Keywords[es]=korganizer, configurar, preferencias, campos personalizados
X-KDE-Keywords[fi]=korganizer, configure, settings, asetukset, custom fields, omat kentät
X-KDE-Keywords[fr]=KOrganizer, configuration, paramètres, champs personnalisés
X-KDE-Keywords[ga]=korganizer, cumraigh, socruithe, réimsí saincheaptha
X-KDE-Keywords[gl]=korganizer,configurar,opcións,campos personalizados
X-KDE-Keywords[hu]=korganizer, beállítás, beállítások, egyéni mezők
X-KDE-Keywords[ia]=korganizer, configura, preferentias, campos personalisate
X-KDE-Keywords[it]=korganizer, configurazione, impostazioni, campi personalizzati
X-KDE-Keywords[kk]=korganizer, configure, settings, custom fields
X-KDE-Keywords[km]=korganizer កំណត់​រចនាសម្ព័ន្ធ កំណត់ វាល​ផ្ទាល់ខ្លួន
X-KDE-Keywords[lt]=korganizer, konfigūruoti, nustatymai, saviti laukai
X-KDE-Keywords[mr]=के-ऑर्गनायझर, संयोजना, संयोजना, ऐच्छिक बाबी
X-KDE-Keywords[nb]=korganizer, sett opp, innstillinger, egendefinerte felter
X-KDE-Keywords[nds]=KOrganizer,instellen,inrichten,egen Feller
X-KDE-Keywords[nl]=korganizer, instellen, instellingen, eigen velden
X-KDE-Keywords[pl]=korganizer, konfiguruj, ustawienia, własne pola
X-KDE-Keywords[pt]=korganizer, configurar, configuração, campos personalizados
X-KDE-Keywords[pt_BR]=korganizer,configurar,configurações,campos personalizados
X-KDE-Keywords[ro]=korganizer, configurare, setări, opțiuni, cîmpuri personalizate
X-KDE-Keywords[ru]=korganizer,configure,settings,custom fields,настройка,органайзер,настроить,дополнительные поля
X-KDE-Keywords[sk]=korganizer, nastaviť, nastavenia, vlastné polia
X-KDE-Keywords[sl]=korganizer,nastavi,nastavitve,prilagojena polja,polja po meri
X-KDE-Keywords[sr]=korganizer,configure,settings,custom fields,К‑организатор,подешавање,подесити,поставке,посебна поља
X-KDE-Keywords[sr@ijekavian]=korganizer,configure,settings,custom fields,К‑организатор,подешавање,подесити,поставке,посебна поља
X-KDE-Keywords[sr@ijekavianlatin]=korganizer,configure,settings,custom fields,K‑organizator,podešavanje,podesiti,postavke,posebna polja
X-KDE-Keywords[sr@latin]=korganizer,configure,settings,custom fields,K‑organizator,podešavanje,podesiti,postavke,posebna polja
X-KDE-Keywords[sv]=korganizer, anpassa, inställningar, egna fält
X-KDE-Keywords[tr]=korganizer, yapılandır, ayarlar, özel alanlar
X-KDE-Keywords[uk]=korganizer,configure,settings,custom fields,налаштування,параметри,параметр,нетиповий,поле,нетипові,поля
X-KDE-Keywords[wa]=korganizer, apontyî, apontiaedjes,tchuzes,apontiaedje, tchamps da vosse
X-KDE-Keywords[x-test]=xxkorganizer, configure, settings, custom fieldsxx
X-KDE-Keywords[zh_CN]=korganizer, configure, settings, custom fields, 配置, 设置, 自定义字段
X-KDE-Keywords[zh_TW]=korganizer, configure, settings, custom fields
