[Desktop Entry]
Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigtime
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=200
X-DocPath=korganizer/index.html#config-main-time-and-date

Name=Time and Date
Name[ar]=الوقت و التاريخ
Name[bg]=Дата и час
Name[bs]=Vrijeme i datum
Name[ca]=Hora i data
Name[ca@valencia]=Hora i data
Name[cs]=Datum a čas
Name[da]=Tid og dato
Name[de]=Zeit und Datum
Name[el]=Ώρα και Ημερομηνία
Name[en_GB]=Time and Date
Name[es]=Fecha y hora
Name[et]=Kellaaeg ja kuupäev
Name[fi]=Aika ja päiväys
Name[fr]=Date et heure
Name[ga]=Am agus Dáta
Name[gl]=Hora e data
Name[hu]=Dátum és idő
Name[ia]=Hora e data
Name[it]=Data e ora
Name[ja]=日付と時間
Name[kk]=Уақыт пен Күн
Name[km]=កាលបរិច្ឆេទ និង​ពេលវេលា
Name[ko]=시간과 날짜
Name[lt]=Laikas ir data
Name[lv]=Laiks un datums
Name[mai]=समय आओर दिनांक
Name[mr]=दिनांक व वेळ
Name[nb]=Dato og klokkeslett
Name[nds]=Tiet un Datum
Name[nl]=Datum & tijd
Name[nn]=Dato og klokkeslett
Name[oc]=Ora e data
Name[pa]=ਟਾਈਮ ਅਤੇ ਮਿਤੀ
Name[pl]=Czas i data
Name[pt]=Hora e Data
Name[pt_BR]=Data e hora
Name[ro]=Oră și dată
Name[ru]=Дата и время
Name[sk]=Čas a dátum
Name[sl]=Čas in datum
Name[sr]=Време и датум
Name[sr@ijekavian]=Вријеме и датум
Name[sr@ijekavianlatin]=Vrijeme i datum
Name[sr@latin]=Vreme i datum
Name[sv]=Tid och datum
Name[th]=เวลาและวันที่
Name[tr]=Saat ve Tarih
Name[ug]=ۋاقىت ۋە چېسلا
Name[uk]=Час і дата
Name[wa]=Eure et date
Name[x-test]=xxTime and Datexx
Name[zh_CN]=时间和日期
Name[zh_TW]=時間與日期
Comment=KOrganizer Time and Date Configuration
Comment[ar]= إعدادات الوقت و التاريخ لبرنامج المنظَم
Comment[bg]=Настройване на дата и час за KOrganizer
Comment[bs]=Konfiguracija vremena i datuma KOrganizatora
Comment[ca]=Configuració de la data i hora al KOrganizer
Comment[ca@valencia]=Configuració de la data i hora al KOrganizer
Comment[cs]=Nastavení data a času pro KOrganizer
Comment[da]=Konfiguration af tid og dato for KOrganizer
Comment[de]=KOrganizer-Einstellungen für Zeit/Datum
Comment[el]=Διαμόρφωση ώρας και ημερομηνίας του KOrganizer
Comment[en_GB]=KOrganizer Time and Date Configuration
Comment[es]=Configuración de la fecha y hora de KOrganizer
Comment[et]=KOrganizeri ajaseadistused
Comment[fi]=KOrganizerin aika-asetukset
Comment[fr]=Configuration de la date et l'heure de KOrganizer
Comment[ga]=Cumraíocht Ama agus Dáta le haghaidh KOrganizer
Comment[gl]=Configuración da hora e a data do KOrganizer
Comment[hu]=KOrganizer dátum- és időbeállítások
Comment[ia]=Configuration de horas e datas in KOrganizer
Comment[it]=Configurazione data e ora di KOrganizer
Comment[ja]=KOrganizer 日付と時間の設定
Comment[kk]=KOrganizer-дің уақыт параметрлері
Comment[km]=កា​រកំណត់​រចនាសម្ព័ន្ធ​កាលបរិច្ឆេទ និង​ពេលវេលា KOrganizer
Comment[ko]=KOrganizer 시간 및 날짜 설정
Comment[lt]=KOrganizer laiko ir datos konfigūravimas
Comment[lv]=KOrganizer laika un datuma konfigurācija
Comment[mr]=के-ऑर्गनायझर वेळ व दिनांक संयोजना
Comment[nb]=KOrganizer oppsett av dato og klokkeslett
Comment[nds]=KOrganizer sien Tieden un Daten instellen
Comment[nl]=KOrganizer datum en tijd instellingen
Comment[nn]=Oppsett av dato og klokkeslett i KOrganizer
Comment[pa]=ਕੇ-ਪਰਬੰਧਕ ਟਾਈਮ ਅਤੇ ਮਿਤੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja daty i czasu dla KOrganizera
Comment[pt]=Configuração da Data e Hora no KOrganizer
Comment[pt_BR]=Configuração de data e hora do KOrganizer
Comment[ro]=Configurare oră și dată KOrganizer
Comment[ru]=Настройка даты и времени
Comment[sk]=Nastavenie času a dátumu KOrganizer
Comment[sl]=Nastavitev časa in datuma v KOrganizerju
Comment[sr]=Подешавање времена и датума у К‑организатору
Comment[sr@ijekavian]=Подешавање времена и датума у К‑организатору
Comment[sr@ijekavianlatin]=Podešavanje vremena i datuma u K‑organizatoru
Comment[sr@latin]=Podešavanje vremena i datuma u K‑organizatoru
Comment[sv]=Inställning av Korganizers tid och datum
Comment[tr]=KOrganizer Tarih ve Saat Yapılandırması
Comment[uk]=Налаштування часу і дати в KOrganizer
Comment[wa]=Apontiaedje di l' eure eyet del date di KOrganizer
Comment[x-test]=xxKOrganizer Time and Date Configurationxx
Comment[zh_CN]=KOrganizer 时间和日期配置
Comment[zh_TW]=KOrganizer 時間與日期設定
X-KDE-Keywords=korganizer,time
X-KDE-Keywords[bs]=KOrganizator, vrijeme
X-KDE-Keywords[ca]=korganizer,hora
X-KDE-Keywords[ca@valencia]=korganizer,hora
X-KDE-Keywords[cs]=korganizer,čas
X-KDE-Keywords[da]=korganizer,tid
X-KDE-Keywords[de]=KOrganizer,Zeit
X-KDE-Keywords[el]=korganizer,ώρα
X-KDE-Keywords[en_GB]=korganizer,time
X-KDE-Keywords[es]=korganizer,hora
X-KDE-Keywords[et]=korganizer,aeg
X-KDE-Keywords[fi]=korganizer,time,aika
X-KDE-Keywords[fr]=KOrganizer,temps
X-KDE-Keywords[ga]=korganizer,am
X-KDE-Keywords[gl]=kOrganizer,tempo
X-KDE-Keywords[hu]=korganizer,idő
X-KDE-Keywords[ia]=korganizer,tempore
X-KDE-Keywords[it]=korganizer,ora
X-KDE-Keywords[kk]=korganizer,time
X-KDE-Keywords[km]=korganizer ពេលវេលា
X-KDE-Keywords[lt]=korganizer,laikas
X-KDE-Keywords[mr]=के-ऑर्गनायझर, वेळ
X-KDE-Keywords[nb]=korganizer,tid
X-KDE-Keywords[nds]=KOrganizer,Tiet
X-KDE-Keywords[nl]=korganizer,tijd
X-KDE-Keywords[pl]=korganizer,czas
X-KDE-Keywords[pt]=korganizer,hora
X-KDE-Keywords[pt_BR]=korganizer,tempo
X-KDE-Keywords[ro]=korganizer,oră
X-KDE-Keywords[ru]=korganizer,time,органайзер,время
X-KDE-Keywords[sk]=korganizer,čas
X-KDE-Keywords[sl]=korganizer,čas
X-KDE-Keywords[sr]=korganizer,time,К‑организатор,време
X-KDE-Keywords[sr@ijekavian]=korganizer,time,К‑организатор,време
X-KDE-Keywords[sr@ijekavianlatin]=korganizer,time,K‑organizator,vreme
X-KDE-Keywords[sr@latin]=korganizer,time,K‑organizator,vreme
X-KDE-Keywords[sv]=korganizer,tid
X-KDE-Keywords[tr]=korganizer,zaman
X-KDE-Keywords[uk]=korganizer,time,час
X-KDE-Keywords[wa]=korganizer,eure,date
X-KDE-Keywords[x-test]=xxkorganizer,timexx
X-KDE-Keywords[zh_CN]=korganizer,time,时间
X-KDE-Keywords[zh_TW]=korganizer,time
