[Desktop Entry]
Icon=preferences-plugin
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigplugins
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=700
X-DocPath=korganizer/index.html#plugins-chapter

Name=Plugins
Name[af]=Inprop modules
Name[ar]=الملحقات
Name[bg]=Приставки
Name[br]=Lugantoù
Name[bs]=Dodaci
Name[ca]=Connectors
Name[ca@valencia]=Connectors
Name[cs]=Moduly
Name[cy]=Ategion
Name[da]=Plugin
Name[de]=Module
Name[el]=Πρόσθετα
Name[en_GB]=Plugins
Name[eo]=Kromaĵoj
Name[es]=Complementos
Name[et]=Pluginad
Name[eu]=Plugin-ak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[fy]=Plugins
Name[ga]=Breiseáin
Name[gl]=Engadidos
Name[he]=תוספים
Name[hu]=Bővítőmodulok
Name[ia]=Plug-ins
Name[is]=Íforrit
Name[it]=Estensioni
Name[ja]=プラグイン
Name[ka]=მოდულები
Name[kk]=Плагин модульдері
Name[km]=កម្មវិធី​ជំនួយ
Name[ko]=플러그인
Name[lt]=Priedai
Name[lv]=Spraudņi
Name[mai]=प्लगिन
Name[mk]=Приклучоци
Name[mr]=प्लगइन्स
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[nl]=Plug-ins
Name[nn]=Programtillegg
Name[pa]=ਪਲੱਗਇਨਾਂ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plugins
Name[ro]=Extensii
Name[ru]=Модули
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@ijekavian]=Прикључци
Name[sr@ijekavianlatin]=Priključci
Name[sr@latin]=Priključci
Name[sv]=Insticksprogram
Name[ta]=சொருகுப்பொருள்கள்
Name[th]=โปรแกรมเสริม
Name[tr]=Eklentiler
Name[ug]=قىستۇرما
Name[uk]=Додатки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[wa]=Tchôkes-divins
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=KOrganizer Plugin Configuration
Comment[af]=Korganizer inprop module opstelling
Comment[ar]=إعدادات ملحق برنامج المنظَم
Comment[bg]=Настройки на приставките за KOrganizer
Comment[br]=Kefluniadur al lugent KOrganizer
Comment[bs]=Konfiguracija dodataka KOrganizatora
Comment[ca]=Configuració del connector del KOrganizer
Comment[ca@valencia]=Configuració del connector del KOrganizer
Comment[cs]=Nastavení modulů KOrganizeru
Comment[da]=KOrganizer plugin-indstilling
Comment[de]=Modul-Einrichtung für KOrganizer
Comment[el]=Διαμόρφωση πρόσθετων του KOrganizer
Comment[en_GB]=KOrganizer Plugin Configuration
Comment[eo]=KOrganizilo-Kromaĵagordo
Comment[es]=Configuración de los complementos de KOrganizer
Comment[et]=KOrganizeri pluginate seadistused
Comment[eu]=KOrganizer-en plugin konfigurazioa
Comment[fa]=پیکربندی وصله KOrganizer
Comment[fi]=KOrganizerin liitännäisten asetukset
Comment[fr]=Configuration du module KOrganizer
Comment[fy]=KOrganizer pluginynstellings
Comment[ga]=Cumraíocht Breiseán KOrganizer
Comment[gl]=Configuración dos engadidos do KOrganizer
Comment[he]=הגדרות תוסף הארגונית
Comment[hu]=A KOrganizer bővítőmodul beállításai
Comment[ia]=Configuration de plug-ins in KOrganizer
Comment[is]=Stillingar KOrganizer íforrita
Comment[it]=Configurazione estensioni KOrganizer
Comment[ja]=KOrganizer プラグインの設定
Comment[ka]=KOrganizer მოდულების კონფიგურაცია
Comment[kk]=KOrganizer плагинінің параметрлері
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ KOrganizer
Comment[ko]=KOrganizer 플러그인 설정
Comment[lt]=KOrganizer priedų konfigūravimas
Comment[lv]=KOrganizer spraudņu konfigurācija
Comment[mk]=Конфигурација на приклучоци
Comment[mr]=के-ऑर्गनायझर प्लगइन संयोजना
Comment[ms]=Konfigurasi Plugin KOrganizer 
Comment[nb]=KOrganizer oppsett for programtillegg
Comment[nds]=Modulen för KOrganizer instellen
Comment[ne]=केडीई आयोजक प्लगइन कन्फिगरेसन
Comment[nl]=KOrganizer plug-ininstellingen
Comment[nn]=Oppsett av KOrganizer-programtillegg
Comment[pa]=ਕੇ-ਪਰਬੰਧਕ ਪਲੱਗਇਨ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia wtyczek KOrganizera
Comment[pt]=Configuração de 'Plugins' do KOrganizer
Comment[pt_BR]=Configuração dos plugins do KOrganizer
Comment[ro]=Configurare module KOrganizer
Comment[ru]=Настройка модулей
Comment[sk]=Nastavenie modulu KOrganizer
Comment[sl]=Nastavitve vstavka KOrganizerja
Comment[sr]=Подешавање прикључака у К‑организатору
Comment[sr@ijekavian]=Подешавање прикључака у К‑организатору
Comment[sr@ijekavianlatin]=Podešavanje priključaka u K‑organizatoru
Comment[sr@latin]=Podešavanje priključaka u K‑organizatoru
Comment[sv]=Korganizers inställning av insticksprogram
Comment[ta]=கேஅமைப்பாளர் சொருகுப்பொருள் வடிவமைப்பு
Comment[tr]=KOrganizer Eklenti Yapılandırması
Comment[uk]=Налаштування додатків KOrganizer
Comment[wa]=Apontiaedje des tchôkes-divins di KOrganizer
Comment[x-test]=xxKOrganizer Plugin Configurationxx
Comment[zh_CN]=KOrganizer 插件配置
Comment[zh_TW]=KOrganizer外掛程式設定
X-KDE-Keywords=korganizer,plugin,module
X-KDE-Keywords[bs]=KOrganizator, dodaci, modul
X-KDE-Keywords[ca]=korganizer,connector,mòdul
X-KDE-Keywords[ca@valencia]=korganizer,connector,mòdul
X-KDE-Keywords[da]=korganizer,plugin,modul
X-KDE-Keywords[de]=KOrganizer,Modul,Modul
X-KDE-Keywords[el]=korganizer,πρόσθετο,άρθρωμα
X-KDE-Keywords[en_GB]=korganizer,plugin,module
X-KDE-Keywords[es]=korganizer,complemento,módulo
X-KDE-Keywords[et]=korganizer,plugin,moodul
X-KDE-Keywords[fi]=korganizer,plugin,liitännäinen,module,moduuli
X-KDE-Keywords[fr]=KOrganizer,module externe,module
X-KDE-Keywords[ga]=korganizer,breiseán,modúl
X-KDE-Keywords[gl]=korganizer,engadido,módulo
X-KDE-Keywords[hu]=korganizer,bővítmény,modul
X-KDE-Keywords[ia]=korganizer,plugin,modulo
X-KDE-Keywords[it]=korganizer,estensione,modulo
X-KDE-Keywords[kk]=korganizer,plugin,module
X-KDE-Keywords[km]=korganizer កម្មវិធី​ជំនួយ ម៉ូឌុល
X-KDE-Keywords[lt]=korganizer,papildinys,modulis
X-KDE-Keywords[mr]=के-ऑर्गनायझर, प्लगइन, विभाग
X-KDE-Keywords[nb]=korganizer,programtillegg,modul
X-KDE-Keywords[nds]=KOrganizer,Moduul
X-KDE-Keywords[nl]=korganizer,plug-in,module
X-KDE-Keywords[pl]=korganizer,wtyczka,moduł
X-KDE-Keywords[pt]=korganizer,'plugin',módulo
X-KDE-Keywords[pt_BR]=korganizer,plugin,módulo
X-KDE-Keywords[ro]=korganizer,plugin,modul
X-KDE-Keywords[ru]=korganizer,plugin,module,органайзер,модуль
X-KDE-Keywords[sk]=korganizer,plugin,modul
X-KDE-Keywords[sl]=korganizer,vstavek,modul
X-KDE-Keywords[sr]=korganizer,plugin,module,К‑организатор,прикључак,модул
X-KDE-Keywords[sr@ijekavian]=korganizer,plugin,module,К‑организатор,прикључак,модул
X-KDE-Keywords[sr@ijekavianlatin]=korganizer,plugin,module,K‑organizator,priključak,modul
X-KDE-Keywords[sr@latin]=korganizer,plugin,module,K‑organizator,priključak,modul
X-KDE-Keywords[sv]=korganizer,insticksprogram,modul
X-KDE-Keywords[tr]=korganizer,eklenti,modül
X-KDE-Keywords[uk]=korganizer,plugin,module,додаток,додатки,модуль,модулі
X-KDE-Keywords[wa]=korganizer,tchôke-divins,module
X-KDE-Keywords[x-test]=xxkorganizer,plugin,modulexx
X-KDE-Keywords[zh_CN]=korganizer,plugin,module,插件,模块
X-KDE-Keywords[zh_TW]=korganizer,plugin,module
