[Desktop Entry]
Icon=preferences-desktop-color
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigcolorsandfonts
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=400
X-DocPath=korganizer/index.html#config-main-fonts

Name=Colors and Fonts
Name[ar]=الألوان و الخطوط
Name[bs]=Boje i vrsta slova
Name[ca]=Colors i tipus de lletra
Name[ca@valencia]=Colors i tipus de lletra
Name[cs]=Barvy a písma
Name[da]=Farver og skrifttyper
Name[de]=Farben und Schriftarten
Name[el]=Χρώματα και γραμματοσειρές
Name[en_GB]=Colours and Fonts
Name[es]=Colores y tipos de letra
Name[et]=Värvid ja fondid
Name[fi]=Värit ja kirjasimet
Name[fr]=Couleurs et polices
Name[ga]=Dathanna agus Clónna
Name[gl]=Cores e tipos de letra
Name[hu]=Színek és betűtípusok
Name[ia]=Colores e fontes
Name[it]=Colori e caratteri
Name[ja]=色とフォント
Name[kk]=Түс пен Қаріпі
Name[km]=ពណ៌ និង​ពុម្ពអក្សរ
Name[ko]=색과 글꼴
Name[lt]=Spalvos ir šriftai
Name[lv]=Krāsas un fonti
Name[mr]=रंग व फॉन्ट
Name[nb]=Farger og skrifter
Name[nds]=Klören un Schriftoorden
Name[nl]=Kleuren en lettertypen
Name[nn]=Fargar og skrifter
Name[pa]=ਰੰਗ ਅਤੇ ਫੋਂਟ
Name[pl]=Kolory i czcionki
Name[pt]=Cores e Tipos de Letra
Name[pt_BR]=Fontes e cores
Name[ro]=Culori și fonturi
Name[ru]=Цвета и шрифты
Name[sk]=Farby a písma
Name[sl]=Barve in pisave
Name[sr]=Боје и фонтови
Name[sr@ijekavian]=Боје и фонтови
Name[sr@ijekavianlatin]=Boje i fontovi
Name[sr@latin]=Boje i fontovi
Name[sv]=Färger och teckensnitt
Name[th]=สีและแบบอักษร
Name[tr]=Renkler ve Yazı Tipleri
Name[uk]=Кольори і шрифти
Name[wa]=Coleurs et fontes
Name[x-test]=xxColors and Fontsxx
Name[zh_CN]=颜色和字体
Name[zh_TW]=顏色與字型
Comment=KOrganizer Colors and Fonts Configuration
Comment[ar]=إعداد الألوان والخطوط لبرنامج المنظم 
Comment[bs]=KOrganizatorova Konfiguracija boja i vrsta slova
Comment[ca]=Configuració de colors i tipus de lletra del KOrganizer
Comment[ca@valencia]=Configuració de colors i tipus de lletra del KOrganizer
Comment[cs]=Nastavení barev a písem KOrganizeru
Comment[da]=Konfiguration af farver og skrifttyper for KOrganizer
Comment[de]=Farb- und Schriftdarstellung für KOrganizer
Comment[el]=Διαμόρφωση χρωμάτων και γραμματοσειρών του KOrganizer
Comment[en_GB]=KOrganizer Colours and Fonts Configuration
Comment[es]=Configuración de los colores y tipos de letra de KOrganizer
Comment[et]=KOrganizeri värvide ja fontide seadistamine
Comment[fa]=پیکربندی رنگها و قلمهای KOrganizer
Comment[fi]=KOrganizerin värien asetukset
Comment[fr]=Configuration des couleurs et des polices de KOrganizer
Comment[ga]=Cumraíocht na nDathanna/gClónna le haghaidh KOrganizer
Comment[gl]=Configuración das cores e dos tipos de letra do KOrganizer
Comment[hu]=KOrganizer szín- és betűtípus-beállítások
Comment[ia]=Configuration de colores e fontes in KOrganizer
Comment[it]=Configurazione dei colori e dei caratteri di KOrganizer
Comment[ja]=KOrganizer 色とフォントの設定
Comment[kk]=KOrganizer-дің түс пен қаріптер параметрлері
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ពុម្ពអក្សរ និង​ពណ៌ KOrganizer
Comment[ko]=KOrganizer 색과 글꼴 설정
Comment[lt]=KOrganizer spalvų ir šriftų konfigūravimas
Comment[lv]=KOrganizer krāsu un fontu konfigurācija
Comment[mr]=के-ऑर्गनायझर रंग व फॉन्ट संयोजना
Comment[nb]=KOrganizer farge- og skriftoppsett
Comment[nds]=KOrganizer sien Klören un Schriftoorden instellen
Comment[nl]=Instellingen voor kleuren en lettertypen in KOrganizer
Comment[nn]=Oppsett av fargar og skrifter i KOrganizer
Comment[pa]=ਕੇ-ਪਰਬੰਧਕ ਰੰਗ ਅਤੇ ਫੋਂਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja kolorów i czcionek KOrganizera
Comment[pt]=Configuração de Cores e Tipos de Letra do KOrganizer
Comment[pt_BR]=Configuração de fontes e cores do KOrganizer
Comment[ro]=Configurare culori și fonturi KOrganizer
Comment[ru]=Настройка цветов и шрифтов календаря
Comment[sk]=Nastavenie farieb a fontov KOrganizer
Comment[sl]=Nastavitev barv in pisav v KOrganizerju
Comment[sr]=Подешавање боја и фонтова у К‑организатору
Comment[sr@ijekavian]=Подешавање боја и фонтова у К‑организатору
Comment[sr@ijekavianlatin]=Podešavanje boja i fontova u K‑organizatoru
Comment[sr@latin]=Podešavanje boja i fontova u K‑organizatoru
Comment[sv]=Inställning av Korganizers färger och teckensnitt
Comment[tr]=KOrganizer Renk ve Yazı Tipi Yapılandırması
Comment[uk]=Налаштування кольорів і шрифтів у KOrganizer
Comment[wa]=Apontiaedje des coleurs et des fontes di KOrganizer
Comment[x-test]=xxKOrganizer Colors and Fonts Configurationxx
Comment[zh_CN]=KOrganizer 颜色和字体配置
Comment[zh_TW]=KOrganizer 顏色與字型設定
X-KDE-Keywords=korganizer,colors,fonts
X-KDE-Keywords[bs]=KOrganizator, boje, vrsta slova
X-KDE-Keywords[ca]=korganizer,colors,tipus de lletra
X-KDE-Keywords[ca@valencia]=korganizer,colors,tipus de lletra
X-KDE-Keywords[da]=korganizer,farver,skrifttyper
X-KDE-Keywords[de]=KOrganizer,Farben,Schriftarten
X-KDE-Keywords[el]=korganizer,χρώματα,γραμματοσειρές
X-KDE-Keywords[es]=korganizer,colores,tipos de letra
X-KDE-Keywords[et]=korganizer,värvid,fondid
X-KDE-Keywords[fi]=korganizer,colors,värit,fonts,kirjasimet,fontit
X-KDE-Keywords[fr]=KOrganizer,couleurs,polices
X-KDE-Keywords[ga]=korganizer,dathanna,clófhoirne,clónna
X-KDE-Keywords[gl]=korganizer,cores,tipos de letra
X-KDE-Keywords[hu]=korganizer,színek,betűtípusok
X-KDE-Keywords[ia]=korganizer,colores,fonts
X-KDE-Keywords[it]=korganizer,colori,caratteri
X-KDE-Keywords[kk]=korganizer,colors,fonts
X-KDE-Keywords[km]=korganizer ពណ៌ ពុម្ព​អក្សរ
X-KDE-Keywords[lt]=korganizer,spalvos,šriftai
X-KDE-Keywords[mr]=के-ऑर्गनायझर,रंग,फॉन्ट
X-KDE-Keywords[nb]=korganizer,farger,skrifter
X-KDE-Keywords[nl]=korganizer,kleuren,lettertypen
X-KDE-Keywords[pl]=korganizer,kolory,czcionki
X-KDE-Keywords[pt]=korganizer,cores,tipos de letra
X-KDE-Keywords[pt_BR]=korganizer,cores,fontes
X-KDE-Keywords[ro]=korganizer,culori,fonturi
X-KDE-Keywords[ru]=korganizer,colors,fonts,органайзер,цвета,шрифты
X-KDE-Keywords[sk]=korganizer,farby,písma
X-KDE-Keywords[sl]=korganizer,barve,pisave
X-KDE-Keywords[sr]=korganizer,colors,fonts,К‑организатор,боје,фонтови
X-KDE-Keywords[sr@ijekavian]=korganizer,colors,fonts,К‑организатор,боје,фонтови
X-KDE-Keywords[sr@ijekavianlatin]=korganizer,colors,fonts,K‑organizator,boje,fontovi
X-KDE-Keywords[sr@latin]=korganizer,colors,fonts,K‑organizator,boje,fontovi
X-KDE-Keywords[sv]=korganizer,färger,teckensnitt
X-KDE-Keywords[tr]=korganizer,renkler,yazı tipleri
X-KDE-Keywords[uk]=korganizer,colors,fonts,кольори,колір,шрифт,шрифти
X-KDE-Keywords[wa]=korganizer,coleurs,fontes
X-KDE-Keywords[x-test]=xxkorganizer,colors,fontsxx
X-KDE-Keywords[zh_CN]=korganizer,colors,fonts,颜色,字体
X-KDE-Keywords[zh_TW]=korganizer,colors,fonts
