[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_korganizer
X-KDE-FactoryName=korganizerconfigfreebusy
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=600

Name=Free/Busy
Name[af]=Beskikbaar/Besig
Name[bg]=Свободно/заето
Name[ca]=Lliure/ocupat
Name[cs]=Aktivita
Name[cy]=Rhydd/Prysur
Name[da]=Fri/Optaget
Name[de]=Frei/Beschäftigt
Name[eo]=Libera/Okupita
Name[es]=Libre/Ocupado
Name[et]=Vaba/hõivatud
Name[eu]=Libre/Lanpetuta
Name[fa]=آزاد/اشغال
Name[fi]=Vapaa/Varattu
Name[fr]=Disponibilité
Name[fy]=Frij/beset
Name[ga]=Saor/Gafa
Name[gl]=Ceibe/Ocupado
Name[hu]=Foglaltság
Name[is]=Tímaráðstöfun
Name[it]=Libero/Occupato
Name[ja]=フリー/ビジー
Name[ka]=თავისუფალი/დაკავებული
Name[kk]=Бос/Істе
Name[km]=ទំនេរ/រវល់
Name[ko]=사용 가능/바쁨
Name[lt]=Užimtumas
Name[lv]=Brīvs/aizņemts
Name[mk]=Слободен/зафатен
Name[ms]=Lapang/Sibuk
Name[nb]=Ledig/Opptattdekrypter/verifiser alle filer i mappa
Name[nds]=Free/Bunnen
Name[ne]=स्वतन्त्र/व्यस्त
Name[nl]=Vrij/bezet
Name[nn]=Ledig/oppteken
Name[oc]=Liure/ocupat
Name[pa]=ਵੇਹਲਾ/ਰੁਝਿਆ
Name[pl]=Wolny/zajęty
Name[pt]=Livre/Ocupado
Name[pt_BR]=Disponibilidade
Name[ro]=Liber/ocupat
Name[ru]=Занятое время
Name[sk]=Voľný čas
Name[sl]=Prost/zaseden
Name[sv]=Ledig/upptagen
Name[ta]=சுதந்திரமான/வேலையில் இருக்கும்
Name[tg]=Озод/машғул аст
Name[th]=ว่าง/ไม่ว่าง
Name[tr]=Boş/Meşgul
Name[uk]=Вільний/зайнятий час
Name[uz]=Boʻsh/Band
Name[uz@cyrillic]=Бўш/Банд
Name[x-test]=xxFree/Busyxx
Name[zh_CN]=空闲/忙碌
Name[zh_TW]=行程資訊
Comment=KOrganizer Free/Busy Configuration
Comment[af]=KOrganizer Beskikbaar/Besig opstelling
Comment[bg]=Настройки на свободно/заето за KOrganizer
Comment[ca]=Configuració de Lliure/ocupat per a KOrganizer
Comment[cs]=Nastavení aktivity pro KOrganizer
Comment[cy]=Ffurfweddiad Rhydd/Prysur KTrefnydd
Comment[da]=KOrganizer Fri/Optaget-indstilling
Comment[de]=Frei/Beschäftigt-Festlegung für KOrganizer
Comment[el]=Ρυθμίσεις KOrganizer Free/Busy
Comment[eo]=KOrganizilo Agordo pri libero/okupito
Comment[es]=Configuración de libre/ocupado de KOrganizer
Comment[et]=KOrganizeri vaba/hõivatuse seadistused
Comment[eu]=KOrganizer-en Libre/Lanpetuta konfigurazioa
Comment[fa]=پیکربندی آزاد/اشغال KOrganizer
Comment[fi]=KOrganizer vapaa/varattu asetukset
Comment[fr]=Configuration de la disponibilité pour KOrganizer
Comment[fy]=KOrganizer frij/beset ynstelle
Comment[ga]=Cumraíocht Saor/Gafa KOrganizer
Comment[gl]=Configuración de Dispoñibilidade de Korganizer
Comment[hu]=KOrganizer foglaltsági beállítások
Comment[is]=KOrganizer stillingar fyrir tímaráðstöfun
Comment[it]=Configurazione Libero/Occupato di KOrganizer
Comment[ja]=KOrganizer フリー/ビジーの設定
Comment[ka]=KOrganizer-ის თავისუფალი/დაკავებულობის კონფიგურაცია
Comment[kk]=KOrganizer--дің Бос/Істе мәлімет параметрлері
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ទំនេរ/រវល់ របស់ KOrganizer
Comment[ko]=KOrganizer 사용 가능/바쁨 설정
Comment[lt]=KOrganizer užimtumo konfigūravimas
Comment[lv]=KOrganizer brīvs/aizņemts konfigurācija
Comment[mk]=Конфигурација на слободни/зафатени термини
Comment[ms]=Konfigurasi Lapang/Sibuk KOrganizer 
Comment[nb]=KOrganizer oppsett for ledig/opptatt tid
Comment[nds]=Free/Bunnen-Instellen för KOrganizer
Comment[ne]=केडीई आयोजक स्वतन्त्र/व्यस्त कन्फिगरेसन
Comment[nl]=KOrganizer vrij/bezet instellen
Comment[nn]=Oppsett av ledig/oppteken-val i KOrganizer
Comment[pl]=Konfiguracja czasu wolnego/zajętego dla KOrganizera
Comment[pt]=Configuração de Livre/Ocupado do KOrganizer
Comment[pt_BR]=Configuração de disponibilidade do KOrganizer
Comment[ru]=Настройка свободного и занятого времени
Comment[sk]=Nastavenie voľného času pre KOrganizer
Comment[sl]=Nastavitev prost/zaseden za KOrganizer
Comment[sv]=Inställning av ledig/upptagen i Korganizer
Comment[ta]=கேஅமைப்பாளர்,சுதந்திரமான/செயலிலுள்ள கட்டமைப்பு
Comment[tg]=Танзимоти вақти озоди органайзери KDE
Comment[tr]=KOrganizer Boş/Meşgul Yapılandırması
Comment[uk]=Налаштування вільного/зайнятого часу в KOrganizer
Comment[x-test]=xxKOrganizer Free/Busy Configurationxx
Comment[zh_CN]=KOrganizer 空闲/忙碌配置
Comment[zh_TW]=KOrganizer 行程資訊設定
X-KDE-Keywords=korganizer,freebusy,scheduling
X-KDE-Keywords[af]=korganizer, freebusy, scheduling
X-KDE-Keywords[bg]=X-KDE-Keywords=организатор, свободно, заето, настройки, korganizer, freebusy, scheduling
X-KDE-Keywords[ca]=korganizer,lliure ocupat,planificació
X-KDE-Keywords[cs]=korganizer,volný,zaneprázdněn,plánování
X-KDE-Keywords[cy]=korganizer,ktrefnydd,rhydd,prysur,trefnlennu
X-KDE-Keywords[da]=korganizer,fri/optaget,skemalægning
X-KDE-Keywords[de]=KOrganizer,Frei/Beschäftigt,Ablaufplanung
X-KDE-Keywords[el]=korganizer,freebusy,προγραμματισμός
X-KDE-Keywords[es]=korganizer,libreocupado,planificación
X-KDE-Keywords[et]=korganizer,vaba,hõivatud,ajakava
X-KDE-Keywords[eu]=korganizer,libre, lanpetuta,antolaketa
X-KDE-Keywords[fa]=korganizer،آزاد اشغال، زمان‌بندی
X-KDE-Keywords[fi]=korganizer,vapaa,varattu,ajastus
X-KDE-Keywords[fr]=KOrganizer,disponibilité, planification
X-KDE-Keywords[fy]=korganizer,freebusy,scheduling,plannen,frij,beset,roaster
X-KDE-Keywords[gl]=korganizer,dispoñibilidade,axenda
X-KDE-Keywords[hu]=korganizer,foglaltság,szervezés
X-KDE-Keywords[is]=korganizer,tímaráðstöfun,áætlun
X-KDE-Keywords[it]=korganizer,libero/occupato,pianificazione
X-KDE-Keywords[ja]=korganizer,動静,スケジューラ
X-KDE-Keywords[ka]=korganizer,თავისუფალიდაკავებული,დაგეგმვა
X-KDE-Keywords[km]=korganizer,ទំនេរ,រវល់,កាលវិភាគ
X-KDE-Keywords[mk]=korganizer,freebusy,scheduling,корганизатор,слободно,зафатено,закажување
X-KDE-Keywords[ms]=korganizer,lapang sibuk,penjadualan
X-KDE-Keywords[nb]=korganizer,ledigopptatt,planlegger
X-KDE-Keywords[nds]=KOrganizer,Free/Bunnen,Free,Bunnen,Planen,Plaan
X-KDE-Keywords[ne]=केडीई आयोजक, स्वतन्त्र व्यस्त, कार्यतालिका
X-KDE-Keywords[nl]=korganizer,freebusy,scheduling,plannen,vrij,bezet,rooster
X-KDE-Keywords[pl]=korganizer,wolny/zajęty,planowanie
X-KDE-Keywords[pt]=korganizer,livre,ocupado,escalonamento
X-KDE-Keywords[pt_BR]=korganizer,livreocupado,agendamento
X-KDE-Keywords[ru]=korganizer,freebusy,scheduling,органайзер,занятое время,календарь
X-KDE-Keywords[sl]=korganizer,freebusy,razporejanje
X-KDE-Keywords[sr]=korganizer,freebusy,scheduling,слободан,заузет,планирање
X-KDE-Keywords[sr@latin]=korganizer,freebusy,scheduling,slobodan,zauzet,planiranje
X-KDE-Keywords[sv]=korganizer,ledig/upptagen,schemaläggning
X-KDE-Keywords[ta]=கேஅமைப்பாளர்,சுதந்திரமான/திட்டம் அமைத்தல்
X-KDE-Keywords[tg]=korganizer,freebusy,scheduling,органайзер, вақти холӣ,ҷадвал
X-KDE-Keywords[tr]=korganizer,boş/meşgul,zamanlama
X-KDE-Keywords[uk]=korganizer,вільно,зайнято,час,розклад
X-KDE-Keywords[x-test]=xxkorganizer,freebusy,schedulingxx
