[Desktop Entry]
Icon=korganizer
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=pim/kcms/summary/kcmapptsummary
X-KDE-FactoryName=apptsummary

X-KDE-Weight=400

Name=Upcoming Events
Name[ar]=الأحداث القادمة
Name[bs]=Nastupajući događaji
Name[ca]=Propers esdeveniments
Name[ca@valencia]=Propers esdeveniments
Name[cs]=Nadcházející události
Name[da]=Kommende begivenheder
Name[de]=Anstehende Termine
Name[el]=Επόμενα γεγονότα
Name[en_GB]=Upcoming Events
Name[es]=Próximos eventos
Name[et]=Tulevased sündmused
Name[fi]=Tulevat tapahtumat
Name[fr]=Prochains évènements
Name[ga]=Imeachtaí atá ag teacht
Name[gl]=Vindeiros eventos
Name[hu]=Események a közeljövőben
Name[ia]=Eventos a venir
Name[it]=Prossimi eventi
Name[ja]=近日中のイベント
Name[kk]=Болашақ оқиғалар
Name[km]=ព្រឹត្តិការណ៍​ដែល​នឹង​កើតឡើង
Name[ko]=다가오는 이벤트
Name[lt]=Artėjantys įvykiai
Name[lv]=Gaidāmie notikumi
Name[mr]=पुढे येणाऱ्या घटना
Name[nb]=Kommende hendelser
Name[nds]=Anstahn Begeefnissen
Name[ne]=सम्भावित घटना
Name[nl]=Nabije evenementen
Name[nn]=Kommande hendingar
Name[pa]=ਆ ਰਹੇ ਈਵੈਂਟ
Name[pl]=Nadchodzące zdarzenia
Name[pt]=Próximos Eventos
Name[pt_BR]=Próximos eventos
Name[ro]=Evenimente apropiate
Name[ru]=Предстоящие события
Name[sk]=Nové udalosti
Name[sl]=Prihodnji dogodki
Name[sr]=Наступајући догађаји
Name[sr@ijekavian]=Наступајући догађаји
Name[sr@ijekavianlatin]=Nastupajući događaji
Name[sr@latin]=Nastupajući događaji
Name[sv]=Kommande händelser
Name[th]=เหตุการณ์ที่ใกล้จะมาถึง
Name[tr]=Yaklaşan Olaylar
Name[ug]=پىلاندىكى ھادىسىلەر
Name[uk]=Майбутні події
Name[wa]=Evenmints a vni
Name[x-test]=xxUpcoming Eventsxx
Name[zh_CN]=近期事件
Name[zh_TW]=將發生的事件
Comment=Upcoming Events Summary Setup
Comment[ar]=إعداد ملخّص الأحداث القادمة
Comment[bg]=Настройки на обобщението на писмата
Comment[bs]=Postavke kratkog sadržaja nastupajućih događaja
Comment[ca]=Configuració del resum per als esdeveniments propers
Comment[ca@valencia]=Configuració del resum per als esdeveniments propers
Comment[cs]=Nastavení souhrnu nadcházejících událostí
Comment[da]=Indstilling af oversigt over kommende begivenheder
Comment[de]=Einstellung der Übersicht über anstehende Termine
Comment[el]=Ρύθμιση σύνοψης επόμενων γεγονότων
Comment[en_GB]=Upcoming Events Summary Setup
Comment[es]=Configuración del resumen de los eventos próximos
Comment[et]=Tulevaste sündmuste kokkuvõtte seadistus
Comment[fa]=برپایی خلاصه رویدادهای آینده نزدیک
Comment[fi]=Tulevien tapahtumien yhteenvedon asetukset
Comment[fr]=Configuration du résumé des prochains évènements
Comment[ga]=Socrú Achoimre ar Imeachtaí atá ag teacht
Comment[gl]=Configuración do resumo de vindeiros eventos
Comment[hu]=A közelgő események áttekintőjének beállításai
Comment[ia]=Preferentias de summarisar eventos a venir
Comment[it]=Impostazioni sommario dei prossimi eventi
Comment[ja]=近日中のイベントの要約設定
Comment[kk]=Болашақ оқигалар мазмұндамасын баптау
Comment[km]=ការ​រៀបចំ​សេចក្ដី​សង្ខេប​ព្រឹត្តិការណ៍​ដែល​នឹង​កើតឡើង
Comment[ko]=다가오는 이벤트 요약 설정
Comment[lt]=Artėjančių įvykių santraukos nuostatos
Comment[lv]=Gaidāmo notikumu kopsavilkuma iestatījumi
Comment[mr]=पुढे येणाऱ्या घटना सारांश संयोजना
Comment[nb]=Sammendragsoppsett for kommende hendelser
Comment[nds]=De Översicht för anstahn Begeefnissen instellen
Comment[ne]=सम्भावित घटना सारांश सेटअप
Comment[nl]=Overzichtsinstellingen nabije evenementen
Comment[nn]=Oppsett av samandrag over kommande hendingar
Comment[pl]=Ustawienia podsumowania nadchodzących zdarzeń
Comment[pt]=Configuração do Resumo dos Próximos Eventos
Comment[pt_BR]=Configuração do resumo dos próximos eventos
Comment[ro]=Configurare Sumar evenimente apropiate
Comment[ru]=Настройка дайджеста предстоящих событий
Comment[sk]=Súhrnné nastavenie nadchádzajúcich udalostí
Comment[sl]=Nastavitve povzetka prihodnjih dogodkov
Comment[sr]=Подешавање сажетка наступајућих догађаја
Comment[sr@ijekavian]=Подешавање сажетка наступајућих догађаја
Comment[sr@ijekavianlatin]=Podešavanje sažetka nastupajućih događaja
Comment[sr@latin]=Podešavanje sažetka nastupajućih događaja
Comment[sv]=Inställning av översikt över kommande händelser
Comment[th]=ตั้งค่าส่วนสรุปเหตุการณ์ที่ใกล้จะมาถึง
Comment[tr]=Özel Tarih Özet Yapılandırması
Comment[uk]=Зведення налаштування майбутніх подій
Comment[wa]=Apontiaedje do Racourti des evenmints a vni
Comment[x-test]=xxUpcoming Events Summary Setupxx
Comment[zh_CN]=近期事件摘要设置
Comment[zh_TW]=將發生的事件摘要設定
