[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_projectview
Name=Project View Plugin for KOrganizer
Name[af]=Projek Besigtig Inplak vir Korganizer
Name[ar]=ملحق عرض المشاريع للمنظم
Name[az]=KOrganizer Layihə Nümayiş Əlavəsi
Name[bg]=Приставка на организатора за преглед на проекти
Name[bs]=Preglednik projekata, dodatak za KOrganizer
Name[ca]=Connector per a veure projectes per a KOrganizer
Name[cs]=Modul projektového pohledu pro KOrganizer
Name[cy]=Ategyn Golwg Cywaith ar gyfer KTrefnydd
Name[da]=Projektvisning-plugin for KOrganizer
Name[de]=Projektbetrachter-Plugin für KOrganizer
Name[el]=Πρόσθετο προβολής εργασίας του KOrganizer
Name[eo]=Projektrigardo-kromaĵo por Organizilo
Name[es]=Plugin de visor de proyectos para KOrganizer
Name[et]=KOrganizeri projektivaate plugin
Name[eu]=KOrganizer-rako Proiektuak Ikusteko Plugina
Name[fi]=Projektinäkymäsovelma Korganizeriin
Name[fr]=Module afficheur de projet pour KOrganizer
Name[gl]=Extensión para Vista de Proxecto para KOrganizer
Name[he]=תוסף תצוגת פרוייקט ל-KOrganizer
Name[hi]=के-आर्गेनाइज़र के लिए परियोजना दृश्य प्लगइन
Name[hr]=KOrganizer dodatak za pogled na projekt
Name[hu]=Projektnézegető bővítőmodul a KOrganizerhez
Name[is]=Íforrit fyrir verkefnastjórn með KSkipulag
Name[it]=Plugin di vista dei progetti per KOrganizer
Name[ja]=KOrganizer 用プロジェクトビュープラグイン
Name[lt]=Projekto peržiūros priedas, skirtas KOrganizer
Name[lv]=Projekta Skatījuma Iespraudnis KOrganaizeram
Name[nb]=Programtilllegg for prosjektvisning i KOrganizer
Name[nl]=Projectenweergaveplugin voor KOrganizer
Name[nn]=Prosjektvisingsmodul for KOrganizer
Name[nso]=Plugin ya Pono ya Porojeke ya KMmeakanyi
Name[pl]=Wtyczka przeglądania projektów dla Organizatora
Name[pt]='Plugin' de Gestão de Projectos para o KOrganizer
Name[pt_BR]=Plugin de Visualização de Projetos para o KOrganizer
Name[ro]=Modul vizualizare proiect pentru KOrganizer
Name[ru]=Просмотр проекта
Name[sk]=KOrganizer modul pre projektový pohľad
Name[sl]=Vstavek za projektni prikaz za KOrganizer
Name[sr]=Прикључак KOrganizer-а за приказ пројекта
Name[sr@Latn]=Dodatak KOrganizer-a za prikaz projekta
Name[sv]=Projektvyinsticksprogram för Korganizer
Name[ta]=கேஅமைப்பாளருக்கான திட்டக் காட்சி சொருகுப்பொருள்
Name[tg]=Намоиши нақшот
Name[tr]=KOrganizer için Proje Görüntüle eklentisi
Name[uk]=Втулок перегляду проектів для KOrganizer
Name[ven]=Plugin ya mbonalelo ya phurodzhekiti ya mudzudzanyi wa K
Name[vi]=Plugin xem dự án cho KOrganizer
Name[xh]=Iprojekthi Ijongela KOrganize i Plugin
Name[xx]=xxProject View Plugin for KOrganizerxx
Name[zh_CN]=KOrganizer 的项目查看插件
Name[zh_TW]=KOrganizer 專案檢視外掛程式
Name[zu]=Project Khombisa Iplagi ye KUmgqugquzeli
Comment=This plugin provides a project planning view for korganizer (like the to-do or month views). If you enable this plugin, you can switch to the project view and view your to-do list like in a project planner.
Comment[es]=Este extensión proporciona una vista de planificación de proyectos para korganizer (como las vistas de tareas pendientes o de mes). Si activa esta extensión, puede pasar a la vista del proyecto y ver la lista de tareas pendientes como en un planificador de proyectos.
Comment[sv]=Insticksprogrammet tillhandahåller en projektplaneringsvy i Korganizer (som liknar att-göra eller månadsvyn). Om du aktiverar insticksprogrammet kan du byta till projektvyn och visa din att-göra lista som i ett projektplaneringsverktyg.
Type=Service
ServiceTypes=KOrganizer/Part
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=1
