[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_projectview
Name=Project View Plugin for KOrganizer
Name[af]=projek besigtig inplak vir korganizer
Name[ar]=ملحق عرض المشاريع للمنظم
Name[az]=KOrganizer Layihə Nümayiş Əlavəsi
Name[bs]=Preglednik projekata, dodatak za KOrganizer
Name[cs]=Modul projektového pohledu pro KOrganizer
Name[da]=Projektvisning-indstik for KOrganizer
Name[de]=Projektbetrachter für KOrganizer
Name[el]=Πρόσθετο Προβολής Εργασίας για το KOrganizer
Name[eo]=Projektrigardo-kromaĵo por Organizilo
Name[es]=Plugin de visor de proyectos para KOrganizer
Name[eu]=KOrganizer-rako Proiektuak Ikusteko Plugina
Name[fi]=Projektinäkymäsovelma Korganizeriin
Name[fr]=Module afficheur de projet pour KOrganizer
Name[he]=תוסף תצוגת פרוייקט ל-KOrganizer
Name[hu]=Projektnézegető bővítőmodul a KOrganizerhez
Name[is]=Viðbót fyrir verkefnasýn í KOrganizer
Name[it]=Plugin di vista dei progetti per KOrganizer
Name[ja]=KOrganizerのプロジェクトビュープラグイン
Name[lt]=Projekto peržiūros priedas, skirtas KOrganizer
Name[lv]=Projekta Skatījuma Iespraudnis KOrganaizeram
Name[nl]=Projectenviewerplugin voor KOrganizer
Name[nn]=Prosjektvisingsmodul for KOrganizer
Name[pt]='Plugin' de Gestão de Projectos para o KOrganizer
Name[pt_BR]=Plugin de Visualização de Projetos para o KOrganizer
Name[ro]=Modul vizualizare proiect pentru KOrganizer
Name[sk]=KOrganizer modul pre projektový pohľad
Name[sl]=Vstavek za projektni pogled za KOrganizer
Name[sv]=Projektvyinsticksprogram för Korganizer
Name[tr]=KOrganizer için Proje Görüntüle eklentisi
Name[uk]=Додаток перегляду проектів для KOrganizer
Name[ven]=Mbonalelo ya phurodzhekiti ya pulagini ya mudzudzanyi wa K
Name[vi]=Plugin xem dự án cho KOrganizer
Name[xh]=Iplagi efakiweyo Yemboniselo ye Projekti ye KOrganizer
Name[xx]=xx
Name[zh_CN]=KOrganizer的项目查看插件
Name[zu]=Project Khombisa Iplagi ye KUmgqugquzeli
Type=Service
ServiceTypes=KOrganizer/Part
