[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_projectview
Name=Project View Plugin for KOrganizer
Name[af]=projek besigtig inplak vir korganizer
Name[ar]=ملحق عرض المشاريع للمنظم
Name[az]=KOrganizer Layihə Nümayiş Əlavəsi
Name[bs]=Preglednik projekata, dodatak za KOrganizer
Name[da]=Projektvisning-indstik for KOrganizer
Name[de]=Projektbetrachter für KOrganizer
Name[es]=Plugin de visor de proyectos para KOrganizer
Name[eu]=KOrganizer-rako Proiektuak Ikusteko Plugina
Name[fi]=Projektinäkymäsovelma Korganizeriin
Name[fr]=Module afficheur de projet pour kOrganizer
Name[he]=תוסף תצוגת פרוייקט ל-KOrganizer
Name[hu]=Projektnézegető bővítőmodul a KOrganizerhez
Name[is]=Viðbót fyrir verkefnasýn í KOrganizer
Name[lt]=Projekto peržiūros priedas, skirtas KOrganizer
Name[lv]=Projekta Skatījuma Iespraudnis KOrganaizeram
Name[nl]=Projectenviewerplugin voor KOrganizer
Name[pt]='Plugin' de Gestão de Projectos para o KOrganizer
Name[pt_BR]=Plugin de Visualização de Projetos para o KOrganizer
Name[sk]=KOrganizer modul pre projektový pohľad
Name[sl]=Vstavek za projektni pogled za KOrganizer
Name[sv]=Projektvyinsticksprogram för Korganizer
Name[xh]=Iplagi efakiweyo Yemboniselo ye Projekti ye KOrganizer
Name[xx]=xx
Name[zu]=Project Khombisa Iplagi ye KUmgqugquzeli
Type=Service
ServiceTypes=KOrganizer/Part
