[Desktop Entry]
Name=KOrganizer View
Name[ca]=Vista del KOrganizer
Name[de]=KOrganizer-Ansicht
Name[en_GB]=KOrganizer View
Name[es]=Vista de KOrganizer
Name[et]=KOrganizeri vaade
Name[fr]=Vue KOrganizer
Name[ia]=Korganizer vista
Name[nl]=Beeld KOrganizer
Name[pt]=Área do KOrganizer
Name[sl]=Pogled KOrganizerja
Name[sv]=Korganizer-vy
Name[uk]=Перегляд KOrganizer
Name[x-test]=xxKOrganizer Viewxx
Comment=Display incidence specified by URL
Comment[ca]=Mostra la incidència especificada mitjançant un URL
Comment[en_GB]=Display incidence specified by URL
Comment[es]=Mostrar la incidencia indicada por URL
Comment[et]=URL-iga määratud sündmuse näitamine
Comment[fr]=Afficher de l'incidence spécifiée par l'URL
Comment[nl]=Toon URL van genoemd voorval
Comment[pt]=Mostra o evento indicado pelo URL
Comment[sl]=Prikazovanje pojavnosti, določeno z URL-jem
Comment[sv]=Visa förekomst angiven enligt webbadress
Comment[uk]=Показати подію, яку вказано за допомогою адреси
Comment[x-test]=xxDisplay incidence specified by URLxx
Type=Application
Exec=korganizer --view %u
Icon=korganizer
Terminal=false
NoDisplay=true
MimeType=application/x-vnd.akonadi.calendar.event;application/x-vnd.akonadi.calendar.journal;application/x-vnd.akonadi.calendar.todo;text/calendar
X-KDE-Protocols=akonadi

X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.korganizer
