[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=pim/kcms/korganizer/korganizer_userfeedback
X-KDE-FactoryName=korguserfeeback

X-KDE-Weight=600

Name=User Feedback
Name[ca]=Comentaris de l'usuari
Name[ca@valencia]=Comentaris de l'usuari
Name[cs]=Zpětná vazba uživatele
Name[de]=Benutzer-Feedback
Name[el]=Σχολιασμός χρήστη
Name[en_GB]=User Feedback
Name[es]=Comentarios del usuario
Name[fi]=Käyttäjäpalaute
Name[fr]=Retours des utilisateurs
Name[ia]=Responsa del usator
Name[it]=Segnalazioni degli utenti
Name[ko]=사용자 피드백
Name[nl]=FeedBack van gebruiker
Name[pl]=Informacja zwrotna
Name[pt]=Reacções do Utilizador
Name[pt_BR]=Comentários do usuário
Name[sl]=Uporabnikov povratni odziv
Name[sv]=Användaråterkoppling
Name[uk]=Відгуки користувача
Name[x-test]=xxUser Feedbackxx
Comment=KOrganizer User Feedback Configuration
Comment[ca]=Configuració dels comentaris d'usuari del KOrganizer
Comment[ca@valencia]=Configuració dels comentaris d'usuari del KOrganizer
Comment[de]=Einrichtung von Benutzer-FeedBack in KOrganizer
Comment[el]=Διαμόρφωση σχολιασμού χρήστη του KOrganizer
Comment[en_GB]=KOrganizer User Feedback Configuration
Comment[es]=Configuración de los comentarios del usuario de KOrganizer
Comment[fi]=KOrganizerin käyttäjäpalauteasetukset
Comment[fr]=Configuration pour le retour d'utilisation pour KOrganizer
Comment[ia]=Configuration de Responsa de usator de KOrganizer
Comment[it]=Configurazione Segnalazioni degli utenti di KOrganizer
Comment[ko]=KOrganizer 사용자 피드백 설정
Comment[nl]=KOrganizer instellen voor terugkoppelen door gebruiker
Comment[pl]=Ustawienia informacji zwrotnej użytkownika dla KOrganizera
Comment[pt]=Configuração das Reacções dos Utilizadores do KOrganizer
Comment[pt_BR]=Configuração dos comentários do usuário do KOrganizer
Comment[sl]=Nastavitve uporabnikovega povratnega odziva v KOrganizerju
Comment[sv]=Inställning av Korganizer användaråterkoppling
Comment[uk]=Налаштування відгуків користувача щодо KOrganizer
Comment[x-test]=xxKOrganizer User Feedback Configurationxx
