[Desktop Entry]
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=korganizer_userfeedback
X-KDE-FactoryName=korguserfeeback
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=korganizer
X-KDE-ParentComponents=korganizer,kontact_korganizerplugin
X-KDE-CfgDlgHierarchy=KOrganizer
X-KDE-Weight=600

Name=UserFeedBack
Name[ca]=UserFeedBack
Name[ca@valencia]=UserFeedBack
Name[el]=UserFeedBack
Name[en_GB]=UserFeedBack
Name[es]=Comentarios del usuario
Name[et]=Kasutaja tagasiside
Name[fi]=Käyttäjäpalaute
Name[fr]=UserFeedBack
Name[ia]=Responsa de usator
Name[it]=UserFeedback
Name[ko]=사용자 피드백
Name[nl]=UserFeedBack
Name[pl]=Informacja Zwrotna Użytkownika
Name[pt]=UserFeedBack
Name[pt_BR]=Comentários do usuário
Name[ru]=UserFeedBack
Name[sl]=UserFeedBack
Name[sv]=Användaråterkoppling
Name[uk]=Відгуки користувача
Name[x-test]=xxUserFeedBackxx
Comment=KOrganizer UserFeedBack Configuration
Comment[ca]=Configuració de l'UserFeedBack per al KOrganizer
Comment[ca@valencia]=Configuració de l'UserFeedBack per al KOrganizer
Comment[el]=Διαμόρφωση UserFeedBack του KOrganizer
Comment[en_GB]=KOrganizer UserFeedBack Configuration
Comment[es]=Configuración de los comentarios del usuario de KOrganizer
Comment[et]=KOrganizeri kasutaja tagasiside seadistused
Comment[fi]=KOrganizerin käyttäjäpalauteasetukset
Comment[fr]=Configuration pour le retour d'utilisation pour KOrganizer
Comment[ia]=Configuration de Responsa de usator de KOrganizer
Comment[it]=Configurazione UserFeedBack di KOrganizer
Comment[ko]=KOrganizer 사용자 피드백 설정
Comment[nl]=KOrganizer UserFeedBack configuratie
Comment[pl]=Ustawienia informacji zwrotnej użytkownika dla KOrganizera
Comment[pt]=Configuração das Reacções dos Utilizadores do KOrganizer
Comment[pt_BR]=Configuração dos comentários do usuário do KOrganizer
Comment[ru]=Настройка параметров обратной связи KOrganizer
Comment[sl]=Nastavitve uporabniškega povratnega odziva za KOrganizer
Comment[sv]=Inställning av Korganizer användaråterkoppling
Comment[uk]=Налаштовування відгуків користувача у KOrganizer
Comment[x-test]=xxKOrganizer UserFeedBack Configurationxx
X-KDE-Keywords=korganizer,userfeedback
X-KDE-Keywords[ca]=korganizer,userfeedback
X-KDE-Keywords[ca@valencia]=korganizer,userfeedback
X-KDE-Keywords[de]=KOrganizer,feedback
X-KDE-Keywords[el]=korganizer,userfeedback
X-KDE-Keywords[en_GB]=korganizer,userfeedback
X-KDE-Keywords[es]=korganizer,comentarios del usuario
X-KDE-Keywords[et]=korganizer,kasutaja tagasiside
X-KDE-Keywords[fi]=korganizer,käyttäjäpalaute
X-KDE-Keywords[fr]=korganizer,userfeedback
X-KDE-Keywords[ia]=korganizer, userfeedback
X-KDE-Keywords[it]=korganizer,userfeedback
X-KDE-Keywords[ko]=korganizer,userfeedback,사용자 피드백
X-KDE-Keywords[nl]=korganizer,userfeedback
X-KDE-Keywords[pl]=korganizer,informacja zwrotna użytkownika
X-KDE-Keywords[pt]=korganizer,reacções,utilizadores
X-KDE-Keywords[pt_BR]=korganizer,comentários do usuario
X-KDE-Keywords[ru]=korganizer,userfeedback,органайзер,обратная связь
X-KDE-Keywords[sl]=korganizer,uporabnikov odziv
X-KDE-Keywords[sv]=korganizer,användaråterkoppling
X-KDE-Keywords[uk]=korganizer,userfeedback,відгуки,дані
X-KDE-Keywords[x-test]=xxkorganizerxx,xxuserfeedbackxx
