[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_listprint
Name=List Print Style
Name[x-test]=xxList Print Stylexx
Comment=This plugin allows you to print out events and to-dos in list form.
Comment[x-test]=xxThis plugin allows you to print out events and to-dos in list form.xx
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
