[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_listprint
Name=List Print Style
Name[ca]=Estil d'impressió en llista
Name[da]=Listeudskriftsstil
Name[de]=Listen Druckstil
Name[es]=Estilo de impresión de la lista
Name[et]=Nimekirja trükkimise stiil
Name[fr]=Impression en liste
Name[hu]=Eseménylista kinyomtatása
Name[it]=Stile di stampa ad elenco
Name[nl]=Printstijl voor lijsten
Name[nn]=Utskriftsstil for dagbøker
Name[pl]=Styl drukowania listy
Name[pt]=Estilo de Impressão em Lista
Name[pt_BR]=Estilo de Impressão em Lista
Name[ru]=Стиль печати списка
Name[sl]=Slog tiskanja v obliki list
Name[sr]=Листајући стил штампе
Name[sr@Latn]=Listajući stil štampe
Name[sv]=List-utskriftsstil
Name[ta]=அச்சு பாணியை பட்டியலிடு
Name[uk]=Стиль друку списком
Name[zh_CN]=列表打印样式
Comment=This plugin allows you to print out events and to-dos in list form.
Comment[bg]=Приставката служи за печат на събитията и задачите в списъчна форма.
Comment[ca]=Aquest endollable permet imprimir esdeveniments i tasques pendents en forma de llista.
Comment[da]=Dette plugin gør at du kan udskrive begivenheder og opgaver på en liste.
Comment[de]=Mit diesem Plugin können Ereignisse und Aufgaben in Listenform ausgedruckt werden.
Comment[es]=Esta extensión le permite imprimir eventos y tareas pendientes en forma de lista.
Comment[et]=See plugin võimaldab trükkida sündmusi ja ülesandeid nimekirjana.
Comment[fr]=Ce module vous permet d'imprimer les évènements et les tâches sous forme de liste
Comment[hu]=Ezzel a modullal listaként kinyomtathatók a feladatok és események.
Comment[it]=Questo plugin ti permette di stampare eventi e cose da fare in modalità elenco.
Comment[nl]=Deze plugin maakt het mogelijk om evenementen en taken in lijstvorm uit te printen.
Comment[nn]=Dette programtillegget lèt deg skriva ut hendingar og hugselister på listeform.
Comment[pl]=Ta wtyczka pozwala drukować zdarzenia i zadania w postaci listy.
Comment[pt]=Este 'plugin' permite-lhe imprimir os eventos e os itens por-fazer no formato de uma lista.
Comment[pt_BR]=Este plugin permite que você imprima eventos e pendências em forma de lista.
Comment[ru]=Этот модуль позволяет печатать список событий и задач.
Comment[sl]=Ta vstavek vam omogoča natis dogodkov in čakajočih opravil v obliki seznama.
Comment[sr]=Овај прикључак вам омогућава да одштампате догађаје и послове у облику листе.
Comment[sr@Latn]=Ovaj priključak vam omogućava da odštampate događaje i poslove u obliku liste.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut händelser och uppgifter i en lista.
Comment[ta]=இந்த சொருகுப்பொருள் பட்டியல் படிவத்தில் உள்ள செய்திகள் மற்றும் செய்யவேண்டியவைகளை அச்சிட உங்களை அனுமதிக்கிறது.
Comment[tr]=Bu eklenti, olayları ve yapılacaklar listesini bir liste biçiminde yazdırmanızı sağlar.
Comment[uk]=Цей втулок дозволяє друкувати події і завдання у вигляді списку.
Comment[xx]=xxThis plugin allows you to print out events and to-dos in list form.xx
Comment[zh_CN]=此插件允许您以列表格式打印事件和待办事宜。
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
