[Desktop Entry]
Encoding=UTF-8
X-KDE-Library=libkorg_listprint
Name=List Print Style
Name[da]=Listeudskriftsstil
Name[es]=Estilo de impresión de la lista
Name[et]=Nimekirja trükkimise stiil
Name[fr]=Impression en liste
Name[it]=Stile di stampa ad elenco
Name[nl]=Printstijl voor lijsten
Name[pt]=Estilo de impressão em lista
Name[pt_BR]=Estilo de impressão em lista
Name[ru]=Печать списка
Name[sr]=Листајући стил штампе
Name[sr@Latn]=Листајући стил штампе
Name[sv]=List-utskriftsstil
Name[tr]=Liste stili yazdırma
Name[uk]=Стиль друку списком
Name[xx]=xxList print stylexx
Comment=This plugin allows you to print out events and to-dos in list form.
Comment[bg]=Приставката служи за печат на събитията и задачите в списъчна форма.
Comment[da]=Dette plugin gør at du kan udskrive begivenheder og opgaver på en liste.
Comment[es]=Esta extensión le permite imprimir eventos y tareas pendientes en forma de lista.
Comment[et]=See plugin võimaldab trükkida sündmusi ja ülesandeid nimekirjana.
Comment[fr]=Ce module vous permet d'imprimer les évènements et les tâches sous forme de liste
Comment[it]=Questo plugin ti permette di stampare eventi e cose da fare in modalità elenco.
Comment[nl]=Deze plugin maakt het mogelijk om evenementen en taken in lijstvorm uit te printen.
Comment[pt]=Este 'plugin' permite-lhe imprimir os eventos e os itens por-fazer no formato de uma lista.
Comment[pt_BR]=Este plugin permite que você imprima eventos e pendências em forma de lista.
Comment[ru]=Этот модуль позволяет печатать список событий и задач.
Comment[sr]=Овај прикључак вам омогућава да одштампате догађаје и послове у облику листе.
Comment[sr@Latn]=Овај прикључак вам омогућава да одштампате догађаје и послове у облику листе.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut händelser och uppgifter i en lista.
Comment[tr]=Bu eklenti, olayları ve yapılacaklar listesini bir liste biçiminde yazdırmanızı sağlar.
Comment[uk]=Цей втулок дозволяє друкувати події і завдання у вигляді списку.
Comment[xx]=xxThis plugin allows you to print out events and to-dos in list form.xx
Type=Service
ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
